<div class="container flex flex-col items-center justify-center h-full">
    <div class="w-full max-w-md">
        <app-company-logo [logoSource]="logoSource" />
        <div
            class="flex items-center justify-center pt-7 m-auto left-0 right-0 text-center mt-0 w-9/12 text-xl"
            [ngStyle]="{
            color:
                primaryColor == '#ffffff' || primaryColor == '#fff'
                ? '#1e1e1e'
                : '#fff'
            }"
        >
            {{ "login.changepasswordtitle" | translate }}
        </div>
        <div
            class="flex items-center justify-center pt-4 m-auto left-0 right-0 text-center mt-0 pt-8 mb-8"
            [ngStyle]="{
            color:
                primaryColor == '#ffffff' || primaryColor == '#fff'
                ? '#1e1e1e'
                : '#fff'
            }"
        >
            {{ "login.changepassworddesc" | translate }}
        </div>
        <div>
            <form
                class="m-auto text-center mb-8"
                [formGroup]="changePasswordForm"
                (ngSubmit)="changePassword()"
            >
                <div class="flex items-center justify-center mb-6 relative">
                    <input
                        class="text-sm shadow appearance-none border rounded-[10px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-none"
                        id="password"
                        [type]="fieldTextType ? 'text' : 'password'"
                        placeholder="{{ 'changepassword.password' | translate }}"
                        formControlName="password"
                        [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700': submitted && f['password'].errors }"
                    />
                    <fa-icon
                        class="fa absolute inset-y-0 right-0 flex items-center px-4 text-gray-600"
                        [icon]="!fieldTextType ? eyeSlashIcon : eyeIcon"
                        (click)="toggleFieldTextType()"
                    ></fa-icon>
                </div>
                <div *ngIf="submitted && f['password'].errors">
                    <p *ngIf="f['password'].errors['required']" class="-mt-4 mb-4 text-sm text-white dark:text-white">
                        <span class="font-medium">{{'password.oops' | translate}}</span> {{'password.passwordrequired' | translate}}
                    </p>
                    <div *ngIf="f['password'].errors['minlength']" class="-mt-4 mb-4 text-sm text-white dark:text-white">
                      {{'password.atleast' | translate}}
                    </div>
                    <div *ngIf="f['password'].errors['maxlength']" class="-mt-4 mb-4 text-sm text-white dark:text-white">
                        {{'password.notexceed' | translate}}
                    </div>
                </div>
                <div class="-mt-3 mb-4" *ngIf="requiredValid">
                    <div class="mb-1 text-xs text-white dark:text-white relative flex space-between">
                        <fa-icon
                        class="fa absolute inset-y-0 right-0 flex items-center"
                        [ngClass]="{'text-green-300': minLengthValid, 'text-red-300': !minLengthValid}"
                        [icon]="minLengthValid ? checkCircleIcon : timesCircleIcon"
                        ></fa-icon>
                        {{'password.atleast' | translate}}
                    </div>
              
                    <div class="mb-1 text-xs text-white dark:text-white relative flex space-between">
                      <fa-icon
                        class="fa absolute inset-y-0 right-0 flex items-center"
                        [ngClass]="{'text-green-300': requiresDigitValid, 'text-red-300': !requiresDigitValid}"
                        [icon]="requiresDigitValid ? checkCircleIcon : timesCircleIcon"
                        ></fa-icon>
                        {{'password.digit' | translate}}
                    </div>
              
                    <div class="mb-1 text-xs text-white dark:text-white relative flex space-between">
                      <fa-icon
                        class="fa absolute inset-y-0 right-0 flex items-center"
                        [ngClass]="{'text-green-300': requiresUppercaseValid, 'text-red-300': !requiresUppercaseValid}"
                        [icon]="requiresUppercaseValid ? checkCircleIcon : timesCircleIcon"
                        ></fa-icon>
                        {{'password.uppercase' | translate}}
                    </div>
              
                    <div class="mb-1 text-xs text-white dark:text-white relative flex space-between">
                      <fa-icon
                        class="fa absolute inset-y-0 right-0 flex items-center"
                        [ngClass]="{'text-green-300': requiresLowercaseValid, 'text-red-300': !requiresLowercaseValid}"
                        [icon]="requiresLowercaseValid ? checkCircleIcon : timesCircleIcon"
                        ></fa-icon>
                        {{'password.lowercase' | translate}}
                    </div>
              
                    <div class="mb-1 text-xs text-white dark:text-white relative flex space-between">
                      <fa-icon
                        class="fa absolute inset-y-0 right-0 flex items-center text-white"
                        [ngClass]="{'text-green-300': requiresSpecialCharsValid, 'text-red-300': !requiresSpecialCharsValid}"
                        [icon]="requiresSpecialCharsValid ? checkCircleIcon : timesCircleIcon"
                        ></fa-icon>
                        {{'password.specialcharacter' | translate}}
                    </div>
                </div>
                <div class="flex items-center justify-center mb-6 relative">
                    <input
                        class="text-sm shadow appearance-none border rounded-[10px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-none"
                        id="confirmpassword"
                        [type]="fieldConfirmTextType ? 'text' : 'password'"
                        placeholder="{{ 'changepassword.confirmpassword' | translate }}"
                        formControlName="confirmPassword"
                        [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700': submitted && f['confirmPassword'].errors }"
                    />
                    <fa-icon
                        class="fa absolute inset-y-0 right-0 flex items-center px-4 text-gray-600"
                        [icon]="!fieldConfirmTextType ? eyeSlashIcon : eyeIcon"
                        (click)="toggleFieldConfirmTextType()"
                    ></fa-icon>
                </div>
                <div *ngIf="submitted && f['confirmPassword'].errors">
                    <p *ngIf="f['confirmPassword'].errors['required']" class="-mt-4 mb-4 text-sm text-white dark:text-white">
                        <span class="font-medium">{{'password.oops' | translate}}</span> {{'password.confirmpasswordrequired' | translate}}
                    </p>
                    <div *ngIf="f['confirmPassword'].errors['matching']" class="-mt-4 mb-4 text-sm text-white dark:text-white">
                        {{'password.notmatch' | translate}}
                    </div>
                </div>
                <div class="flex items-center justify-center mb-6">
                    <button
                        type="submit"
                        class="inline-block h-[40px] text-sm px-6 py-2 font-semibold bg-white rounded-[10px] hover:bg-black hover:text-white focus:ring-4 focus:ring-offset-black focus:outline-none"
                        [ngStyle]="{
                            color: buttonColor,
                            'border-color':
                            primaryColor == '#ffffff' || primaryColor == '#fff'
                                ? buttonColor
                                : 'transparent',
                            'border-width':
                            primaryColor == '#ffffff' || primaryColor == '#fff'
                                ? '1px'
                                : '0',
                            'border-style':
                            primaryColor == '#ffffff' || primaryColor == '#fff'
                                ? 'solid'
                                : 'none'
                        }"
                    >
                        {{ "changepassword.change" | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="flex items-center justify-center mb-10 hover:cursor-pointer">
      <a
        class="text-sm hover:cursor-pointer"
        [routerLink]="['/auth/login']"
        [ngStyle]="{
          color:
            primaryColor == '#ffffff' || primaryColor == '#fff'
              ? '#1e1e1e'
              : '#fff'
        }"
        >{{ "login.returntologin" | translate }}</a
      >
    </div>
</div>