<app-chat-room
    [canChat]="canChat"
    [buttonColor]="buttonColor"
    [companyId]="companyId"
    [id]="id"
    [image]="image"
    [firstName]="firstName"
    [name]="name"
    [userId]="userId"
    [userFirstName]="userFirstName"
    [userName]="userName"
    [userImage]="userImage"
    [userData]="userData"
    [senderBalance]="senderBalance"
    [reloadData]="reloadData"
    [currentUserImage]="currentUserImage"
    [chatRole]="chatRole"
    [chatTimer]="chatTimer"
    [chatEnded]="chatEnded"
    [existingChatGuid]="existingChatGuid"
>
</app-chat-room>