<ng-container *ngIf="!isLoading && videoCTA?.id > 0">
    <div class="w-full min-h-screen relative" [ngStyle]="{
        'zIndex': '-1'
    }">
        <ng-container *ngIf="bannerImage">
            <img class="absolute top-0 left-0 w-full h-full object-cover" src="{{ bannerImage }}"  [ngStyle]="{
                'zIndex': '-1'
            }" />
        </ng-container>
        <div class="max-w-full sm:max-w-full md:max-w-screen-xl lg:max-w-screen-xl p-5 mx-auto">
            <ng-container *ngIf="pageTitleText">
                <span [innerHtml]="pageTitleText | safeContentHtml: 'html'"  class="custom-video-landing-text"></span> 
            </ng-container>
            <div *ngIf="activateVideo" class="mt-5">
                <ng-container *ngIf="activateTimedButton && activatedVideoTime">
                    <div class="w-full max-w-full flex justify-center max-h-[560px] min-h-[300px]">
                        <div id="vimeo-player" #playerContainer class="z-40"></div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!activateTimedButton || (activateTimedButton && activatedTime) || !videoCTA?.vimeo_id">
                    <ng-container *ngIf="videoEmbed && updatedCode">
                        <div class="w-full max-w-full flex justify-center">
                            <iframe 
                                class="iframe-ctrl z-40"
                                id="{{ 'iframe-1' }}"
                                [src]="updatedVideo" 
                                width="100%" 
                                height="50vh"
                                *ngIf="videoEmbed?.indexOf('iframe') < 0"
                                allowfullscreen="allowfullscreen" 
                                mozallowfullscreen="mozallowfullscreen" 
                                msallowfullscreen="msallowfullscreen" 
                                oallowfullscreen="oallowfullscreen" 
                                webkitallowfullscreen="webkitallowfullscreen"
                                allow=autoplay
                                [ngStyle]="{
                                    'height': '560px'
                                }"
                            >
                            </iframe>
                        </div>
                        <div 
                            class="w-full max-w-full flex justify-center max-h-[560px] min-h-[300px]" 
                           [innerHtml]="updatedCode | safeContentHtml: 'html'" 
                            *ngIf="videoEmbed?.indexOf('iframe') >= 0">
                        </div>
                    </ng-container>
                </ng-container>
            </div>
            <div class="w-9/12 mx-auto my-10" *ngIf="activateDescription" [ngStyle]="{'color': descriptionTextColor}">
                <div class="relative h-full max-h-full"
                    [ngClass]="{'flex flex-col': !descriptionText}">
                    <div [ngClass]="{'flex justify-center items-center': !descriptionText, 'flex-col': CTAText}">
                        <ng-container *ngIf="!activateTimedButton || (activateTimedButton && activatedTime)">
                            <div *ngIf="activateCTA && CTAText && showCTA">
                                <ng-container *ngIf="descriptionText">
                                    <span [innerHtml]="descriptionText | safeContentHtml: 'html'" class="custom-video-landing-text"></span>
                                </ng-container>
                                <ng-container *ngIf="!descriptionText">
                                    <span class="font-semibold text-lg">{{ 'company-settings.description' | translate }}</span>
                                </ng-container>
                                <div class="text-center mt-2">
                                    <button type="button" class="rounded-lg h-auto min-h-[40px] px-16 font-semibold uppercase"
                                        [ngStyle]="{'background-color': CTAButtonColor, 'color': CTATextColor}"
                                        (click)="redirectToCTALink()">
                                        {{CTAText}}
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="activateTimedButton && activatedVideoTime">
                            <div *ngIf="activateCTA && CTAText" >
                                <ng-container *ngIf="!videoCTA?.vimeo_id">
                                    <span [innerHtml]="descriptionText | safeContentHtml: 'html'" class="custom-video-landing-text"></span>
                                    <div class="text-center mt-3">
                                        <button type="button" class="rounded-lg h-auto min-h-[40px] px-16 font-semibold uppercase"
                                            [ngStyle]="{'background-color': CTAButtonColor, 'color': CTATextColor}"
                                            (click)="redirectToCTALink()">
                                            {{CTAText}}
                                        </button>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="descriptionText">
                                    <span id="desc" #desc style="display:none" [innerHtml]="descriptionText | safeContentHtml: 'html'" class="custom-video-landing-text"></span>
                                </ng-container>
                                <ng-container *ngIf="!descriptionText">
                                    <span id="desc" #desc style="display:none" class="font-semibold text-lg">{{ 'company-settings.description' | translate }}</span>
                                </ng-container>
                                <div class="text-center mt-2">
                                    <button id="cta" #cta style="display:none" type="button" class="rounded-lg h-auto min-h-[40px] px-16 font-semibold uppercase"
                                        [ngStyle]="{'background-color': CTAButtonColor, 'color': CTATextColor}"
                                        (click)="redirectToCTALink()">
                                        {{CTAText}}
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div *ngIf="quesAnsText">
                <div class="min-h-[100px]"
                    [ngClass]="{'flex flex-col': !quesAnsText}">
                    <div class=""
                    [ngClass]="{'flex justify-center items-center': quesAnsText}">
                        <ng-container *ngIf="quesAnsText">
                            <span [innerHtml]="quesAnsText | safeContentHtml: 'html'" class="custom-video-landing-text"></span>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="footerText"  class="w-full">
        <div class="min-h-[80px] bg-[#000000]"
        [ngClass]="{'flex justify-center items-center': footerText}">
            <ng-container *ngIf="footerText">
                <p class="text-[#808080]">{{footerText}}</p>
            </ng-container>
        </div>
    </div>
</ng-container>
<div *ngIf="!isLoading && !(videoCTA?.id > 0)" class="center pt-16">
    <app-no-access></app-no-access>
</div>