<ng-container *ngIf="!isLoading && videoCTA?.id > 0">
    <div class="max-w-full sm:max-w-full md:max-w-screen-xl lg:max-w-screen-xl py-8 mx-auto">
        <div *ngIf="activateVideo">
            <ng-container *ngIf="activateTimedButton && activatedVideoTime">
                <div class="md:w-full md:max-w-full md:flex md:justify-center lg:w-full lg:max-w-full lg:flex lg:justify-center">
                    <div id="vimeo-player" #playerContainer></div>
                </div>
            </ng-container>
            <ng-container *ngIf="!activateTimedButton || (activateTimedButton && activatedTime) || !videoCTA?.vimeo_id">
                <ng-container *ngIf="videoEmbed && updatedCode">
                    <div class="w-full max-w-full flex justify-center">
                        <iframe 
                            class="iframe-ctrl"
                            id="{{ 'iframe-1' }}"
                            [src]="updatedVideo" 
                            width="100%" 
                            height="50vh"
                            *ngIf="videoEmbed?.indexOf('iframe') < 0"
                            allowfullscreen="allowfullscreen" 
                            mozallowfullscreen="mozallowfullscreen" 
                            msallowfullscreen="msallowfullscreen" 
                            oallowfullscreen="oallowfullscreen" 
                            webkitallowfullscreen="webkitallowfullscreen"
                            allow=autoplay
                            [ngStyle]="{
                                'height': '560px'
                            }"
                        >
                        </iframe>
                    </div>
                    <div 
                        class="w-full max-w-full flex justify-center" 
                       [innerHtml]="updatedCode | safeContentHtml: 'html'" 
                        *ngIf="videoEmbed?.indexOf('iframe') >= 0">
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="w-9/12 mx-auto my-8" *ngIf="activateDescription" [ngStyle]="{'color': descriptionTextColor}">
            <div class="relative h-full max-h-full"
                [ngClass]="{'flex flex-col': !descriptionText}">
                <div [ngClass]="{'flex justify-center items-center': !descriptionText, 'flex-col': CTAText}">
                    <ng-container *ngIf="!activateTimedButton || (activateTimedButton && activatedTime)">
                        <div *ngIf="activateCTA && CTAText && showCTA" class="pt-8">
                            <ng-container *ngIf="descriptionText">
                                <span [innerHtml]="descriptionText | safeContentHtml: 'html'"></span>
                            </ng-container>
                            <ng-container *ngIf="!descriptionText">
                                <span class="font-semibold text-lg">{{ 'company-settings.description' | translate }}</span>
                            </ng-container>
                            <div class="text-center mt-2">
                                <button type="button" class="rounded-lg h-auto min-h-[40px] px-16 font-semibold"
                                    [ngStyle]="{'background-color': CTAButtonColor, 'color': CTATextColor}"
                                    (click)="redirectToCTALink()">
                                    {{CTAText}}
                                </button>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="activateTimedButton && activatedVideoTime">
                        <div *ngIf="activateCTA && CTAText" class="pt-8">
                            <ng-container *ngIf="!videoCTA?.vimeo_id">
                                <span [innerHtml]="descriptionText | safeContentHtml: 'html'"></span>
                                <div class="text-center mt-3">
                                    <button type="button" class="rounded-lg h-auto min-h-[40px] px-16 font-semibold"
                                        [ngStyle]="{'background-color': CTAButtonColor, 'color': CTATextColor}"
                                        (click)="redirectToCTALink()">
                                        {{CTAText}}
                                    </button>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="descriptionText">
                                <span id="desc" #desc style="display:none" [innerHtml]="descriptionText | safeContentHtml: 'html'"></span>
                            </ng-container>
                            <ng-container *ngIf="!descriptionText">
                                <span id="desc" #desc style="display:none" class="font-semibold text-lg">{{ 'company-settings.description' | translate }}</span>
                            </ng-container>
                            <div class="text-center mt-2">
                                <button id="cta" #cta style="display:none" type="button" class="rounded-lg h-auto min-h-[40px] px-16 font-semibold"
                                    [ngStyle]="{'background-color': CTAButtonColor, 'color': CTATextColor}"
                                    (click)="redirectToCTALink()">
                                    {{CTAText}}
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<div *ngIf="!isLoading && !(videoCTA?.id > 0)" class="center pt-16">
    <app-no-access></app-no-access>
</div>