<div class="container w-screen-xl w-full max-w-screen-xl px-4 md:px-0 lg:px-0 mx-auto py-3 border border-b-2 border-l-0 border-r-0 border-t-0">
    <h1 class="text-2xl">
        {{ 'sidebar.yournotifications' | translate }} {{ notificationsLength > 0 ? ('(' + notificationsLength + ')') : '' }}
    </h1>
</div>
<div class="py-6">
    <div class="flex items-center justify-end w-full max-w-full">
        <div>
            <app-button-group class="flex justify-end"
                [buttonColor]="buttonColor"
                [buttonList]="buttonList"
                (onButtonClick)="filteredStatus($event)"
            >
            </app-button-group>
        </div>
    </div>
    <div class="w-full min-w-full py-8">
        <div class="mat-table-responsive">
            <mat-table [dataSource]="notificationsDataSource" matSort>
                <ng-container matColumnDef="message">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'notification-popup.message' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="message"><div [innerHtml]="row?.message + ' - ' + row.id"></div></mat-cell>
                </ng-container>
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'login.emailaddress' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="email"><div>{{ row?.email }}</div></mat-cell>
                </ng-container>
                <ng-container matColumnDef="created">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'posts.date' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="created">{{ row?.created | date: 'dd MMM yyyy'  }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'pricing.status' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="status">
                        <span style="text-transform:uppercase" 
                            [ngStyle]="{'color': row?.status ? (row?.approved || row?.accepted ? '#4bb543' : (row?.declined || row?.not_approved ? '#c24153' : buttonColor)) : ''}">
                            {{ row?.status }}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="object_type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'plan-details.type' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="object_type"><span style="text-transform:uppercase" [ngStyle]="{'color': buttonColor}">{{ row?.object_type }}</span></mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'job-offers.action' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="action">
                        <div class="flex items-center align-center">
                            <ng-container *ngIf="isRequest(row) && !row?.read_status">
                                <div class="flex">
                                    <svg (click)="acceptInvite(row)" [ngStyle]="{'color': '#5cb85c'}" class="mr-2 hover:cursor-pointer w-8 h-8 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                                    </svg>
                                    <svg (click)="declineNotification(row)" [ngStyle]="{'color': '#d9534f'}" class="hover:cursor-pointer w-8 h-8 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
                                    </svg>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="isForApproval(row) && !row?.read_status">
                                <div class="answer">
                                    <svg [ngStyle]="{'color': buttonColor}" (click)="viewRequest(row)" class="hover:cursor-pointer w-6 h-6 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                                        <path d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"/>
                                    </svg>
                                    <svg (click)="approveRequest(row)" [ngStyle]="{'color': '#5cb85c'}" class="mr-2 hover:cursor-pointer w-8 h-8 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                                    </svg>
                                    <svg (click)="denyRequest(row)" [ngStyle]="{'color': '#d9534f'}" class="hover:cursor-pointer w-8 h-8 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
                                    </svg>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="isComment(row)">
                                <div class="answer">
                                    <svg [ngStyle]="{'color': buttonColor}" (click)="viewComment(row)" class="hover:cursor-pointer w-6 h-6 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                                        <path d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"/>
                                    </svg>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="row.type == 'VS_COMPANY_GROUP_PLANS'">
                                <div class="answer">
                                    <svg [ngStyle]="{'color': buttonColor}" (click)="viewClubPlan(row)" class="hover:cursor-pointer w-8 h-8 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                                        <path d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"/>
                                    </svg>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="isForApproval(row) && (row?.read_status == -1 || row?.read_status == 1)">
                                <div class="answer">
                                    <svg *ngIf="row?.type != 'VS_COMPANY_CITY_AGENDA_APPROVAL'" [ngStyle]="{'color': buttonColor}" (click)="viewRequest(row)" class="hover:cursor-pointer w-8 h-8 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                                        <path d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"/>
                                    </svg>
                                </div>
                            </ng-container>
                            <ng-container>
                                <div class="delete" [ngClass]="{'flex': row?.type == 'VS_COMPANY_BUDDY'}" *ngIf="!isRequest(row) && !isForApproval(row)">
                                    <svg [ngStyle]="{'color': buttonColor}" (click)="deleteNotification(row)" class="ml-2 hover:cursor-pointer w-6 h-6 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                                        <path d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z"/>
                                    </svg>
                                </div>
                            </ng-container>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="notificationDisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: notificationDisplayedColumns;"></mat-row>
            </mat-table>
        </div>
        <mat-paginator
            #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
            [showFirstLastButtons]="true"
        ></mat-paginator>
    </div>
</div>
<app-toast 
    *ngIf="showConfirmationModal" 
    [company]="company" 
    [update]="false" 
    [confirm]="true"
    [title]="confirmDeleteItemTitle"
    [description]="confirmDeleteItemDescription"
    [acceptText]="acceptText"
    [cancelText]="cancelText"
    (onAccept)="confirm()"
></app-toast>