<div id="toast-message-cta" *ngIf="showToast"
    class="bg-yellow-50 fixed top-1/3 md:translate-x-2/4 lg:translate-x-2/4 flex items-center w-full max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x divide-gray-200 rounded-lg shadow dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800" 
    style="left:20%;"
    role="alert">
    <div class="flex">
        <div class="relative inline-block shrink-0">
            <img class="w-12 h-12 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" alt="Jese Leos image"/>
        </div>
        <div class="ms-3 text-sm font-normal">
            <div class="text-sm font-semibold text-gray-900 dark:text-white">Kate Thompson</div>
            <div class="text-sm font-normal">{{ toastMessage }}</div> 
            <a *ngIf="toastMode != 'accept-call'" href="javascript:;" (click)="handleCancelCall()" class="mt-2 inline-flex px-2.5 py-1.5 text-xs font-medium text-center text-white bg-red-600 rounded-lg hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800">{{ 'settings.cancel' | translate }}</a> 
            <a *ngIf="toastMode == 'accept-call'" href="javascript:;" (click)="handleAcceptCall()" class="mt-2 inline-flex px-2.5 py-1.5 text-xs font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800">{{ 'notification-popup.accept' | translate }}</a>
        </div>
    </div>
</div>