<div class="container flex flex-col items-center justify-center h-full">
    <div class="w-full max-w-md">
        <app-company-logo [logoSource]="logoSource" [size]="'sm'" />
        <div
            class="flex items-center justify-center pt-7 pb-8 m-auto left-0 right-0 text-center mt-0 text-base"
            [ngStyle]="{
            color:
                primaryColor == '#ffffff' || primaryColor == '#fff'
                ? '#1e1e1e'
                : '#fff'
            }"
        >
            {{ "signup.fillupform" | translate }}
        </div>
        <div>
            <form
                class="m-auto text-center mb-8"
                [formGroup]="getStartedForm"
                (ngSubmit)="signUp()"
            >
                <ng-container *ngIf="selectedFields && selectedFields?.length > 0 && !isloading">
                    <div *ngFor="let section of sectionFields; let n = index;">
                        <ng-container
                            *ngIf="!hasCompanyInvoiceSettings || 
                                (hasCompanyInvoiceSettings && section?.field_group_en != 'Company') || 
                                (hasCompanyInvoiceSettings && useCompanyInvoice && section?.field_group_en == 'Company')"
                        >
                            <ng-container 
                                *ngFor="let field of section?.fields; let i = index;"
                            >
                                <div>
                                    <ng-container *ngIf="(!countryDropdown && field.field == 'country' && (field.field_type == 'text' || field.field_type == 'number')) ||
                                        (countryDropdown && field.field != 'country' && (field.field_type == 'text' || field.field_type == 'number'))">
                                        <div class="flex items-center justify-center mb-2 relative">
                                            <input 
                                                [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700': field?.required == 1 && getStartedForm.get(field?.field)?.errors }"
                                                class="text-sm shadow appearance-none border rounded-[10px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-none"
                                                [type]="field.field_type == 'number' ? 'number' : 'text'" 
                                                placeholder="{{ language == 'en' ? field?.field_display_en : field?.field_display_es }}" formControlName="{{ field?.field }}"
                                                [ngStyle]="{'border-color': primaryColor == '#ffffff' || primaryColor == '#fff' ? '#c1c1c1' : 'transparent', 
                                                    'border-width': primaryColor == '#ffffff' || primaryColor == '#fff' ? '1px' : '0', 
                                                    'border-style': primaryColor == '#ffffff' || primaryColor == '#fff' ? 'solid' : 'none'
                                                }"
                                            >
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="countryDropdown && (field?.field == 'country' || field?.field == 'company_country')">
                                        <select 
                                            id="country" 
                                            formControlName="{{ field?.field }}"
                                            class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            [ngStyle]="{'border-color': primaryColor == '#ffffff' || primaryColor == '#fff' ? '#c1c1c1' : 'transparent', 
                                            'border-width': primaryColor == '#ffffff' || primaryColor == '#fff' ? '1px' : '0', 
                                            'border-style': primaryColor == '#ffffff' || primaryColor == '#fff' ? 'solid' : 'none'
                                        }"
                                        >
                                            <option value="">
                                                {{ language == 'en' ? field?.field_display_en : field?.field_display_es }}{{ field?.required == 1 ? ' *' : '' }}
                                            </option>
                                            <option
                                                *ngFor="let country of countries"                                
                                                [value] ="country.country_name"
                                            >{{country.country_name}}</option>
                                        </select>
                                    </ng-container>
                                    <div *ngIf="field?.field_type == 'password'">
                                        <div class="flex items-center justify-center mb-2 relative">
                                            <ng-container *ngIf="field?.field == 'password'">
                                                <input 
                                                    [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700': field?.required == 1 && getStartedForm.get(field?.field)?.errors }"
                                                    class="text-sm shadow appearance-none border rounded-[10px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-none"
                                                    [type]="fieldTextType ? 'text' : 'password'"
                                                    placeholder="{{ language == 'en' ? field?.field_display_en : field?.field_display_es }}" 
                                                    formControlName="{{ field?.field }}"
                                                    [ngStyle]="{'border-color': primaryColor == '#ffffff' || primaryColor == '#fff' ? '#c1c1c1' : 'transparent', 
                                                        'border-width': primaryColor == '#ffffff' || primaryColor == '#fff' ? '1px' : '0', 
                                                        'border-style': primaryColor == '#ffffff' || primaryColor == '#fff' ? 'solid' : 'none'
                                                    }"
                                                >
                                                <fa-icon
                                                    class="fa absolute inset-y-0 right-0 flex items-center px-4 text-gray-600"
                                                    [icon]="!fieldTextType ? eyeSlashIcon : eyeIcon"
                                                    (click)="toggleFieldTextType()"
                                                ></fa-icon>
                                            </ng-container>
                                            <ng-container *ngIf="field?.field == 'confirm_password'">
                                                <input 
                                                    [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700': field?.required == 1 && getStartedForm.get(field?.field)?.errors }"
                                                    class="text-sm shadow appearance-none border rounded-[10px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-none"
                                                    [type]="fieldConfirmTextType ? 'text' : 'password'"
                                                    placeholder="{{ language == 'en' ? field?.field_display_en : field?.field_display_es }}" 
                                                    formControlName="{{ field?.field }}"
                                                    [ngStyle]="{'border-color': primaryColor == '#ffffff' || primaryColor == '#fff' ? '#c1c1c1' : 'transparent', 
                                                        'border-width': primaryColor == '#ffffff' || primaryColor == '#fff' ? '1px' : '0', 
                                                        'border-style': primaryColor == '#ffffff' || primaryColor == '#fff' ? 'solid' : 'none'
                                                    }"
                                                >
                                                <fa-icon
                                                    class="fa absolute inset-y-0 right-0 flex items-center px-4 text-gray-600"
                                                    [icon]="!fieldConfirmTextType ? eyeSlashIcon : eyeIcon"
                                                    (click)="toggleFieldConfirmTextType()"
                                                ></fa-icon>
                                            </ng-container>
                                        </div>
                                        <ng-container *ngIf="field?.field == 'password'">
                                            <div *ngIf="formSubmitted && f['password'].errors">
                                                <p *ngIf="f['password'].errors['required']" class="mt-4 mb-4 text-sm" [ngStyle]="{'color': primaryColor == '#ffffff' || primaryColor == '#fff' ? '#1e1e1e' : '#fff'}">
                                                    <span class="font-medium">{{'password.oops' | translate}}</span> {{'password.passwordrequired' | translate}}
                                                </p>
                                                <div *ngIf="f['password'].errors['minlength']" class="mt-4 mb-4 text-sm" [ngStyle]="{'color': primaryColor == '#ffffff' || primaryColor == '#fff' ? '#1e1e1e' : '#fff'}">
                                                  {{'password.atleast' | translate}}
                                                </div>
                                                <div *ngIf="f['password'].errors['maxlength']" class="mt-4 mb-4 text-sm text-white dark:text-white">
                                                    {{'password.notexceed' | translate}}
                                                </div>
                                            </div>
                                            <div class="mt-3 mb-4" *ngIf="requiredValid">
                                                <div class="mb-1 text-xs relative flex space-between" [ngStyle]="{'color': primaryColor == '#ffffff' || primaryColor == '#fff' ? '#1e1e1e' : '#fff'}">
                                                    <fa-icon
                                                    class="fa absolute inset-y-0 right-0 flex items-center"
                                                    [ngClass]="{'text-green-300': minLengthValid, 'text-red-300': !minLengthValid}"
                                                    [icon]="minLengthValid ? checkCircleIcon : timesCircleIcon"
                                                    ></fa-icon>
                                                    {{'password.atleast' | translate}}
                                                </div>
                                          
                                                <div class="mb-1 text-xs relative flex space-between" [ngStyle]="{'color': primaryColor == '#ffffff' || primaryColor == '#fff' ? '#1e1e1e' : '#fff'}">
                                                  <fa-icon
                                                    class="fa absolute inset-y-0 right-0 flex items-center"
                                                    [ngClass]="{'text-green-300': requiresDigitValid, 'text-red-300': !requiresDigitValid}"
                                                    [icon]="requiresDigitValid ? checkCircleIcon : timesCircleIcon"
                                                    ></fa-icon>
                                                    {{'password.digit' | translate}}
                                                </div>
                                          
                                                <div class="mb-1 text-xs relative flex space-between" [ngStyle]="{'color': primaryColor == '#ffffff' || primaryColor == '#fff' ? '#1e1e1e' : '#fff'}">
                                                  <fa-icon
                                                    class="fa absolute inset-y-0 right-0 flex items-center"
                                                    [ngClass]="{'text-green-300': requiresUppercaseValid, 'text-red-300': !requiresUppercaseValid}"
                                                    [icon]="requiresUppercaseValid ? checkCircleIcon : timesCircleIcon"
                                                    ></fa-icon>
                                                    {{'password.uppercase' | translate}}
                                                </div>
                                          
                                                <div class="mb-1 text-xs relative flex space-between" [ngStyle]="{'color': primaryColor == '#ffffff' || primaryColor == '#fff' ? '#1e1e1e' : '#fff'}">
                                                  <fa-icon
                                                    class="fa absolute inset-y-0 right-0 flex items-center"
                                                    [ngClass]="{'text-green-300': requiresLowercaseValid, 'text-red-300': !requiresLowercaseValid}"
                                                    [icon]="requiresLowercaseValid ? checkCircleIcon : timesCircleIcon"
                                                    ></fa-icon>
                                                    {{'password.lowercase' | translate}}
                                                </div>
                                          
                                                <div class="mb-1 text-xs relative flex space-between" [ngStyle]="{'color': primaryColor == '#ffffff' || primaryColor == '#fff' ? '#1e1e1e' : '#fff'}">
                                                  <fa-icon
                                                    class="fa absolute inset-y-0 right-0 flex items-center"
                                                    [ngClass]="{'text-green-300': requiresSpecialCharsValid, 'text-red-300': !requiresSpecialCharsValid}"
                                                    [icon]="requiresSpecialCharsValid ? checkCircleIcon : timesCircleIcon"
                                                    ></fa-icon>
                                                    {{'password.specialcharacter' | translate}}
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div *ngIf="field?.field_type == 'textarea'" class="mb-2">
                                        <textarea
                                            rows="4" 
                                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                            placeholder="{{ language == 'en' ? field?.field_display_en : field?.field_display_es }}"
                                            formControlName="{{ field?.field }}"
                                        >
                                        </textarea>
                                    </div>
                                    <ng-container *ngIf="errors">
                                        <div class="mt-4 mb-4 text-white text-xs">{{ errors[field?.field] }}</div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
                <div class="flex items-center mt-8">
                    <input 
                        id="link-checkbox" 
                        type="checkbox"
                        [(ngModel)]="agreeTerms"
                        [ngModelOptions]="{standalone: true}"
                        [ngStyle]="{'color': agreeTerms ? buttonColor : 'text-blue-500'}"
                        class="w-4 h-4 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    >
                    <label for="link-checkbox" class="ml-2 text-sm font-medium dark:text-gray-300" 
                        [ngStyle]="{
                            color:
                            primaryColor == '#ffffff' || primaryColor == '#fff'
                                ? '#1e1e1e'
                                : '#fff'
                        }">{{'signup.ihavereadandaccepted' | translate}} <a href="javascript:;" (click)="openPrivacyPolicy()" class="text-blue-600 dark:text-blue-500 hover:underline">{{ 'register.privacypolicy' | translate }}</a>.</label>
                </div>
                <div class="flex items-center justify-center mb-6">
                    <button
                        type="submit"
                        class="inline-block h-[40px] text-sm px-6 py-2 mt-6 font-semibold bg-white rounded-[10px] hover:bg-black hover:text-white focus:ring-4 focus:ring-offset-black focus:outline-none"
                        [ngStyle]="{
                            color: buttonColor,
                            'border-color':
                            primaryColor == '#ffffff' || primaryColor == '#fff'
                                ? buttonColor
                                : 'transparent',
                            'border-width':
                            primaryColor == '#ffffff' || primaryColor == '#fff'
                                ? '1px'
                                : '0',
                            'border-style':
                            primaryColor == '#ffffff' || primaryColor == '#fff'
                                ? 'solid'
                                : 'none'
                        }"
                        [ngClass]="{'disabled:opacity-75': formSubmitted || !agreeTerms}"
                        [disabled]="formSubmitted || !agreeTerms"
                    >
                        {{ "signup.signup" | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="flex items-center justify-center mb-10 hover:cursor-pointer">
        <a
          class="text-sm hover:cursor-pointer"
          [routerLink]="['/auth/login']"
          [ngStyle]="{
            color:
              primaryColor == '#ffffff' || primaryColor == '#fff'
                ? '#1e1e1e'
                : '#fff'
          }"
          >{{ "login.returntologin" | translate }}</a
        >
      </div>
</div>