<!-- <div
  class="mx-auto bg-white rounded-lg shadow-md overflow-hidden"
  [ngClass]="['flex', direction]"
> -->


<div class="p-1 text-sm text-[#A77FE0] flex items-center group/button hover:text-white hover:bg-[#A77FE0] rounded-md shadow-md cursor" [ngClass]="'h-8'">
  <fa-icon class="fa w-5 h-5 flex items-center group-hover/button:hidden" [icon]="buttonData.icon"></fa-icon>
  <fa-icon class="fa w-5 h-5 items-center text-white group-hover/button:block hidden" [icon]="buttonData.icon"></fa-icon>
  <p class="ml-2" [ngClass]="buttonData.titleStyle">{{buttonData.title}}</p>
</div>