<div class="w-full max-w-full h-full">
    <div class="relative">
        <input type="hidden" name="date" x-ref="date" />
        <input type="text" [(ngModel)]="datepickerValue"
            readonly
            (click)="showDatepicker = !showDatepicker"
            class="text-sm shadow appearance-none border border-[#677173] rounded-[10px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-none"
            placeholder="00/00/0000" />

        <div class="bg-white mt-12 rounded-lg shadow p-4 absolute top-0 left-0 z-10" style="width: 17rem"
            [hidden]="!showDatepicker" (keydown.away)="showDatepicker = false">
            <div class="flex justify-between items-center mb-2">
                <div>
                    <span class="text-lg font-bold text-gray-800">{{ language == 'en' ? MONTH_NAMES[month] : MONTH_NAMES_ES[month] }}</span>
                    <span class="ml-1 text-lg text-gray-600 font-normal">{{ year }}</span>
                </div>
                <div>
                    <button type="button" class="transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 rounded-full" 
                        (click)="getNoOfDays('prev')">
                        <svg class="h-6 w-6 text-gray-500 inline-flex" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 19l-7-7 7-7" />
                        </svg>
                    </button>
                    <button type="button" class="transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200  p-1 rounded-full" 
                        (click)="getNoOfDays('next')">
                        <svg class="h-6 w-6 text-gray-500 inline-flex" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9 5l7 7-7 7" />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="flex flex-wrap mb-3 -mx-1">
                <ng-container *ngIf="language == 'en'">
                    <ng-container *ngFor="let day of DAYS; let index = index">
                        <div style="width: 14.26%" class="px-1">
                            <div class="text-gray-800 font-medium text-center text-xs">{{ day }}</div>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="language != 'en'">
                    <ng-container *ngFor="let day of DAYS_ES; let index = index">
                        <div style="width: 14.26%" class="px-1">
                            <div class="text-gray-800 font-medium text-center text-xs">{{ day }}</div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>

            <div class="flex flex-wrap -mx-1">
                <ng-container *ngFor="let blankday of blankdays">
                    <div style="width: 14.28%"
                        class="text-center border-none p-1 border-transparent text-sm"></div>
                </ng-container>
                <ng-container
                    *ngFor="let date of no_of_days; let dateIndex = index; trackBy: trackByIdentity">
                    <div style="width: 14.28%" class="px-1 mb-1">
                        <div (click)="getDateValue(date)" class="cursor-pointer text-center text-sm rounded-full leading-loose transition ease-in-out duration-100" 
                        [ngClass]="{
                            'bg-purple-500 text-white': isToday(date) === true,
                            'text-gray-700 hover:bg-purple-200': isToday(date) === false
                        }">
                            {{ date }}
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>