<app-page-title [title]="pageTitle"></app-page-title>
<form [formGroup]="form" (ngSubmit)="submit()" class="form" autocomplete="off">
    <div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 pt-12 pb-4">
            <div class="text-center">
                <div>
                    <label for="firstname" class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        <div class="flex items-center justify-between">
                            <div>
                                {{ 'email.shfirstname' | translate }}
                            </div>
                        </div>
                    </label>
                    <input 
                        readonly
                        id="firstname"
                        [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700': form.get('first_name')?.errors }"
                        type="text" 
                        class="text-sm shadow appearance-none border border-gray-200 rounded-[10px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-none" 
                        formControlName="first_name" 
                        placeholder="{{ 'email.shfirstname' | translate }}"
                        required>
                </div>
            </div>
            <div class="text-center">
                <div>
                    <label for="lastname" class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        <div class="flex items-center justify-between">
                            <div>
                                {{ 'email.shlastname' | translate }}
                            </div>
                        </div>
                    </label>
                    <input 
                        readonly
                        id="lastname"
                        [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700': form.get('last_name')?.errors }"
                        type="text" 
                        class="text-sm shadow appearance-none border border-gray-200 rounded-[10px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-none" 
                        formControlName="last_name" 
                        placeholder="{{ 'email.shlastname' | translate }}"
                        required>
                </div>
            </div>
            <div class="text-center">
                <div>
                    <label for="location" class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        <div class="flex items-center justify-between">
                            <div>
                                {{ 'buddy.location' | translate }}
                            </div>
                        </div>
                    </label>
                    <input 
                        id="location"
                        [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700': form.get('location')?.errors }"
                        type="text" 
                        class="text-sm shadow appearance-none border border-gray-200 rounded-[10px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-none" 
                        formControlName="location" 
                        placeholder="{{ 'buddy.location' | translate }}"
                        required>
                </div>
            </div>
            <div class="text-center">
                <div>
                    <label for="language" class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        <div class="flex items-center justify-between">
                            <div>
                                {{ 'job-offers.language' | translate }}
                            </div>
                        </div>
                    </label>
                    <input 
                        id="language"
                        [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700': form.get('language')?.errors }"
                        type="text" 
                        class="text-sm shadow appearance-none border border-gray-200 rounded-[10px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-none" 
                        formControlName="language" 
                        placeholder="{{ 'job-offers.language' | translate }}"
                        required>
                </div>
            </div>
            <div class="text-center col-span-2">
                <div>
                    <label for="major" class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        <div class="flex items-center justify-between">
                            <div>
                                {{ 'buddy.major' | translate }}
                            </div>
                        </div>
                    </label>
                    <input 
                        id="major"
                        [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700': form.get('major')?.errors }"
                        type="text" 
                        class="text-sm shadow appearance-none border border-gray-200 rounded-[10px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-none" 
                        formControlName="major" 
                        placeholder="{{ 'buddy.major' | translate }}"
                        required>
                </div>
            </div>
            <div class="text-center col-span-2">
                <div>
                    <label for="message" class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        <div class="flex items-center justify-between">
                            <div>
                                {{ 'landing.message' | translate }}
                            </div>
                        </div>
                    </label>
                    <editor
                        class="w-full"
                        apiKey="65qwcuk78wm1otjq5k4awi6ao5mfypkliawrfmg72dult6ua"
                        [init]="{
                            height: 183,
                            menubar: false,
                            plugins: [
                            'advlist autolink lists link image imagetools charmap print',
                            'preview anchor searchreplace visualblocks code',
                            'fullscreen insertdatetime media table paste',
                            'help wordcount',
                            'code media'
                            ],
                            toolbar:
                            'undo redo | formatselect | bold italic | \
                            alignleft aligncenter alignright alignjustify | \
                            media | \
                            paste pastetext | \
                            image imagetools | \
                            bullist numlist outdent indent | help',
                            valid_elements: 'a[href|target=_blank],strong/b,div[align],-h1,-h2,-h3,-h4,-h5,-h6,#p,-ol,-ul,-li,br,img[src|height|width],-sub,-sup,-b,-i,-u,-span,hr,iframe[src|frameborder|style|scrolling|class|width|height|name|align]'
                        }"
                        formControlName="message"
                    ></editor>
                </div>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center mb-6 w-full sm:w-full md:w-4/12 lg:w-4/12 mx-auto">
        <button
            type="submit"
            class="w-full inline-block h-[40px] text-sm px-6 py-2 my-6 font-semibold text-white rounded-[10px] hover:bg-black hover:text-white focus:ring-4 focus:ring-offset-black focus:outline-none"
            [ngStyle]="{'background-color': buttonColor}"
            [ngClass]="{'disabled:opacity-75': hasRequest && !approvedRequest}"
            [disabled]="hasRequest && !approvedRequest"
        >
            {{ hasRequest && !approvedRequest ? ('campaign-details.pendingrequest' | translate) : ('job-offers.submit' | translate) }}
        </button>
    </div>
</form>