<div class="app-container relative w-full h-[calc(100vh-300px)] flex bg-black">
    <div class="app-main relative w-full flex flex-col">
      <div class="relative w-full h-full overflow-hidden flex flex-wrap mx-auto justify-center items-center">
        <div class="relative w-1/2 h-2/3">
          <a href="javascript:;" class="name-tag absolute rounded-sm bottom-5 right-5 bg-slate-600 text-white p-1 px-2 text-sm rounded-lg">Kate Thompson</a>
          <img class="w-full h-full object-cover" src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" alt="participant">
        </div>
      </div>
      <div class="flex justify-between items-center pt-4 mx-auto max-w-[500px] mb-[50px]">
        <button class="action-button bg-[#f8f4f4] mic w-[48px] h-[48px] rounded-lg shadow mr-4"></button>
        <button class="action-button bg-[#f8f4f4] endcall h-[48px] rounded-lg shadow w-auto pl-[42px] pr-[12px] text-[14px] color-[#ff1932]">End Call</button>
      </div>
    </div>
 </div>