<div class="hidden sm:hidden md:block lg:block">
    <app-breadcrumb
        [level1Title]="level1Title"
        [level2Title]="level2Title"
        [level3Title]="level3Title"
        [level4Title]="level4Title"
        [buttonColor]="buttonColor"
        (goBack)="handleGoBack()"
    />
</div>
<app-page-title [title]="title" [subtitle]="subtitle"></app-page-title>
<div class="flex flex-col sm:flex-col md:flex-row lg:flex-row pt-4" *ngIf="superAdmin || showOption">
    <button 
        class="h-[52px] flex items-center p-3.5 px-8 rounded-[15px] justify-center mb-4 sm:mb-4 md:mb-0 lg:mb-0 transition duration-700 ease-in-out"
        (click)="duplicate()"
        [ngStyle]="{
            'background-color': buttonColor,
            'opacity': duplicateHover ? 1.5 : 1,
            'filter': duplicateHover ? 'brightness(0.8)' : 'brightness(1)'
        }"
        (mouseover)="toggleDuplicateHover(true)"
        (mouseleave)="toggleDuplicateHover(false)"
    >
        <svg class="w-3 h-3 text-white dark:text-white mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
            <path d="M5 9V4.13a2.96 2.96 0 0 0-1.293.749L.879 7.707A2.96 2.96 0 0 0 .13 9H5Zm11.066-9H9.829a2.98 2.98 0 0 0-2.122.879L7 1.584A.987.987 0 0 0 6.766 2h4.3A3.972 3.972 0 0 1 15 6v10h1.066A1.97 1.97 0 0 0 18 14V2a1.97 1.97 0 0 0-1.934-2Z"/>
            <path d="M11.066 4H7v5a2 2 0 0 1-2 2H0v7a1.969 1.969 0 0 0 1.933 2h9.133A1.97 1.97 0 0 0 13 18V6a1.97 1.97 0 0 0-1.934-2Z"/>
        </svg>
        <span class="text-white text-md font-semibold uppercase">{{ 'plan-details.duplicate' | translate }}</span>
    </button>
    <button 
        class="ml-0 sm:ml-0 md:ml-4 lg:ml-4 h-[52px] flex items-center p-3.5 px-8 rounded-[15px] justify-center mb-4 sm:mb-4 md:mb-0 lg:mb-0 transition duration-700 ease-in-out"
        (click)="handleEditRoute()" 
        [ngStyle]="{
            'background-color': buttonColor,
            'opacity': editHover ? 1.5 : 1,
            'filter': editHover ? 'brightness(0.8)' : 'brightness(1)'
        }"
        (mouseover)="toggleEditHover(true)"
        (mouseleave)="toggleEditHover(false)"
    >
        <svg class="w-3 h-3 text-white dark:text-white mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
        <span class="text-white text-md font-semibold uppercase">{{ 'plan-details.edit' | translate }}</span>
    </button>
    <button 
        class="ml-0 sm:ml-0 md:ml-4 lg:ml-4 border h-[52px] flex items-center p-3.5 px-8 rounded-[15px] justify-center mb-4 sm:mb-4 md:mb-0 lg:mb-0 transition duration-700 ease-in-out"
        (click)="handleDelete()" 
        [ngStyle]="{
            'border-color': deleteHover ? 'transparent' : buttonColor,
            'background-color': deleteHover ? buttonColor : '#fff',
        }"
        (mouseover)="toggleDeleteHover(true)"
        (mouseleave)="toggleDeleteHover(false)"
    >
        <svg class="w-3 h-3 mr-1" [ngStyle]="{'color': deleteHover ? '#fff' : buttonColor}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
            <path d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z"/>
        </svg>
        <span class="text-md font-semibold uppercase" 
            [ngStyle]="{'color': deleteHover ? '#fff' : buttonColor}">
            {{ 'plan-details.delete' | translate }}
        </span>
    </button>
</div>
<div class="my-10">
    <div class="flex flex-col sm:flex-col md:flex-row lg:flex-row mb-8">
        <div class="relative mr-0 sm:mr-0 md:mr-[58px] lg:mr-[58px]">
            <div *ngIf="plan?.credits == 1" class="absolute top-2 right-2  flex items-start justify-end pt-3 pr-4 text-sm text-white font-semibold">
                <div class="flex py-1.5 px-3 items-center rounded-lg" [ngStyle]="{'background-color': buttonColor}">
                    <span class="text-xs text-white uppercase">{{ featuredTitle }}</span>
                    <svg class="ml-2 w-4 h-4 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6.072 10.072 2 2 6-4m3.586 4.314.9-.9a2 2 0 0 0 0-2.828l-.9-.9a2 2 0 0 1-.586-1.414V5.072a2 2 0 0 0-2-2H13.8a2 2 0 0 1-1.414-.586l-.9-.9a2 2 0 0 0-2.828 0l-.9.9a2 2 0 0 1-1.414.586H5.072a2 2 0 0 0-2 2v1.272a2 2 0 0 1-.586 1.414l-.9.9a2 2 0 0 0 0 2.828l.9.9a2 2 0 0 1 .586 1.414v1.272a2 2 0 0 0 2 2h1.272a2 2 0 0 1 1.414.586l.9.9a2 2 0 0 0 2.828 0l.9-.9a2 2 0 0 1 1.414-.586h1.272a2 2 0 0 0 2-2V13.8a2 2 0 0 1 .586-1.414Z"/>
                    </svg>
                </div>
            </div>
            <img 
                *ngIf="plan?.image"
                class="rounded-[30px] object-cover object-top w-full max-w-full sm:w-full sm:max-w-full md:w-[540px] md:max-w-[540px] lg:w-[540px] lg:max-w-[540px] sm:h-auto md:h-[510px] lg:h-[510px] max-h-auto md:max-h-[510px] lg:max-h-[510px]"
                [ngSrc]="apiPath + plan?.path + plan?.image" 
                [alt]="getEventTitle(plan)" 
                width="540" 
                height="510"
            >
            <!-- <div *ngIf="plan.show_description" class="mt-8 flex flex-col w-full max-w-full sm:w-full sm:max-w-full md:w-[540px] md:max-w-[540px] lg:w-[540px] lg:max-w-[540px]">
                <div [innerHtml]="planTruncatedDescription | safeContentHtml: 'html'"></div>
                <ng-container *ngIf="planDescription?.length > truncate">
                    <div class="mt-2 uppercase text-xs underline cursor-pointer" *ngIf="planExpandedDescription" [ngStyle]="{'color': buttonColor}" (click)="showLess()">{{ 'club-details.seeless' | translate }}</div>
                    <div class="mt-2 uppercase text-xs underline cursor-pointer" *ngIf="!planExpandedDescription" [ngStyle]="{'color': buttonColor}" (click)="readMore()">{{ 'club-details.readmore' | translate }}</div>
                </ng-container>
            </div> -->
        </div>
        <div class="w-full mr-0 sm:mr-0 md:mr-[80px] lg:mr-[80px]">
            <div class="w-full max-w-full">
                <div class="text-3xl font-semibold">{{ planTitle }}</div>
                <div class="flex flex-row flex-wrap items-center mt-2 mb-8">
                    <div class="flex">
                        <svg *ngIf="planDay" class="w-6 h-6 mr-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1v3m5-3v3m5-3v3M1 7h18M5 11h10M2 3h16a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Z"/>
                        </svg>
                        <div class="capitalize font-semibold mr-8">{{ planDay }}</div>
                    </div>
                    <div class="flex">
                        <svg *ngIf="planTime" class="w-6 h-6 mr-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M10 6v4l3.276 3.276M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>
                        <div class="capitalize font-semibold">{{ planTime }}</div>
                    </div>
                    <ng-container *ngIf="showCanaryTime && plan?.hour_canary == 1">
                        <img class="ml-8" width="40" height="40" src="./assets/icons/canary.png" />
                        <span class="ml-2">
                            <span class="capitalize font-semibold">{{ 'plan-details.canarytime' | translate }}:</span> 
                            <span class="capitalize font-semibold ml-3">{{ planDateCanary }}</span>
                        </span>
                    </ng-container>
                </div>
                <div *ngIf="planTitle" class="flex justify-between flex-gap-row flex-col sm:flex-col md:flex-row lg:flex-row">
                    <div *ngIf="showJoinButton && joinStatusChecked && !isExternalRegistration &&
                        (
                            (!joinedParticipant
                            && plan?.private
                            && pendingRequest
                            && !showOption
                            && plan?.plan_date >= today) ||
                            (userId && ((!joinedParticipant
                            && !plan?.private
                            && (plan?.plan_date >= today || !isPastEvent)
                            && !activateWaitingList) || (plan?.private && !joinedParticipant && speedMember)
                            || (plan?.private && showOption && !joinedParticipant && (plan?.plan_date >= today || !isPastEvent)))) ||
                            (waitingListActive && plan?.waiting_list == 1 && activateWaitingList && !joinedParticipant)
                        )
                    " 
                        class="w-full max-w-full flex justify-between items-center flex-gap-col">
                        <ng-container *ngIf="!isExternalRegistration">
                            <button
                                *ngIf="!joinedParticipant
                                    && plan?.private
                                    && pendingRequest
                                    && !showOption
                                    && plan?.plan_date >= today"
                                    class="btn w-full max-w-full h-[52px] text-white text-base uppercase font-semibold"
                                [ngStyle]="{
                                    'background-color': buttonColor
                                }"
                                (click)="handleRequestJoin()"
                                [disabled]="pendingRequest || onSubmit"
                            >
                                {{ 'plan-details.pending' | translate }}
                            </button>
                            <button
                                *ngIf="showJoinButton && userId && ((!joinedParticipant
                                    && !plan?.private
                                    && (plan?.plan_date >= today || !isPastEvent)
                                    && !activateWaitingList) || (plan?.private && !joinedParticipant && speedMember)
                                    || (plan?.private && showOption && !joinedParticipant && (plan?.plan_date >= today || !isPastEvent)))"
                                class="btn w-full max-w-full h-[52px] text-white text-base uppercase font-semibold transition duration-700 ease-in-out"
                                [ngStyle]="{
                                    'background-color': buttonColor,
                                    'opacity': joinHover ? 1.5 : 1,
                                    'filter': joinHover ? 'brightness(0.8)' : 'brightness(1)'
                                }"
                                (click)="handleJoin()"
                                (mouseover)="toggleJoinHover(true)"
                                (mouseleave)="toggleJoinHover(false)"
                            >
                                {{ activityFeeEnabled && plan?.stripe_pay == 1 && plan?.price > 0 ? (('service.pay' | translate) + ' ' + (plan?.price.replace('.00', '') + '€')) : ('plan-details.join' | translate) }}
                            </button>
                            <ng-container *ngIf="waitingListActive && plan?.waiting_list == 1">
                                <button
                                    *ngIf="activateWaitingList && !joinedParticipant"
                                    class="btn w-full max-w-full h-[52px] text-white text-base uppercase font-semibold"
                                    [ngStyle]="{
                                        'background-color': isInWaitingList ? '#dc3545' : buttonColor
                                    }"
                                    (click)="handleWaitingList()"
                                >
                                    {{
                                        !isInWaitingList ? 
                                            (language == 'en' ? 
                                                (waitingListButtonTextEn ? waitingListButtonTextEn : ('plan-details.joinwaitinglist' | translate)) 
                                                : waitingListButtonTextEs ? waitingListButtonTextEs : ('plan-details.joinwaitinglist' | translate))
                                            : 
                                                (language == 'en' ? 
                                                    (waitingListCancelButtonTextEn ? waitingListCancelButtonTextEn : (('plan-details.pendingwaitinglist' | translate) + ' ' + ('plan-details.cancelrequest' | translate)))
                                                    : waitingListCancelButtonTextEs ? waitingListCancelButtonTextEs : (('plan-details.pendingwaitinglist' | translate) + ' ' + ('plan-details.cancelrequest' | translate)))
                                    }}
                                </button>
                            </ng-container>
                        </ng-container>
                    </div>
                    <div class="ml-4 w-full max-w-full flex flex-col sm:flex-col md:flex-row lg:flex-row justify-between items-center" 
                        *ngIf="joinedParticipant && (plan?.plan_date >= today || !isPastEvent)">
                        <div class="flex items-center justify-center sm:justify-center md:justify-normal lg:justify-normal mr-4 bg-white rounded-lg w-full">
                            <img class="w-6 h-6 object-fit mr-4" src="./assets/images/new-design/icons/check.png">
                            <span class="text-base uppercase font-semibold">{{ 'plan-details.youjoined' | translate }}</span>
                        </div>
                        <button
                            class="btn w-2 text-base text-white p-0 h-[52px] transition duration-700 ease-in-out"
                            (click)="handleLeave()"
                            [disabled]="onSubmit"
                            [ngStyle]="{
                                'background-color': buttonColor,
                                'opacity': leaveHover ? 1.5 : 1,
                                'filter': leaveHover ? 'brightness(0.8)' : 'brightness(1)'
                            }"
                            (mouseover)="toggleLeaveHover(true)"
                            (mouseleave)="toggleLeaveHover(false)"
                        >
                            <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h11m0 0-4-4m4 4-4 4m-5 3H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h3"/>
                            </svg>
                        </button>
                    </div>
                    <div class="w-full max-w-full flex-gap-col mt-4 sm:mt-4 md:mt-0 lg:mt-0 transition duration-700 ease-in-out"
                        (mouseover)="toggleAddCalendarHover(true)"
                        (mouseleave)="toggleAddCalendarHover(false)"
                    >
                        <div title="Add to Calendar" class="w-full max-w-full text-center addeventatc add-calendar rounded-lg" 
                            [ngStyle]="{
                                'border-color': addCalendarHover ? 'transparent' : buttonColor,
                                'background-color': addCalendarHover ? buttonColor : '#fff',
                                'color': addCalendarHover ? '#fff' : buttonColor,
                            }"
                            *ngIf="userId">
                            <span class="add text-base uppercase transition duration-700 ease-in-out"
                                [ngStyle]="{
                                    'color': addCalendarHover ? '#fff' : buttonColor,
                                }"
                            >{{ 'plan-details.addtocalendar' | translate }}</span>
                            <span class="start">{{ calendarStartDate | date:'MM/d/yyyy'}} {{calendarStartDate | date:'HH:mm' }}</span>
                            <span *ngIf="calendarEndDate" class="end">{{ calendarEndDate | date:'MM/d/yyyy'}} {{calendarEndDate | date:'HH:mm' }}</span>
                            <span class="timezone">Europe/Madrid</span>
                            <span class="title">{{ plan?.title }}</span>
                            <span class="description" [innerHtml]="getEventDescription() | safeContentHtml: 'html'"></span>
                            <span class="location" *ngIf="canShowAddress && plan && getAddress(plan)">{{ getAddress(plan) }}</span>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="plan?.show_attendee && limitPlanParticipants?.length > 0">
                    <div class="flex flex-col sm:flex-col md:flex-row lg:flex-row my-12 items-center">
                        <div class="mr-4 mb-4 sm:mb-4 md:mb-0 lg:mb-0">
                            <div class="flex flex-wrap">
                                <ng-container *ngFor="let member of limitPlanParticipants; let i = index">
                                    <img
                                        class="rounded-full max-w-[55px] max-h-[55px] object-cover object-top" 
                                        [ngClass]="{'-ml-6': i > 0}"
                                        width="55"
                                        height="55"
                                        [ngSrc]="apiPath + '/' + (member.image || 'empty_avatar.png')"
                                    />
                                </ng-container>
                            </div>
                        </div>
                        <div>{{ getSeatsLabel() }}</div>
                    </div>
                </ng-container>
                <div class="flex my-4" [ngClass]="{'my-8': !(plan?.show_attendee && limitPlanParticipants?.length > 0)}" *ngIf="getCategoryLabel()">
                    <svg class="w-6 h-6 mr-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                        <path d="M15.045.007 9.31 0a1.965 1.965 0 0 0-1.4.585L.58 7.979a2 2 0 0 0 0 2.805l6.573 6.631a1.956 1.956 0 0 0 1.4.585 1.965 1.965 0 0 0 1.4-.585l7.409-7.477A2 2 0 0 0 18 8.479v-5.5A2.972 2.972 0 0 0 15.045.007Zm-2.452 6.438a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                    </svg>
                    <div class="capitalize font-semibold">{{ getCategoryLabel() }}</div>
                </div>
                <div class="flex my-4" *ngIf="getAddress(plan)">
                    <svg class="w-6 h-6 mr-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 21">
                        <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                          <path d="M8 12a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                          <path d="M13.8 12.938h-.01a7 7 0 1 0-11.465.144h-.016l.141.17c.1.128.2.252.3.372L8 20l5.13-6.248c.193-.209.373-.429.54-.66l.13-.154Z"/>
                        </g>
                    </svg>
                    <div class="capitalize font-semibold">{{ getAddress(plan) }}</div>
                </div>
                <div class="my-12 flex items-center" *ngIf="title">
                    <div class="opacity-60 mr-4">{{ 'plan-details.createdby' | translate }}:</div>
                    <div class="font-semibold">
                        {{ createdBy || planCreator?.name || (planCreator?.first_name + ' ' + planCreator?.last_name) }}
                    </div>
                </div>
                <div class="flex items-center" *ngIf="userId && invitationLinkActive && (superAdmin || showOption || !plan?.private || (plan?.private && joinedParticipant))">
                    <div (click)="goToLink(emailTo)" class="flex flex-col items-center justify-center mr-12 hover:cursor-pointer">
                        <img width="36" height="36" class="object-contain mr-6 ml-4" src="./assets/icons/link-chain.png">
                        <div class="mt-10 text-center opacity-60">{{ 'plan-details.share' | translate }}</div>
                    </div>
                    <div (click)="copyText()" class="flex flex-col items-center justify-center mr-16 hover:cursor-pointer">
                        <img width="36" height="36" class="object-contain ml-6" src="./assets/icons/copy-paste.png">
                        <div class="w-[36px] max-w-[36px] mt-6 text-center opacity-60">{{ 'plan-details.copylink' | translate }}</div>
                    </div>
                    <div (click)="sendEmailInvite()" class="flex flex-col items-center justify-center mr-12 hover:cursor-pointer" *ngIf="hasEmailInvite && (superAdmin || showOption)">
                        <img width="36" height="36" class="object-contain" src="./assets/icons/mail-send.png">
                        <div class="w-[80px] max-w-[80px] mt-4 text-center opacity-60">{{ 'plan-details.sharebyemail' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4" *ngIf="plan.show_description">
        <div class="container mb-4 flex items-center justify-between center w-full max-w-full px-4 md:px-0 lg:px-0 mx-auto py-3">
            <h1 class="text-lg font-semibold">{{ 'plan-details.details' | translate }}</h1>
        </div>
        <div class="w-full max-w-full event-description" [innerHtml]="planDescription | safeContentHtml: 'html'"></div>
    </div>
    <div class="py-4" 
        *ngIf="((userId && !showPastEvents) || (userId && showPastEvents && !isPastEvent)) && plan?.show_comments">
        <div class="container mb-4 flex items-center justify-between center w-full max-w-full px-4 md:px-0 lg:px-0 mx-auto py-3">
            <h1 class="text-lg font-semibold">{{ 'plan-details.comments' | translate }}</h1>
        </div>
        <div class="flex flex-col sm:flex-col md:flex-row lg:flex-row py-4"
            [ngClass]="{'w-full max-w-full md:w-6/12 lg:w-6/12': planComments?.length == 0}">
            <div class="mr-0 sm:mr-0 md:mr-8 lg:mr-8" 
                *ngIf="planComments?.length > 0">
                <div class="w-full sm:w-full md:w-[540px] lg:w-[540px] max-w-full md:max-w-full lg:max-w-[540px]">
                    <div *ngFor="let comment of planComments" [ngClass]="{'ml-4 sm:ml-4 md:ml-20 lg:ml-20': comment?.parent_group_plan_comment_id > 0 || comment?.parent_plan_comment_id > 0}">
                        <div class="border border-gray-300 border-b-1 border-t-0 border-l-0 border-r-0 mb-8">
                            <div class="flex items-center">
                                <img
                                    src="{{apiPath + '/' + (comment?.image || comment?.CompanyUser?.image)}} "
                                    [alt]="comment?.first_name"
                                    class="object-cover rounded-full w-16 h-16 mr-4"
                                    width="30"
                                >
                                <div class="w-full">
                                    <div class="flex justify-between">
                                        <div class="w-full">
                                            <div class="font-bold">{{ comment?.first_name || comment?.CompanyUser?.first_name || 'anonymous' }}</div>
                                            <div class="text-sm">{{ formatDate(comment?.createdAt) }}</div>
                                        </div>
                                        <div class="flex">
                                            <div *ngIf="superAdmin || showOption" class="hover:cursor-pointer p-2 px-4 h-8 rounded-lg" (click)="confirmDeleteComment(comment)" [ngStyle]="{'background-color': buttonColor}">
                                                <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"></path>
                                                </svg>
                                            </div>
                                            <div class="flex items-center justify-center ml-4 bg-white rounded-lg p-2 px-6 h-8 hover:cursor-pointer">
                                                <img *ngIf="checkHeartReaction(comment) == false" class="w-5 h-5 mr-4" src="./assets/images/new-design/icons/heart-unselected.png" (click)="toggleHeart(comment, true)">
                                                <img *ngIf="checkHeartReaction(comment) == true" class="w-5 h-5 mr-4" src="./assets/images/new-design/icons/heart-selected.png" (click)="toggleHeart(comment, false)">
                                                <span>{{ getReactions(comment)?.length || 0 }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4" [innerHTML]="comment?.comment">
                            </div>
                            <div 
                                *ngIf="!blockResponseToComments || (blockResponseToComments && (superAdmin || showOption))"
                                class="text-white flex items-center justify-center py-2 px-8 w-[130px] max-w-[130px] mt-4 mb-8 rounded-lg" 
                                [ngStyle]="{'background-color': buttonColor}"
                                (click)="toggleChildComment(comment?.id)"
                            >
                                <img class="w-4 h-4 mr-2" src="./assets/images/new-design/icons/Respond.png">
                                <span class="text-xs">{{ 'club-details.comment' | translate }}</span>
                            </div>
                            <div *ngIf="showChildComment && selectedCommentId == comment?.id" class="mb-16">
                                <textarea name="" id="" cols="30" rows="3"
                                    class="w-full rounded-lg p-4 border border-gray-300"
                                    placeholder="{{ 'club-details.addanewcomment' | translate }}"
                                    [(ngModel)]="childComment" >
                                </textarea>
                                <button (click)="addChildComment(comment)" 
                                    class="btn text-white mb-8 float-right hover:cursor-pointer"
                                    [ngStyle]="{'background-color': buttonColor}"
                                >
                                    {{ 'club-details.addcomment' | translate }}
                                </button>
                            </div>
                            <div>
                                <div *ngFor="let child of comment?.CommentChild" class="mb-8 max-w-full">
                                    <div class="flex justify-between items-center">
                                        <img
                                            src="{{apiPath + '/' + (child?.image || child?.CompanyUser?.image)}} "
                                            [alt]="child.first_name"
                                            class="object-cover rounded-full w-16 h-16 mr-4"
                                            width="30"
                                        >
                                        <div class="name-date full w-5/6">
                                            <div class="flex justify-between">
                                                <div class="w-full">
                                                    <div class="font-bold">{{ child?.first_name || child?.CompanyUser?.first_name || 'anonymous' }}</div>
                                                    <div class="text-sm">{{ formatDate(child?.createdAt) }}</div>
                                                </div>
                                                <div class="flex">
                                                    <div *ngIf="superAdmin || showOption" class="hover:cursor-pointer p-2 px-4 h-8 rounded-lg" (click)="confirmDeleteComment(child)" [ngStyle]="{'background-color': buttonColor}">
                                                        <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"></path>
                                                        </svg>
                                                    </div>
                                                    <div class="flex items-center justify-center ml-4 bg-white rounded-lg p-2 px-6 h-8 hover:cursor-pointer">
                                                        <img *ngIf="checkHeartReaction(child) == false" class="w-5 h-5 mr-4" src="./assets/images/new-design/icons/heart-unselected.png" (click)="toggleHeart(child, true)">
                                                        <img *ngIf="checkHeartReaction(child) == true" class="w-5 h-5 mr-4" src="./assets/images/new-design/icons/heart-selected.png" (click)="toggleHeart(child, false)">
                                                        <span>{{ getReactions(child)?.length || 0 }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4" [innerHTML]="child?.comment">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full" 
                [ngClass]="{'pl-0 sm:pl-0 md:pl-24 lg:pl-24': planComments?.length > 0}" 
                *ngIf="userId">
                <textarea 
                    name="comment" 
                    id="comment" 
                    cols="30" 
                    rows="8"
                    class="w-full p-4 rounded-lg border border-gray-300"
                    placeholder="{{ 'plan-details.addanewcomment' | translate }}"
                    [(ngModel)]="comment" 
                >
                </textarea>
                <div>
                    <button
                        (click)="addComment()"
                        class="btn text-white px-12 mt-4 float-right hover:cursor-pointer uppercase"
                        [ngStyle]="{
                            'background-color': buttonColor,
                            'opacity': addCommentHover ? 1.5 : 1,
                            'filter': addCommentHover ? 'brightness(0.8)' : 'brightness(1)'
                        }"
                        (mouseover)="toggleAddCommentHover(true)"
                        (mouseleave)="toggleAddCommentHover(false)"
                    >
                        {{ 'plan-details.comment' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<button #modalbutton data-modal-target="item-modal" data-modal-toggle="item-modal" class="hidden block text-white bg-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
    &nbsp;
</button>
<div id="item-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="item-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">
                    {{ 'plan-details.emailinvite' | translate }}
                </h3>
                <form 
                    class="space-y-6"
                    (ngSubmit)="handleCloseInvite()"
                >
                    <fieldset>
                        <div *ngFor="let item of emailInviteQuestions" class="mb-6">
                            <div class="mb-4">{{ item?.question }}</div>
                            <div *ngFor="let choice of item?.options; let n = index;">
                                <div class="flex items-center mb-4 text-sm">
                                    <input id="{{'question' + item.id }}" type="radio" name="{{'question' + item.id }}" [value]="choice.id" [(ngModel)]="item.answer" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="{{'question' + item.id }}" class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                        {{ choice.option }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <button type="submit" class="w-full text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        data-modal-hide="item-modal" 
                        [ngStyle]="{
                            'background-color': buttonColor
                        }"
                    >
                        {{ 'company-settings.save' | translate }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<app-toast 
    *ngIf="showConfirmationModal" 
    [company]="company" 
    [update]="false" 
    [confirm]="true"
    [title]="confirmDeleteItemTitle"
    [description]="confirmDeleteItemDescription"
    [acceptText]="acceptText"
    [cancelText]="cancelText"
    (onAccept)="confirm()"
></app-toast>