<div class="bg-gray-200 rounded-xl hover:scale-[1.03] transition-all relative overflow-hidden">
    <div class="p-6">
        <div
            class="bg-gray-100 w-10 h-10 flex items-center justify-center rounded-full cursor-pointer absolute top-4 right-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="16px" class="fill-gray-800 inline-block" viewBox="0 0 64 64">
            <path
                d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z"
                data-original="#000000"></path>
            </svg>
        </div>
        <div class="w-2/3 h-[220px] overflow-hidden mx-auto aspect-w-16 aspect-h-8">
            <img (click)="handleDetailsRoute(id)" [src]="image" [alt]="title" class="hover:cursor-pointer h-full w-full object-contain" />
        </div>
    </div>
    <div class="text-center bg-gray-100 p-6">
        <h3 class="text-lg font-bold text-gray-800 hover:cursor-pointer" (click)="handleDetailsRoute(id)">{{ title }}</h3>
        <h4 class="text-lg text-gray-800 font-bold mt-6">
            <div class="flex justify-center">
                <p *ngIf="id == 1" class="text-lg font-bold text-gray-900 dark:text-white">
                    <span class="line-through"> €19,99 </span>
                </p>
                <span [ngClass]="{'text-red-600 ml-2': id == 1}">{{ price }}</span>
            </div>
        </h4>
        <div class="flex justify-center space-x-2 mt-4">
            <svg [ngClass]="{'fill-[#facc15]': ratings >= 1, 'fill-[#CED5D8]': ratings == 0}" class="w-4" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
            <svg [ngClass]="{'fill-[#facc15]': ratings >= 2, 'fill-[#CED5D8]': ratings < 2}" class="w-4" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
            <svg [ngClass]="{'fill-[#facc15]': ratings >= 3, 'fill-[#CED5D8]': ratings < 3}" class="w-4" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
            <svg [ngClass]="{'fill-[#facc15]': ratings >= 4, 'fill-[#CED5D8]': ratings < 4}" class="w-4" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
            <svg [ngClass]="{'fill-[#facc15]': ratings >= 5, 'fill-[#CED5D8]': ratings < 5}" class="w-4" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
            </svg>
        </div>
        <button type="button"
            class="w-full flex items-center justify-center gap-3 mt-6 px-6 py-3 text-base text-white font-semibold rounded-xl"
            [ngStyle]="{'background-color': buttonColor}"
            (click)="handleAddToCart(id)">
            <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"/>
            </svg>
            {{ 'shop.addtocart' | translate }}</button>
    </div>
</div>