<div class="container flex flex-col items-center justify-center h-full">
    <div class="w-full max-w-md">
        <app-company-logo [logoSource]="logoSource" />
        <div
            class="flex items-center justify-center pt-7 m-auto left-0 right-0 text-center mt-0 w-9/12 text-xl"
            [ngStyle]="{
            color:
                primaryColor == '#ffffff' || primaryColor == '#fff'
                ? '#1e1e1e'
                : '#fff'
            }"
        >
            {{ "login.forgotpasswordtitle" | translate }}
        </div>
        <div
            class="flex items-center justify-center pt-4 m-auto left-0 right-0 text-center mt-0 pt-8 mb-8 w-11/12"
            [ngStyle]="{
            color:
                primaryColor == '#ffffff' || primaryColor == '#fff'
                ? '#1e1e1e'
                : '#fff'
            }"
        >
            {{ "login.forgotpassworddesc" | translate }}
        </div>
        <div class="">
            <form
                class="m-auto text-center mb-8 w-9/12"
                [formGroup]="forgotPasswordForm"
                (ngSubmit)="send()"
            >
                <div class="mb-6">
                    <input
                        class="text-sm shadow appearance-none border rounded-[10px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-none"
                        id="email"
                        type="text"
                        placeholder="{{ 'login.emailaddress' | translate }}"
                        formControlName="email"
                    />
                </div>
                <div class="flex items-center justify-center mb-10">
                    <button
                        type="submit"
                        class="inline-block h-[40px] text-sm px-6 py-2 font-semibold bg-white rounded-[10px] hover:bg-black hover:text-white focus:ring-4 focus:ring-offset-black focus:outline-none"
                        [ngStyle]="{
                            color: buttonColor,
                            'border-color':
                            primaryColor == '#ffffff' || primaryColor == '#fff'
                                ? buttonColor
                                : 'transparent',
                            'border-width':
                            primaryColor == '#ffffff' || primaryColor == '#fff'
                                ? '1px'
                                : '0',
                            'border-style':
                            primaryColor == '#ffffff' || primaryColor == '#fff'
                                ? 'solid'
                                : 'none'
                        }"
                    >
                        {{ "login.send" | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="flex items-center justify-center mb-10 hover:cursor-pointer">
      <a
        class="text-sm hover:cursor-pointer"
        [routerLink]="['/auth/login']"
        [ngStyle]="{
          color:
            primaryColor == '#ffffff' || primaryColor == '#fff'
              ? '#1e1e1e'
              : '#fff'
        }"
        >{{ "login.returntologin" | translate }}</a
      >
    </div>
</div>