<div id="chart" *ngIf="chartOptions?.series">
    <apx-chart
        #chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [responsive]="chartOptions.responsive"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [colors]="chartOptions.colors"
        [plotOptions]="chartOptions.plotOptions"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [grid]="chartOptions.grid"
        [dataLabels]="chartOptions.dataLabels"
    ></apx-chart>
</div>