<div class="relative">
  <div class="z-0 w-full hidden lg:block relative">
    <img class="w-full" src="/src/assets/images/ideal_home/sided_back.jpg" />
  </div>
  <div class="relative lg:absolute z-10 top-0 w-full h-full flex items-center justify-center">
    <div class="flex justify-center">
      <div
        class="relative mx-10 lg:mx-0 w-full lg:w-[800px] xl:w-[1100px] flex px-4 lg:px-24 xl:px-36 py-2 lg:py-[42px] lg:py-[86px] flex-col space-y-12 rounded-lg bg-[#F5F6F8] shadow-lg"
      >
        <p class="text-lg lg:text-2xl leading-[40px] lg:text-[29px] lg:leading-[40px] line-clamp-5 text-center" [innerHtml]="cardData.description">
          “Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti
          sint ipsa aliquid, qui rerum, minima illum deserunt alias eaque eius
          saepe a nostrum autem architecto. Assumenda numquam ad magni sed.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.Deleniti
          sint ipsa”
        </p>
        <div
          class="flex flex-col space-y-4 xl:space-y-0 xl:justify-between xl:flex-row"
        >
          <div class="flex items-center justify-between xl:justify-normal xl:space-x-9">
            <div class="w-[79px] h-[79px] overflow-hidden" *ngIf="cardData.image">
              <img [src]="cardData.image" *ngIf="cardData.image" />
            </div>
            <div>
              <p class="font-bold text-3xl">{{ cardData.author }}</p>
              <p class="text-2xl w-[200px] line-clamp-1" [innerHTML]="cardData.short_description"></p>
            </div>
          </div>
          <a href="/testimonials" class="xl:self-end">
            <div
              class="text-[#A77FE0] flex justify-center xl:justify-normal xl:items-center"
            >
              <p class="font-extrabold text-2xl">
                {{ 'professionals.learnmoreaboutthesetestimonies' | translate }}&nbsp;
              </p>
              <fa-icon class="fa text-2xl" [icon]="arrowRightIcon"></fa-icon>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>