<div class="bg-[#BE8F37] w-[364px] h-[100px] pr-3 flex rounded-md space-x-2 items-center">
  <div class="flex justify-center items-center overflow-hidden flex-1 h-full">
    <img class="" [src]="cardData.image" />
  </div>
  <div class="pb-1 flex flex-col flex-none w-[257px]">
    <div class="pr-16 text-white mb-1">
      <div class="font-semibold text-3xl leading-10 whitespace-nowrap truncate max-w-[185px] overflow-hidden">{{ cardData.title }}</div>
      <div class="text-xs">Pequeña descripción de la especialidad</div>
    </div>
    <div class="font-semibold text-xs ml-auto underline text-white">{{ "professionals.gettoknowthespecialties" | translate }}</div>
  </div>
</div>