<ng-container *ngIf="!isLoading && landingPage?.id > 0">
    <app-landing-full-width
        *ngIf="selectedLayout == 'fullwidth'"
        [selectedLayout]="selectedLayout"
        [selectedBackgroundColor]="selectedBackgroundColor"
        [selectedTextColor]="selectedTextColor"
        [activateBanner]="activateBanner"
        [bannerImage]="bannerImage"
        [activateSection1]="activateSection1"
        [section1Text]="section1Text"
        [activateSection1QuestionCTA]="activateSection1QuestionCTA"
        [section1QuestionCTAText]="section1QuestionCTAText"
        [section1QuestionCTAColor]="section1QuestionCTAColor"
        [section1QuestionCTATextColor]="section1QuestionCTATextColor"
        [activateSection2]="activateSection2"
        [section2Text]="section2Text"
        [activateSection2QuestionCTA]="activateSection2QuestionCTA"
        [section2QuestionCTAText]="section2QuestionCTAText"
        [section2QuestionCTAColor]="section2QuestionCTAColor"
        [section2QuestionCTATextColor]="section2QuestionCTATextColor"
        [activateSection3]="activateSection3"
        [section3Text]="section3Text"
        [activateSection3QuestionCTA]="activateSection3QuestionCTA"
        [section3QuestionCTAText]="section3QuestionCTAText"
        [section3QuestionCTAColor]="section3QuestionCTAColor"
        [section3QuestionCTATextColor]="section3QuestionCTATextColor"
        [slug]="slug"
        [defaultQuestionId]="defaultQuestionId"
        [spainQuestionId]="spainQuestionId"
        [outsideSpainQuestionId]="outsideSpainQuestionId"
        [latamQuestionId]="latamQuestionId"
        [country]="country"
        [city]="city"
        [ipAddress]="ipAddress"
    >
    </app-landing-full-width>
    <app-landing-boxed
        *ngIf="selectedLayout == 'boxed'"
        [selectedLayout]="selectedLayout"
        [selectedBackgroundColor]="selectedBackgroundColor"
        [selectedTextColor]="selectedTextColor"
        [activateBanner]="activateBanner"
        [bannerImage]="bannerImage"
        [activateSection1]="activateSection1"
        [section1Text]="section1Text"
        [activateSection1QuestionCTA]="activateSection1QuestionCTA"
        [section1QuestionCTAText]="section1QuestionCTAText"
        [section1QuestionCTAColor]="section1QuestionCTAColor"
        [section1QuestionCTATextColor]="section1QuestionCTATextColor"
        [activateSection2]="activateSection2"
        [section2Text]="section2Text"
        [activateSection2QuestionCTA]="activateSection2QuestionCTA"
        [section2QuestionCTAText]="section2QuestionCTAText"
        [section2QuestionCTAColor]="section2QuestionCTAColor"
        [section2QuestionCTATextColor]="section2QuestionCTATextColor"
        [activateSection3]="activateSection3"
        [section3Text]="section3Text"
        [activateSection3QuestionCTA]="activateSection3QuestionCTA"
        [section3QuestionCTAText]="section3QuestionCTAText"
        [section3QuestionCTAColor]="section3QuestionCTAColor"
        [section3QuestionCTATextColor]="section3QuestionCTATextColor"
        [slug]="slug"
        [defaultQuestionId]="defaultQuestionId"
        [spainQuestionId]="spainQuestionId"
        [outsideSpainQuestionId]="outsideSpainQuestionId"
        [latamQuestionId]="latamQuestionId"
        [country]="country"
        [city]="city"
        [ipAddress]="ipAddress"
    >
    </app-landing-boxed>
</ng-container>
<div *ngIf="!isLoading && !(landingPage?.id > 0)" class="center pt-16">
    <app-no-access></app-no-access>
</div>