<div class="flex">
    <app-sidebar
        [menus]="menus" 
        [refreshedMenu]="refreshedMenu"
        [company]="company"
        [otherSettings]="otherSettings"
        [language]="language"
        [languages]="languages"
        [userid]="userId"
        [username]="username" 
        [isAdmin]="isAdmin" 
        [currentUser]="currentUser"
        [imageSrc]="imageSrc"
        [notifications]="notifications"
        [popupNotifications]="popupNotifications"
        [canManageEvents]="canManageEvents"
        [customMemberTypeName]="customMemberTypeName"
        [expireDays]="expireDays"
        [expireDaysDiff]="expireDaysDiff"
        [cancelDays]="cancelDays"
        [memberTypeExpirations]="memberTypeExpirations"
        [hasEventCalendar]="hasEventCalendar"
        [isTutorUser]="isTutorUser"
        [hasTutors]="hasTutors"
        [canCreateCourse]="canCreateCourse"
        [coursesTitle]="coursesTitle"
        [tutorManageStudentAccess]="tutorManageStudentAccess"
        [hasCreditSetting]="hasCreditSetting"
        [hasCreditPackageSetting]="hasCreditPackageSetting"
        [myClubsTitle]="myClubsTitle"
        [myActivitiesTitle]="myActivitiesTitle"
        [buttonColor]="buttonColor"
        [hoverColor]="hoverColor"
        [logoSource]="logoSource"
        [superAdmin]="superAdmin"
        [isUESchoolOfLife]="isUESchoolOfLife"
        [hasHistoryOfActivities]="hasHistoryOfActivities"
        [customMemberType]="customMemberType"
        (changeLanguage)="changedLanguage($event)" 
    >
    </app-sidebar>
    <main class="container w-full max-w-full py-6 md:px-6 sm:md:px-6 md:px-16 lg:md:px-16 relative"
        [ngStyle]="{'background': isWall ? '#f8f4f4' : 'initial'}">
        <div class="absolute top-10 left-7 md:hidden lg:hidden bg-white border-gray-200 dark:bg-gray-900">
            <app-mobile-navbar 
                [menus]="menus" 
                [company]="company"
                [otherSettings]="otherSettings"
                [language]="language"
                [languages]="languages"
                [userid]="userId"
                [username]="username" 
                [isAdmin]="isAdmin" 
                [currentUser]="currentUser"
                [imageSrc]="imageSrc"
                [notifications]="notifications"
                [popupNotifications]="popupNotifications"
                [canManageEvents]="canManageEvents"
                [customMemberTypeName]="customMemberTypeName"
                [expireDays]="expireDays"
                [expireDaysDiff]="expireDaysDiff"
                [cancelDays]="cancelDays"
                [memberTypeExpirations]="memberTypeExpirations"
                [hasEventCalendar]="hasEventCalendar"
                [isTutorUser]="isTutorUser"
                [hasTutors]="hasTutors"
                [canCreateCourse]="canCreateCourse"
                [coursesTitle]="coursesTitle"
                [tutorManageStudentAccess]="tutorManageStudentAccess"
                [hasCreditSetting]="hasCreditSetting"
                [hasCreditPackageSetting]="hasCreditPackageSetting"
                [myClubsTitle]="myClubsTitle"
                [myActivitiesTitle]="myActivitiesTitle"
                (changeLanguage)="changedLanguage($event)" 
            ></app-mobile-navbar>
        </div>
        <div class="absolute right-10 sm:right-10 md:right-20 lg:right-20 z-50" *ngIf="userId">
            <app-user-menu
                [menus]="menus"
                [company]="company"
                [otherSettings]="otherSettings"
                [language]="language"
                [languages]="languages"
                [userid]="userId"
                [username]="username" 
                [isAdmin]="isAdmin" 
                [currentUser]="currentUser"
                [imageSrc]="imageSrc"
                [notifications]="notifications"
                [popupNotifications]="popupNotifications"
                [canManageEvents]="canManageEvents"
                [customMemberTypeName]="customMemberTypeName"
                [myClubsTitle]="myClubsTitle"
                [myActivitiesTitle]="myActivitiesTitle"
                [buttonColor]="buttonColor"
                [isTutorMenuVisible]="isTutorMenuVisible"
                [manageMembers]="manageMembers"
                [userTypeName]="userTypeName"
                [superTutor]="superTutor"
                [cityAdmin]="cityAdmin"
                [hasCreditSetting]="hasCreditSetting"
                [hasCreditPackageSetting]="hasCreditPackageSetting"
                [isTutorUser]="isTutorUser"
                [showProfileButton]="showProfileButton"
                [perHourCommission]="perHourCommission"
                [tutorManageStudentAccess]="tutorManageStudentAccess"
                [separateCourseCredits]="separateCourseCredits"
                [courseSubscriptions]="courseSubscriptions"
                [userCourseCredits]="userCourseCredits"
                [courses]="courses"
                [creditPackages]="creditPackages"
                [hasCredits]="hasCredits"
                [campus]="user?.campus"
                [isNetculturaUser]="isNetculturaUser"
                (changeLanguage)="changedLanguage($event)" 
                [potSuperTutor]="potSuperTutor"
                [potTutor]="potTutor"
                [hasInvitations]="hasInvitations"
                [companyId]="companyId"
                [customMemberType]="customMemberType"
                [customMemberTypePermissions]="customMemberTypePermissions"
                [superAdmin]="superAdmin"
            >
            </app-user-menu>
        </div>
        <div class="absolute right-10 sm:right-10 md:right-20 lg:right-20 z-50" *ngIf="!userId">
            <app-guest-menu
                [company]="company"
                [language]="language"
                [buttonColor]="buttonColor"
                [canRegister]="canRegister">
            </app-guest-menu>
        </div>
        <ng-content></ng-content>
    </main>
</div>