<div class="hidden sm:hidden md:block lg:block">
    <app-breadcrumb 
        [level1Title]="level1Title"
        [level2Title]="level2Title"
        [level3Title]="level3Title"
        [level4Title]="level4Title"
        [buttonColor]="buttonColor"
        (goBack)="handleGoBack()"
    />
</div>
<div class="w-full max-w-full flex flex-col sm:flex-col md:flex-row lg:flex-row gap-12 pt-20 sm:pt-20 md:pt-0 lg:pt-0">
    <div class="shrink-0 w-full sm:w-full md:w-96 lg:w-96 mb-8"
        [ngClass]="{'mt-8': role == 'professional', 'mt-2': role == 'user'}">
        <div *ngIf="role == 'user'">
            <app-page-title [title]="pageTitle"></app-page-title>
            <hr class="h-px mt-2 mb-4 bg-gray-200 border-0">
        </div>
        <app-astro-ideal-panel-menu
            [companyId]="companyId"
            [userId]="userId"
            [buttonColor]="buttonColor"
            [primaryColor]="primaryColor"
            [list]="menuItems"
            [selectedMenu]="selectedMenu"
            (onMenuClick)="handleMenuClick($event)">
        </app-astro-ideal-panel-menu>
        <div class="mt-4 flex justify-between" *ngIf="role == 'professional'">
            <div class="text-lg font-medium">{{ 'user-panel.earnings' | translate }}</div>
            <div class="text-2xl font-semibold">EUR {{ totalEarnings }}</div>
        </div>
    </div>
    <div class="w-full max-w-full my-8" *ngIf="selectedMenu?.show_right_content">
        <div class="mb-8" *ngIf="role == 'professional'">
            <div class="flex flex-col sm:flex-col md:flex-row lg:flex-row justify-between" >
                <div>
                    <div class="text-3xl font-semibold">{{ selectedMenu.text }}</div>
                    <div class="text-base text-[#677173] opacity-50" *ngIf="selectedMenu?.subtext">{{ selectedMenu.subtext }}</div>
                </div>
                <div *ngIf="role == 'professional'">
                    <div class="flex items-center">
                        <div class="text-base">{{ 'user-panel.profilecompleted' | translate }}</div>
                        <app-astro-ideal-radial-progress [percentComplete]="percentComplete"></app-astro-ideal-radial-progress>
                    </div>
                </div>
            </div>
        </div>
        <div class="rounded-[15px] border border-1 border-[#d3d4d6] px-4 sm:px-4 md:px-12 lg:px-12 pt-8 pb-4 mb-4">
            <ng-container *ngIf="selectedMenu?.action == 'personal-info'">
                <app-astro-ideal-personal-information
                    [id]="id"
                    [profile]="me"
                    [image]="image"
                    [reviews]="reviews"
                    [specialtyCategories]="specialtyCategories"
                    [buttonColor]="buttonColor"
                    [voiceCall]="me?.voice_call"
                    [videoCall]="me?.video_call"
                    [chat]="me?.chat"
                    [role]="role"
                    [subcategories]="subcategories"
                    [gender]="gender"
                    [languages]="languages"
                    [specialties]="specialties"
                    (onPersonalInformationSaved)="handlePersonalInformationSaved()">
                </app-astro-ideal-personal-information>
            </ng-container>
            <ng-container *ngIf="selectedMenu?.action == 'about-me'">
                <app-astro-ideal-about-me
                    [profile]="me"
                    [supportedLanguages]="supportedLanguages"
                    [buttonColor]="buttonColor"
                    (onAboutMeSaved)="handleAboutMeSaved($event)">
                </app-astro-ideal-about-me>
            </ng-container>
        </div>
        <div *ngIf="role == 'professional' && selectedMenu?.action == 'personal-info'" class="rounded-[15px] border border-1 border-[#d3d4d6] p-8 px-4 sm:px-4 md:px-8 lg:px-8 mb-4">
            <app-astro-ideal-price-per-service
                title="{{ 'user-panel.priceperservice' | translate }}"
                [buttonColor]="buttonColor"
                [voiceCall]="me?.voice_call"
                [videoCall]="me?.video_call"
                [chat]="me?.chat"
                [voiceCallRate]="me?.rate"
                [videoCallRate]="me?.video_call_rate"
                [chatRate]="me?.chat_rate"
                (onPricePerServiceSaved)="handlePricePerServiceSaved($event)">
            </app-astro-ideal-price-per-service>
        </div>
        <div *ngIf="role == 'professional' && selectedMenu?.action == 'about-me'"
            class="rounded-[15px] border border-1 border-[#d3d4d6] px-12 py-4 mb-4">
            <div class="flex items-center justify-between pb-2 mt-4 ">
                <div class="font-semibold text-base">{{ 'user-panel.multimediacontent' | translate }}</div>
                <div *ngIf="imageAdded">
                    <button (click)="saveMultimediaContent()" class="bg-[#D9D9D9] rounded-[7px] py-2 px-6 flex items-center justify-center">
                        <svg class="w-6 h-6 textblack" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m17 21-5-4-5 4V3.889a.92.92 0 0 1 .244-.629.808.808 0 0 1 .59-.26h8.333a.81.81 0 0 1 .589.26.92.92 0 0 1 .244.63V21Z"/>
                        </svg>
                        <span class="ml-2 text-base font-semibold">{{ 'your-admin-area.save' | translate }}</span>
                    </button>
                </div>
            </div>
            <ng-container *ngIf="images?.length > 0">
                <app-astro-ideal-multimedia-content
                    [id]="me?.id"
                    [images]="images"
                    [buttonColor]="buttonColor"
                    [showFilesUpload]="showFilesUpload"
                    mode="edit"
                    (onFilesUploaded)="handleFilesUploaded($event)">
                </app-astro-ideal-multimedia-content>
            </ng-container>
        </div>
        <div class="my-8" *ngIf="selectedMenu?.action == 'personal-info'">
            <div class="flex items-center mb-8">
                <div class="flex items-center h-5">
                    <input id="receive-email-checkbox" aria-describedby="receive-email-checkbox-text" type="checkbox" value="" 
                        [(ngModel)]="receiveEmail" 
                        [ngModelOptions]="{standalone: true}"
                        [ngStyle]="{'color': receiveEmail ? 'text-purple-300' : 'text-gray-900'}"
                        class="w-4 h-4 sm:w-4 sm:h-4 md:w-7 md:h-7 lg:w-7 lg:h-7 border-gray-300 rounded"
                        (change)="handleChangePreference($event, 'receive_email_preference')">
                </div>
                <div class="ms-2 text-sm">
                    <label for="receive-email-checkbox" class="font-bold text-[13px] sm:text-[13px] md:text-xl lg:text-xl -mt-3 ml-1 sm:ml-1 md:ml-8 lg:ml-8">{{ 'user-panel.receivemail' | translate }}</label>
                    <p id="receive-email-checkbox-text" class="text-xs sm:text-xs md:text-sm lg:text-sm font-normal text-gray-500 opacity-50 ml-1 sm:ml-1 md:ml-8 lg:ml-8">{{ 'user-panel.receivemaildesc' | translate }}</p>
                </div>
            </div>
            <div class="flex items-center">
                <div class="flex items-center h-5">
                    <input id="terms-conditions-checkbox" aria-describedby="terms-conditions-checkbox-text" type="checkbox" value="" 
                        [(ngModel)]="termsAndConditions" 
                        [ngModelOptions]="{standalone: true}"
                        [ngStyle]="{'color': termsAndConditions ? 'text-purple-300' : 'text-gray-900'}"
                        class="w-4 h-4 sm:w-4 sm:h-4 md:w-7 md:h-7 lg:w-7 lg:h-7 border-gray-300 rounded"
                        (change)="handleChangePreference($event, 'terms_and_conditions')">
                </div>
                <div class="ms-2 text-sm">
                    <label for="terms-conditions-checkbox" class="font-bold text-[13px] sm:text-[13px] md:text-xl lg:text-xl -mt-3 ml-1 sm:ml-1 md:ml-8 lg:ml-8">{{ 'sidebar.termsandconditions' | translate }}</label>
                    <p id="terms-conditions-checkbox-text" class="text-xs sm:text-xs md:text-sm lg:text-sm font-normal text-gray-500 opacity-50 ml-1 sm:ml-1 md:ml-8 lg:ml-8">{{ 'user-panel.termsandconditionsdesc' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-toast 
    *ngIf="showConfirmationModal" 
    [company]="company" 
    [update]="false" 
    [confirm]="true"
    [title]="confirmTitle"
    [description]="confirmDescription"
    [acceptText]="acceptText"
    [cancelText]="cancelText"
    (onAccept)="confirm()"
></app-toast>