<nav class="fixed w-full z-40 top-0 start-0 border-b border-gray-200 dark:border-gray-600"
  [ngStyle]="{'background-color': primaryColor}">
  <nav class="border-gray-200 dark:bg-gray-900 mx-auto" [ngStyle]="{'background-color': primaryColor}">
    <div class="relative">
      <div class="flex bg-[#A77FE0]">
        <div class=" grow flex flex-wrap justify-between items-center pl-4 pb-4 rounded-tr-xl"
          [ngStyle]="{'background-color': primaryColor}">
            <a href="javascript:;" (click)="goToPage('/')" class="flex items-center space-x-3 rtl:space-x-reverse">
              <img [src]="logoSource" class="w-[384px] h-[88px] object-contain mr-6 pt-2" [alt]="company.entity_name" />
            </a>
            <div class="flex items-center flex-1 pt-3">
              <ul class="flex flex-row grow gap-12 justify-start align font-medium mt-0 space-x-7 rtl:space-x-reverse text-sm overflow-x-scroll no-scrollbar">
                <ng-container *ngFor="let menu of menus$ | async">
                  <li class="text-[#CEB05A] hover:text-[#D1B298] text-lg" routerLinkActive="text-[#D1B298]" *ngIf="menu?.path != 'home' && menu?.path != 'professionals'">
                    <a href="javascript:;" (click)="navigateToPage(menu)"
                      class="flex flex-row items-center gap-3">{{ getMenuTitle(menu) }}
                    </a>
                  </li>
                </ng-container>
              </ul>
              <img 
                  class="w-[52px] h-[52px] object-cover rounded-full mr-4 hover:cursor-pointer object-top -mt-10" 
                  *ngIf="imageSrc" 
                  [src]="imageSrc" 
                  [alt]="username"
                  (click)="goToPage('/users/panel/' + userid, 'panel')"
                />
            </div>
          </div>
          <div [ngStyle]="{'background-color': primaryColor}">
            <div class="bg-[#A77FE0] items-center flex rounded-bl-xl h-[58px]">
              <ng-container *ngIf="!userid && !isCursoGeniusTestimonials">
                <div class="ml-2">
                  <app-guest-menu
                    [company]="company"
                    [language]="language"
                    [primaryColor]="primaryColor"
                    [buttonColor]="buttonColor"
                    [canRegister]="canRegister"
                    [navigation]="navigation">
                  </app-guest-menu>
                </div>
              </ng-container>
              <ng-container *ngIf="userid">
                <div class="flex justify-center">
                  <div class="flex items-center text-white ml-4 mr-9">
                    <div class="ml-2 font-semibold text-base" *ngIf="currentUser">{{ (currentUser?.available_balance || 0) | currency: (currentUser?.currency || 'EUR') : 'code' : '1.2' : language }}</div>
                    <button
                      class="text-sm text-white font-semibold px-5 py-1.5 ml-4 border border-white rounded-lg"
                      (click)="goToPage('/users/account-recharge')"
                      [ngStyle]="{'border-color': buttonColor, 'color': buttonColor}">
                          {{ 'professionals.recharge' | translate }}
                    </button>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
      </div>
    </div>
  </nav>
  <nav [ngStyle]="{'background-color': primaryColor}" class="-mb-[1px]">
    <div>
        <div class="flex items-center w-full max-w-full relative">
            <ul class="w-full max-w-full flex flex-row font-medium mt-0 space-x-12 text-sm overflow-x-scroll no-scrollbar">
              <div class="flex-none bg-[#A77FE0] items-center hidden lg:flex rounded-tr-xl p-4 px-5">
                <div class="flex flex-col hover:cursor-pointer" (click)="handleSecondaryMenuClick('1')">
                  <p class="text-white pr-4 text-[25px]">{{"landing.tarottalk" | translate}}</p>
                </div>
                <ul class="flex flex-row gap-4 justify-center items-center font-medium mt-0  rtl:space-x-reverse">
                  <li>
                    <button
                      type="button"
                      class="text-white bg-[#b9a2e2] font-medium rounded text-sm text-center inline-flex items-center w-[43px] h-[43px] justify-center"
                    >
                    <img src="./assets/professional-icons/comment.png" class="w-[26px] h-[30px] object-contain" />
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="text-white bg-[#b9a2e2] font-medium rounded text-sm text-center inline-flex items-center w-[43px] h-[43px] justify-center"
                    >
                      <img src="./assets/professional-icons/phone.png" class="w-[21px] h-[24px] object-contain" />
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="text-white bg-[#b9a2e2] font-medium rounded text-sm text-center inline-flex items-center w-[43px] h-[43px] justify-center"
                    >
                    <img src="./assets/professional-icons/video.png" class="w-[28px] h-[28px] object-contain" />
                    </button>
                  </li>
                </ul>
              </div>
              <div class="flex-1">
                <ul class="flex items-center justify-between">
                  <li class="space-x-[94px] items-center hidden xl:flex">
                    <div *ngFor="let item of categories; let i = index; let last = last;">
                      <button class="flex flex-col items-center" (click)="handleSecondaryMenuClick(item.left)">
                        <img [src]="item.image" [alt]="item.name" class="w-[40px] h-[44px] object-cover opacity-70" [ngClass]="{'w-[48px] h-[50px]': last, 'w-[36px] h-[52px]': i == 3}" />
                        <p class="text-[#D8D7D7] py-2 font-semibold text-xl" [ngClass]="{'-mt-[8px]': last || i == 3}">
                          {{ item.name }}
                        </p>
                      </button>
                    </div>
                  </li>
                  <div *ngFor="let item of categories; let i = index; let last = last;" class="block xl:hidden">
                    <button class="flex flex-col items-center" (click)="handleSecondaryMenuClick(item.left)">
                      <img [src]="item.image" [alt]="item.name" class="w-8 h-8 object-cover opacity-70" [ngClass]="{'w-[48px] h-[50px]': last, 'w-[36px] h-[52px]': i == 3}" />
                      <p class="text-[#D8D7D7] py-2 font-semibold text-xl" [ngClass]="{'-mt-[8px]': last || i == 3}">
                        {{ item.name }}
                      </p>
                    </button>
                  </div>
                  <li *ngIf="company?.id == 67 && hasBlog" class="pr-12 xl:pr-[139px]">
                    <button class="flex flex-col items-center relative" (click)="navigateToPage('/blog')">
                      <img src="./assets/professional-icons/blog_small.png" alt="Blog" class="" />
                      <p class="text-[#CEB05A] text-xl font-semibold absolute left-[28px] top-[32px]">
                        Blog
                      </p>
                    </button>
                  </li>
                </ul>
              </div>
            </ul>
            <ng-container *ngIf="hasProfessionals && homePage && professionals?.length > 0">
              <app-astro-ideal-floating-tarot-readers
                *ngIf="showFloatingProfessionals"
                [companyId]="companyId"
                [userId]="userid"
                [buttonColor]="buttonColor"
                [primaryColor]="primaryColor"
                [professionals]="professionals"
                [categories]="categories"
                [left]="left">
              </app-astro-ideal-floating-tarot-readers>
            </ng-container>
        </div>
    </div>
  </nav>
</nav>