<nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-2xl p-4">
        <a href="https://flowbite.com" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img [src]="logoSource" class="h-8" alt="VCP" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white capitalize">{{ company?.entity_name }}</span>
        </a>
        <div class="flex items-center">
          <div class="flex items-center mr-3">
            <ng-container *ngFor="let lang of languages;let i = index;">
              <div class="flex items-center space-x-1 md:space-x-0">
                <button type="button" data-dropdown-toggle="language-dropdown-menu" 
                  class="inline-flex items-center font-medium justify-center p-1 text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                  <img
                    [src]="lang.code == 'en' ? './assets/menu-icons/menu-icon-en.png' : (
                      lang.code == 'eu' ? './assets/menu-icons/menu-icon-eu.png' : (
                        lang.code == 'it' ? './assets/menu-icons/menu-icon-it.png' : 
                        './assets/menu-icons/menu-icon-es.png')
                    )"
                    class="cursor-pointer w-[30px] max-w-[30px] h-[23px] max-h-[23px] rounded-[5px]"
                    [ngClass]="{'border border-2 border-white': language == lang.code}"
                    alt=""
                  />
                </button>
              </div>
            </ng-container>
          </div>
          <span class="w-px h-5 bg-gray-300">&nbsp;</span>
          <ng-container *ngIf="!userid && !isCursoGeniusTestimonials">
            <div class="ml-2">
              <app-guest-menu
                [company]="company"
                [language]="language"
                [primaryColor]="primaryColor"
                [buttonColor]="buttonColor"
                [canRegister]="canRegister"
                [navigation]="navigation">
              </app-guest-menu>
            </div>
          </ng-container>
        </div>
    </div>
  </nav>
  <nav [ngStyle]="{'background-color': primaryColor}">
    <div class="px-4 py-4 mx-auto max-w-screen-2xl">
        <div class="flex items-center">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a href="#" class="text-white hover:underline" aria-current="page">Home</a>
                </li>
                <li>
                    <a href="#" class="text-white hover:underline">Company</a>
                </li>
                <li>
                    <a href="#" class="text-white hover:underline">Team</a>
                </li>
                <li>
                    <a href="#" class="text-white hover:underline">Features</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
</nav>