<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-6 lg:grid-cols-6 gap-4 justify-evenly relative"> 
    <div class="col-span-1 sm:col-span-1 md:col-span-2 lg:col-span-2 row-span-2 rounded-lg relative cursor-pointer" [routerLink]="[plan1Data?.path]" *ngIf="plan1Data?.id > 0">
        <app-plan-card
            [image]="plan1Data?.image"
            [title]="plan1Data?.title"
            [date]="plan1Data?.plan_date"
            [id]="plan1Data?.id"
            [planTypeId]="plan1Data?.plan_type_id"
            [privacy]="plan1Data?.privacy"
            [privateType]="plan1Data?.private_type"
            [featuredTitle]="plan1Data?.featured_title"
            [excerpt]="plan1Data?.excerpt"
            [address]="plan1Data?.address"
            [credits]="plan1Data?.credits"
            [price]="plan1Data?.price"
            [buttonColor]="buttonColor"
            [page]="'home'"
            (handleDetailsClick)="handleDetailsClickRoute($event)"
        >
        </app-plan-card>
    </div> 
    <div class="rounded-lg row-span-1 cursor-pointer relative" [routerLink]="[plan2Data?.path]" *ngIf="plan2Data?.id > 0">
        <app-plan-card
            [image]="plan2Data?.image"
            [title]="plan2Data?.title"
            [date]="plan2Data?.plan_date"
            [id]="plan2Data?.id"
            [planTypeId]="plan2Data?.plan_type_id"
            [privacy]="plan2Data?.privacy"
            [privateType]="plan2Data?.private_type"
            [featuredTitle]="plan2Data?.featured_title"
            [excerpt]="plan2Data?.excerpt"
            [address]="plan2Data?.address"
            [credits]="plan2Data?.credits"
            [price]="plan2Data?.price"
            [buttonColor]="buttonColor"
            [page]="'home'"
            [size]="'small'"
            (handleDetailsClick)="handleDetailsClickRoute($event)"
        >
        </app-plan-card>
    </div> 
    <div class="rounded-lg row-span-1 cursor-pointer relative" [routerLink]="[plan3Data?.path]" *ngIf="plan3Data?.id > 0">
        <app-plan-card
            [image]="plan3Data?.image"
            [title]="plan3Data?.title"
            [date]="plan3Data?.plan_date"
            [id]="plan3Data?.id"
            [planTypeId]="plan3Data?.plan_type_id"
            [privacy]="plan3Data?.privacy"
            [privateType]="plan3Data?.private_type"
            [featuredTitle]="plan3Data?.featured_title"
            [excerpt]="plan3Data?.excerpt"
            [address]="plan3Data?.address"
            [credits]="plan3Data?.credits"
            [price]="plan3Data?.price"
            [buttonColor]="buttonColor"
            [page]="'home'"
            [size]="'small'"
            [position]="'row-2'"
            (handleDetailsClick)="handleDetailsClickRoute($event)"
        >
        </app-plan-card>
    </div> 
    <div class="col-span-1 sm:col-span-1 md:col-span-2 lg:col-span-2 row-span-2 rounded-lg relative cursor-pointer" [routerLink]="[plan4Data?.path]" *ngIf="plan4Data?.id > 0">
        <app-plan-card
            [image]="plan4Data?.image"
            [title]="plan4Data?.title"
            [date]="plan4Data?.plan_date"
            [id]="plan4Data?.id"
            [planTypeId]="plan4Data?.plan_type_id"
            [privacy]="plan4Data?.privacy"
            [privateType]="plan4Data?.private_type"
            [featuredTitle]="plan4Data?.featured_title"
            [excerpt]="plan4Data?.excerpt"
            [address]="plan4Data?.address"
            [credits]="plan4Data?.credits"
            [price]="plan4Data?.price"
            [buttonColor]="buttonColor"
            [page]="'home'"
            (handleDetailsClick)="handleDetailsClickRoute($event)"
        >
        </app-plan-card>
    </div>
    <div class="rounded-lg row-span-1 cursor-pointer relative" [routerLink]="[plan5Data?.path]" *ngIf="plan5Data?.id > 0">
        <app-plan-card
            [image]="plan5Data?.image"
            [title]="plan5Data?.title"
            [date]="plan5Data?.plan_date"
            [id]="plan5Data?.id"
            [planTypeId]="plan5Data?.plan_type_id"
            [privacy]="plan5Data?.privacy"
            [privateType]="plan5Data?.private_type"
            [featuredTitle]="plan5Data?.featured_title"
            [excerpt]="plan5Data?.excerpt"
            [address]="plan5Data?.address"
            [credits]="plan5Data?.credits"
            [price]="plan5Data?.price"
            [buttonColor]="buttonColor"
            [page]="'home'"
            [size]="'small'"
            (handleDetailsClick)="handleDetailsClickRoute($event)"
        >
        </app-plan-card>
    </div> 
    <div class="rounded-lg row-span-1 cursor-pointer relative" [routerLink]="[plan6Data?.path]" *ngIf="plan6Data?.id > 0">
        <app-plan-card
            [image]="plan6Data?.image"
            [title]="plan6Data?.title"
            [date]="plan6Data?.plan_date"
            [id]="plan6Data?.id"
            [planTypeId]="plan6Data?.plan_type_id"
            [privacy]="plan6Data?.privacy"
            [privateType]="plan6Data?.private_type"
            [featuredTitle]="plan6Data?.featured_title"
            [excerpt]="plan6Data?.excerpt"
            [address]="plan6Data?.address"
            [credits]="plan6Data?.credits"
            [price]="plan6Data?.price"
            [buttonColor]="buttonColor"
            [page]="'home'"
            [size]="'small'"
            [position]="'row-2'"
            (handleDetailsClick)="handleDetailsClickRoute($event)"
        >
        </app-plan-card>
    </div> 
</div>