<div [routerLink]="page == 'detail' ? null : path" [ngClass]="{'h-full max-h-full': page == 'detail'}">
    <img width="347" height="300" *ngIf="image" [ngSrc]="image" alt="" 
        class="object-top mr-4 object-cover h-full max-h-full w-full max-w-full rounded-[30px]"
        [ngClass]="{'sm:h-full sm:max-h-full md:h-[300px] md:max-h-[300px] lg:h-[300px] lg:max-h-[300px]': page != 'list' && page != 'detail',
            'sm:h-full sm:max-h-full md:h-[339px] md:max-h-[339px] lg:h-[339px] lg:max-h-[339px]': page == 'list',
            'min-h-[559px] w-full max-w-full sm:w-full sm:max-w-full md:w-[412px] md:max-w-[412px] lg:w-[412px] lg:max-w-[412px]': page == 'detail'}">
    <div class="absolute inset-0 bg-gray-800 opacity-60 rounded-[30px] w-full max-w-full"
        [ngClass]="{'sm:w-full sm:max-w-full md:w-[412px] md:max-w-[412px] lg:w-[412px] lg:max-w-[412px]': page == 'detail'}">
    </div>
    <div class="absolute inset-0 flex items-center justify-center" *ngIf="page != 'detail'">
        <div class="absolute inset-0 flex items-end">
            <div class="flex flex-col w-full w-max-full">
                <p class="text-white text-lg leading-6 pb-2 text-center">{{ name || (first_name + ' ' + last_name) }}</p>
                <div class="flex justify-center">
                    <ng-container *ngIf="rating > 0">
                        <svg *ngIf="!(rating > 0 && rating < 1)" [ngStyle]="{'color': '#fbbf24'}" class="w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg *ngIf="rating > 0 && rating < 1" [ngStyle]="{'color': '#fbbf24'}" class="w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 12 20">
                            <path d="M11.707.707A1 1 0 0 0 11 .414a1.6 1.6 0 0 0-1.409.816l-2.525 4.6-5.687.744A1.576 1.576 0 0 0 .065 7.667a1.485 1.485 0 0 0 .456 1.566l4.05 3.552-.95 4.988a1.5 1.5 0 0 0 .567 1.473 1.624 1.624 0 0 0 1.703.18l5.194-2.457a1 1 0 0 0 .915-1V1.414a1 1 0 0 0-.293-.707Z"/>
                        </svg>
                    </ng-container>
                    <ng-container *ngIf="rating > 1">
                        <svg *ngIf="!(rating > 1 && rating < 2)" [ngStyle]="{'color': '#fbbf24'}" class="ml-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg *ngIf="rating > 1 && rating < 2" [ngStyle]="{'color': '#fbbf24'}" class="ml-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 12 20">
                            <path d="M11.707.707A1 1 0 0 0 11 .414a1.6 1.6 0 0 0-1.409.816l-2.525 4.6-5.687.744A1.576 1.576 0 0 0 .065 7.667a1.485 1.485 0 0 0 .456 1.566l4.05 3.552-.95 4.988a1.5 1.5 0 0 0 .567 1.473 1.624 1.624 0 0 0 1.703.18l5.194-2.457a1 1 0 0 0 .915-1V1.414a1 1 0 0 0-.293-.707Z"/>
                        </svg>
                    </ng-container>
                    <ng-container *ngIf="rating > 2">
                        <svg *ngIf="!(rating > 2 && rating < 3)" [ngStyle]="{'color': '#fbbf24'}" class="ml-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg *ngIf="rating > 2 && rating < 3" [ngStyle]="{'color': '#fbbf24'}" class="ml-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 12 20">
                            <path d="M11.707.707A1 1 0 0 0 11 .414a1.6 1.6 0 0 0-1.409.816l-2.525 4.6-5.687.744A1.576 1.576 0 0 0 .065 7.667a1.485 1.485 0 0 0 .456 1.566l4.05 3.552-.95 4.988a1.5 1.5 0 0 0 .567 1.473 1.624 1.624 0 0 0 1.703.18l5.194-2.457a1 1 0 0 0 .915-1V1.414a1 1 0 0 0-.293-.707Z"/>
                        </svg>
                    </ng-container>
                    <ng-container *ngIf="rating > 3">
                        <svg *ngIf="!(rating > 3 && rating < 4)" [ngStyle]="{'color': '#fbbf24'}" class="ml-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg *ngIf="rating > 3 && rating < 4" [ngStyle]="{'color': '#fbbf24'}" class="ml-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 12 20">
                            <path d="M11.707.707A1 1 0 0 0 11 .414a1.6 1.6 0 0 0-1.409.816l-2.525 4.6-5.687.744A1.576 1.576 0 0 0 .065 7.667a1.485 1.485 0 0 0 .456 1.566l4.05 3.552-.95 4.988a1.5 1.5 0 0 0 .567 1.473 1.624 1.624 0 0 0 1.703.18l5.194-2.457a1 1 0 0 0 .915-1V1.414a1 1 0 0 0-.293-.707Z"/>
                        </svg>
                    </ng-container>
                    <ng-container *ngIf="rating > 4">
                        <svg *ngIf="!(rating > 4 && rating < 5)" [ngStyle]="{'color': '#fbbf24'}" class="ml-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg *ngIf="rating > 4 && rating < 5" [ngStyle]="{'color': '#fbbf24'}" class="ml-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 12 20">
                            <path d="M11.707.707A1 1 0 0 0 11 .414a1.6 1.6 0 0 0-1.409.816l-2.525 4.6-5.687.744A1.576 1.576 0 0 0 .065 7.667a1.485 1.485 0 0 0 .456 1.566l4.05 3.552-.95 4.988a1.5 1.5 0 0 0 .567 1.473 1.624 1.624 0 0 0 1.703.18l5.194-2.457a1 1 0 0 0 .915-1V1.414a1 1 0 0 0-.293-.707Z"/>
                        </svg>
                    </ng-container>
                </div>
                <ng-container *ngIf="page != 'list'">
                    <div class="flex justify-center pt-3 text-sm text-white font-semibold flex-wrap">
                        <span>{{city}}</span>
                    </div>
                    <div class="flex justify-center pb-3 text-sm text-white font-semibold flex-wrap">
                        <span>{{ languages || ('tutors.spanish' | translate) }}</span>
                    </div>
                    <div class="flex justify-center pb-8">
                        <ng-container *ngFor="let type of types; let i = index;">
                            <div class="types border border-white rounded-xl px-4 py-[3px]" *ngIf="i < 1">
                                <div class="text-white text-xs" title="{{type}}">{{ type }}</div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <ng-container *ngIf="page == 'list'">
                    <div class="flex justify-center py-3 text-sm text-white font-semibold flex-wrap">
                        <span>{{city}}</span>
                        <span class="px-2">{{ (languages || ('tutors.spanish' | translate)) ? '•' : '' }}</span>
                        <span>{{languages || ('tutors.spanish' | translate)}}</span>
                    </div>
                    <div class="flex justify-center pb-8 flex-wrap">
                        <ng-container *ngFor="let type of types; let i = index;">
                            <div class="types border border-white rounded-xl px-4 py-[3px] mr-2" *ngIf="i < 2">
                                <div class="text-white text-xs" title="{{type}}">{{ type }}</div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <ng-container *ngIf="page == 'detail'" >
        <div *ngIf="showSettings" class="absolute bottom-[30px] right-[100px] w-[56px] h-[56px] p-[12px] rounded-[14px]"
            [ngStyle]="{'background-color': buttonColor}"
        >
            <svg class="w-9 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 19">
                <path d="M7.324 9.917A2.479 2.479 0 0 1 7.99 7.7l.71-.71a2.484 2.484 0 0 1 2.222-.688 4.538 4.538 0 1 0-3.6 3.615h.002ZM7.99 18.3a2.5 2.5 0 0 1-.6-2.564A2.5 2.5 0 0 1 6 13.5v-1c.005-.544.19-1.072.526-1.5H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h7.687l-.697-.7ZM19.5 12h-1.12a4.441 4.441 0 0 0-.579-1.387l.8-.795a.5.5 0 0 0 0-.707l-.707-.707a.5.5 0 0 0-.707 0l-.795.8A4.443 4.443 0 0 0 15 8.62V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.12c-.492.113-.96.309-1.387.579l-.795-.795a.5.5 0 0 0-.707 0l-.707.707a.5.5 0 0 0 0 .707l.8.8c-.272.424-.47.891-.584 1.382H8.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1.12c.113.492.309.96.579 1.387l-.795.795a.5.5 0 0 0 0 .707l.707.707a.5.5 0 0 0 .707 0l.8-.8c.424.272.892.47 1.382.584v1.12a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1.12c.492-.113.96-.309 1.387-.579l.795.8a.5.5 0 0 0 .707 0l.707-.707a.5.5 0 0 0 0-.707l-.8-.795c.273-.427.47-.898.584-1.392h1.12a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5ZM14 15.5a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5Z"/>
            </svg>
        </div>
        <div class="absolute bottom-[30px] right-[30px] w-[56px] h-[56px] p-[12px] rounded-[14px]" 
            [ngStyle]="{'background-color': buttonColor}">
            <img width="32" height="32" 
            class="w-[32px] h-[32px] object-cover object-cover"
            [ngSrc]="'./src/assets/icons/send.png'" alt="" />
        </div>
    </ng-container>
</div>