<div class="columns-1 sm:columns-1 md:columns-3 lg:columns-4 gap-4 space-y-4">
  <ng-container *ngFor="let item of list; let even=even; let i = index;">
    <div class="break-inside-avoid-column" *ngIf="item?.object_type == 'plan'"
      [ngClass]="{'bg-white border border-gray-200 rounded-lg shadow flex flex-col h-full': bottomEventTitles}">
      <div class="hover:cursor-pointer relative before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
        [routerLink]="[item.path]"
        [ngClass]="{'h-4/5': bottomEventTitles}">
        <img class="w-full rounded-md object-cover" [src]="item.image" [alt]="item.title" loading="lazy">
        <div class="test__body absolute inset-0 p-4 text-white flex flex-col" *ngIf="!bottomEventTitles">
          <div class="relative">
            <a class="test__link absolute inset-0" target="_blank" href="javascript:;"></a>
            <div class="flex justify-between">
              <h1 class="test__title text-lg font-bold mb-3 pr-2">{{company?.id != 12 ? item?.title : ''}}</h1>
              <div class="w-[32px] min-w-[32px] max-w-[32px] h-[32px] min-h-[32px] max-h-[32px] relative inline-flex items-center p-2 font-medium rounded-lg"
                [ngStyle]="{'background-color': buttonColor}">
                <img class="w-[28px] h-[16px]" src="/assets/menu-icons/menu-icon-plans.png" />
              </div>
            </div>
            <p class="test__author font-sm font-light flex items-center" *ngIf="item?.date && company?.id != 12">
              <svg class="w-3 h-3 mr-2 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
              </svg>
              {{item?.date}}
            </p>
          </div>
          <div class="mt-auto" *ngIf="company?.id !- 12">
            <span class="test__tag inline-block bg-white bg-opacity-60 py-1 px-4 rounded-md text-black text-sm">
              <span>
                {{ item?.address }} <span *ngIf="item?.address" class="px-3">•</span><span>{{ item?.price > 0 ? (item?.price?.replace('.00', '') + '€') : ('category.free' | translate) }}</span>
              </span>
            </span>
          </div>
        </div>
      </div>
      <ng-container *ngIf="bottomEventTitles">
        <div class="relative p-4"
          [ngClass]="{'h-1/5': bottomEventTitles}">
          <div class="flex">
              <h1 class="test__title text-lg leading-[22px] font-bold mb-3 pr-2 hover:cursor-pointer">{{item?.title}}</h1>
          </div>
          <p class="test__author font-sm font-light flex items-center capitalize" *ngIf="item?.date">
              <svg class="w-3 h-3 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
              </svg>
              {{item?.date}}
          </p>
      </div>
      </ng-container>
    </div>
    <div *ngIf="item?.object_type == 'club'" 
      class="break-inside-avoid-column row-span-2 hover:cursor-pointer relative before:content-[''] before:rounded-md before:absolute before:inset-0 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      [routerLink]="[item.path]">
      <div class="relative">
        <img class="rounded-t-lg w-full object-cover" [src]="item.image" [alt]="item.title" loading="lazy" />
        <div class="test__body absolute inset-0 p-4 text-white flex flex-col">
          <div class="relative">
            <a class="test__link absolute inset-0" target="_blank" href="javascript:;"></a>
            <div class="flex justify-end">
              <div class="w-[32px] min-w-[32px] max-w-[32px] h-[32px] min-h-[32px] max-h-[32px] relative inline-flex items-center p-2 font-medium rounded-lg"
                [ngStyle]="{'background-color': buttonColor}">
                <img class="w-[28px] h-[16px]" src="/assets/menu-icons/menu-icon-clubs.png" />
              </div>
            </div>
          </div>
          <div class="mt-auto">
            <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black text-sm">
              {{item?.category}}
            </span>
          </div>
        </div>
      </div>
      <div class="p-5 flex justify-between items-center align-center">
        <h5 class="text-lg font-bold tracking-tight text-gray-900 dark:text-white">{{item?.title}}</h5>
        <a href="javascript:;" class="inline-flex items-center px-6 py-2 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          [ngStyle]="{'background-color': buttonColor}">
          {{ 'club-details.join' | translate }}
        </a>
      </div>
    </div>
    <div *ngIf="item?.object_type == 'course'" 
      class="break-inside-avoid-column hover:cursor-pointer relative before:content-[''] before:rounded-md before:absolute before:inset-0 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      [routerLink]="[item.path]">
      <div class="relative">
        <img class="rounded-t-lg w-full object-cover" [src]="item.image" [alt]="item.title" loading="lazy" />
        <div class="test__body absolute inset-0 p-4 text-white flex flex-col">
          <div class="relative">
            <a class="test__link absolute inset-0" target="_blank" href="javascript:;"></a>
            <div class="flex justify-end">
              <div class="w-[32px] min-w-[32px] max-w-[32px] h-[32px] min-h-[32px] max-h-[32px] relative inline-flex items-center p-2 font-medium rounded-lg"
                [ngStyle]="{'background-color': buttonColor}">
                <img class="w-[28px] h-[16px]" src="/assets/menu-icons/menu-icon-courses.png" />
              </div>
            </div>
          </div>
          <div class="mt-auto">
            <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black text-sm">
              {{item?.category}}
            </span>
          </div>
        </div>
      </div>
      <div class="p-5">
        <a href="javascript:;">
            <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">{{item?.title}}</h5>
        </a>
        <a href="javascript:;" class="inline-flex items-center px-6 py-2 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          [ngStyle]="{'background-color': buttonColor}">
          {{item?.button_text}}
          <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
      </div>
    </div>
    <div *ngIf="item?.object_type == 'cityguide'" class="break-inside-avoid-column hover:cursor-pointer relative before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
      [routerLink]="[item.path]">
      <img class="w-full rounded-md object-cover" [src]="item.image" [alt]="item.title" loading="lazy" />
      <div class="test__body absolute inset-0 p-4 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="javascript:;"></a>
          <div class="flex justify-between">
            <h1 class="test__title text-lg font-bold mb-3 pr-2">{{item?.title}}</h1>
            <div class="w-[32px] min-w-[32px] max-w-[32px] h-[32px] min-h-[32px] max-h-[32px] relative inline-flex items-center p-2 font-medium rounded-lg"
              [ngStyle]="{'background-color': buttonColor}">
              <img class="w-[28px] h-[16px]" src="/assets/menu-icons/menu-icon-city-guide.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="item?.object_type == 'discount' || item?.object_type == 'service'" class="break-inside-avoid-column hover:cursor-pointer relative before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
      [routerLink]="[item.path]">
      <img class="w-full rounded-md object-cover" [src]="item.image" [alt]="item.title" loading="lazy">
      <div class="test__body absolute inset-0 p-4 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="javascript:;"></a>
          <div class="flex justify-between">
            <h1 class="test__title text-lg font-bold mb-3 pr-2">{{item?.title}}</h1>
            <div class="w-[32px] min-w-[32px] max-w-[32px] h-[32px] min-h-[32px] max-h-[32px] relative inline-flex items-center p-2 font-medium rounded-lg"
              [ngStyle]="{'background-color': buttonColor}">
              <img class="w-[28px] h-[16px]" src="/assets/menu-icons/menu-icon-offers.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="item?.object_type == 'blog'" class="break-inside-avoid-column hover:cursor-pointer relative before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
      [routerLink]="[item.path]">
      <img class="w-full rounded-md object-cover" [src]="item.image">
      <div class="test__body absolute inset-0 p-4 text-white flex flex-col">
        <div class="relative">
          <a class="test__link absolute inset-0" target="_blank" href="javascript:;"></a>
          <div class="flex justify-between">
            <h1 class="test__title text-lg font-bold mb-3 pr-2">{{item?.title}}</h1>
            <div class="w-[32px] min-w-[32px] max-w-[32px] h-[32px] min-h-[32px] max-h-[32px] relative inline-flex items-center p-2 font-medium rounded-lg"
              [ngStyle]="{'background-color': buttonColor}">
              <img class="w-[28px] h-[16px]" src="/assets/menu-icons/menu-icon-blog.png" />
            </div>
          </div>
          <p class="test__author font-sm font-light flex items-center" *ngIf="item?.date">
            <svg class="w-3 h-3 mr-2 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
            {{item?.date | date:'dd MMM yyyy HH:mm a'}}
          </p>
        </div>
        <div class="mt-auto">
          <span class="test__tag bg-white bg-opacity-60 py-1 px-4 rounded-md text-black text-sm flex items-center w-[200px]">
            <img *ngIf="item?.created_by_image" class="w-6 h-6 rounded-full object-cover object-top mr-4" [src]="item?.created_by_image">
            <span>
              {{ item?.created_by_name }}
            </span>
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="item?.object_type == 'tutor'" class="break-inside-avoid-column hover:cursor-pointer relative before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
      [routerLink]="[item.path]">
      <img class="w-full rounded-md object-cover" [src]="item.image" [alt]="item.title" loading="lazy">
      <div class="absolute inset-0 flex items-center justify-center">
        <div class="test__body absolute inset-0 p-4 text-white flex flex-col">
          <div class="relative">
            <a class="test__link absolute inset-0" target="_blank" href="javascript:;"></a>
            <div class="flex justify-between">
              <h1 class="test__title text-lg font-bold mb-3 pr-2">&nbsp;</h1>
              <div class="w-[32px] min-w-[32px] max-w-[32px] h-[32px] min-h-[32px] max-h-[32px] relative inline-flex items-center p-2 font-medium rounded-lg"
                [ngStyle]="{'background-color': buttonColor}">
                <img class="w-[28px] h-[16px]" src="/assets/menu-icons/menu-icon-colleague.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="absolute inset-0 flex items-end p-4">
          <div class="flex flex-col w-full w-max-full">
            <p class="text-white text-lg leading-6 pb-2 text-center font-bold">{{ item?.title }}</p>
            <app-star-rating [rating]="item?.rating" [align]="'center'"></app-star-rating>
            <div class="flex justify-center py-3 text-sm text-white font-semibold flex-wrap">
              <span>{{ item?.city }}</span>
              <span class="px-2">{{ item?.languages ? '•' : '' }}</span>
              <span class="capitalize">{{ item?.languages }}</span>
            </div>
            <div class="flex justify-center pb-8 flex-wrap">
              <ng-container *ngFor="let type of item?.types; let i = index;">
                <div class="types border border-white rounded-xl px-4 py-[3px] mr-2 mb-1" *ngIf="i < 4">
                  <div class="text-white text-xs" title="{{type}}">{{ type }}</div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="item?.object_type == 'member'" class="break-inside-avoid-column hover:cursor-pointer relative before:content-[''] before:rounded-md before:absolute before:inset-0 before:bg-black before:bg-opacity-20"
      [routerLink]="[item.path]">
      <img class="w-full rounded-md object-cover" [src]="item.image" [alt]="item.title" loading="lazy">
      <div class="absolute inset-0 flex items-center justify-center">
        <div class="test__body absolute inset-0 p-4 text-white flex flex-col">
          <div class="relative">
            <a class="test__link absolute inset-0" target="_blank" href="javascript:;"></a>
            <div class="flex justify-between">
              <h1 class="test__title text-lg font-bold mb-3 pr-2">&nbsp;</h1>
              <div class="w-[32px] min-w-[32px] max-w-[32px] h-[32px] min-h-[32px] max-h-[32px] relative inline-flex items-center p-2 font-medium rounded-lg"
                [ngStyle]="{'background-color': buttonColor}">
                <img class="w-[28px] h-[16px]" src="/assets/menu-icons/menu-icon-members.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="absolute inset-0 flex items-end p-4">
          <div class="flex flex-col w-full w-max-full">
            <p class="text-white text-lg leading-6 pb-2 text-center font-bold">{{ item?.title }}</p>
            <div class="flex justify-center py-3 text-sm text-white font-semibold flex-wrap">
              <span>{{ item?.city }}</span>
            </div>
            <div class="flex justify-center pb-8 flex-wrap">
              <div class="types border border-white rounded-xl px-4 py-[3px] mr-2 mb-1" *ngIf="i < 4">
                <div class="text-white text-xs" title="{{item?.sector}}">{{ item?.sector }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="item?.object_type == 'joboffer'" 
      class="break-inside-avoid-column relative hover:cursor-pointer w-full max-w-full bg-white rounded-[10px] transition duration-700 ease-in-out" 
      [ngStyle]="{'box-shadow': '0px 40px 54px -45px #00000099'}"
      [routerLink]="[item.path]">
      <div class="absolute inset-0 flex items-center justify-center">
        <div class="test__body absolute inset-0 p-4 text-white flex flex-col">
          <div class="relative">
            <a class="test__link absolute inset-0" target="_blank" href="javascript:;"></a>
            <div class="flex justify-between">
              <h1 class="test__title text-lg font-bold mb-3 pr-2">&nbsp;</h1>
              <div class="w-[32px] min-w-[32px] max-w-[32px] h-[32px] min-h-[32px] max-h-[32px] relative inline-flex items-center p-2 font-medium rounded-lg"
                [ngStyle]="{'background-color': buttonColor}">
                <img class="w-[28px] h-[16px]" src="/assets/menu-icons/menu-icon-employment-channel.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex h-full">
          <div class="w-4 rounded-l-lg" [ngStyle]="{'background-color': buttonColor}">&nbsp;</div>
          <div class="py-4 bg-transparent text-[#1e1e1e] flex flex-col justify-evenly w-full pl-6 pr-12 rounded-r-[10px] transition duration-700 ease-in-out">
              <div class="font-semibold text-medium pr-3">{{ item?.title }}</div>
              <div class="text-sm py-3">
                  <span>{{ item?.type }}</span><span class="px-3">•</span><span>{{ item?.area }}</span>
              </div>
              <div class="underline text-sm pb-3 transition duration-700 ease-in-out" [ngStyle]="{'color': buttonColor}">
                  {{'landing.learnmore' | translate }}
              </div>
          </div>
      </div>
    </div>
  </ng-container>
</div>