<div class="bg-white relative mb-6 relative p-6 rounded-[16px]">
    <div>
        <div class="whitespace-pre-wrap text-sm mr-32" [innerHTML]="truncatedContent"></div>
        <ng-container *ngIf="content?.length > truncate">
            <div class="mt-2 text-sm cursor-pointer font-semibold" *ngIf="expandedContent" [ngStyle]="{'color': buttonColor}" (click)="showLess()">{{ 'club-details.seeless' | translate }}</div>
            <div class="mt-2 text-sm cursor-pointer font-semibold" *ngIf="!expandedContent" [ngStyle]="{'color': buttonColor}" (click)="readMore()">{{ 'club-details.readmore' | translate }}</div>
        </ng-container>
    </div>
    <div class="sm:relative m:absolute lg:absolute top-6 right-6">
        <div class="flex">
            <ng-container *ngIf="superAdmin">
                <img class="w-6 object-contain sm:ml-0 md:ml-4 lg:ml-4 hover:cursor-pointer" 
                    (click)="deleteQuestion(question.id)"
                    src="./assets/images/icons/action-delete.png" />
            </ng-container>
            <img class="w-6 object-contain ml-4 hover:cursor-pointer" 
                src="./assets/images/new-design/icons/pin_post.png"
                (click)="updateQuestionPinStatus(question)"
                [ngStyle]="{'transform': question?.pinned == 1 ? 'rotate(-22deg)' : 'none'}" />
        </div>
    </div>
    <div class="my-8">
        <div class="sm:block md:flex lg:flex sm:flex-col md:flex-row lg:flex-row justify-between">
            <div class="flex items-center">
                <img class="mr-6 rounded-full object-top object-cover w-[40px] h-[40px]" width="40" height="40"
                    [ngSrc]="question?.image == 'default-avatar.jpg' || question?.image == 'empty_avatar.png' ? './assets/images/default-profile.png' : getImage(question?.image)"
                />
                <div>
                    <div class="font-semibold text-sm">{{question?.first_name}} {{question?.last_name}}</div>
                    <div class="opacity-70 text-xs">{{convert(question.totalminutes)}}</div>
                </div>
            </div>
            <div class="flex items-center">
                <div class="text-sm lowercase ml-12">{{ question?.answers?.length }} {{ 'survey-create.answers' | translate }}</div>
            </div>
        </div>
    </div>
    <div class="mt-4 mb-8" *ngIf="canAnswer() || question?.answers?.length > 0 || question?.user_id == userId">
        <div class="bg-white relative sm:block md:flex lg:flex sm:flex-col md:flex-row lg:flex-row rounded-[16px]">
            <img class="mr-6 rounded-full object-top object-cover w-[40px] h-[40px]" width="40" height="40"
                [ngSrc]="me?.image == 'default-avatar.jpg' || me?.image == 'empty_avatar.png' ? ('./assets/images/default-profile.png') : (apiPath + me?.image)"
            />
            <div class="rounded-[6px] p-3 w-full max-w-full text-sm text-sm bg-[#F3F3F3]" 
                (blur)="getNewQuestion($event)" 
                (focus)="focusNewQuestion($event)"
                (focusout)="getNewQuestion($event)" 
                contenteditable 
                [innerHTML]="newQuestion"
                [ngClass]="{'text-gray-400': isNewQuestionPlaceholder()}"
            ></div>
            <button 
                class="w-28 h-[46px] flex items-center p-3.5 px-8 sm:px-8 md:px-12 lg:px-12 rounded-[10px] justify-evenly sm:ml-0 md:ml-4 lg:ml-4"
                (click)="handleAddQuestion()" 
                [ngStyle]="{
                    'background-color': buttonColor,
                    'opacity': questionHover ? 1.5 : 1,
                    'filter': questionHover ? 'brightness(0.8)' : 'brightness(1)'
                }"
                (mouseover)="toggleQuestionHover(true)"
                (mouseleave)="toggleQuestionHover(false)"
            >
                <span class="text-white text-sm font-medium">{{ 'company-reports.question' | translate }}</span>
            </button>
        </div>
    </div>
    <div class="bg-white relative mb-6 relative rounded-[16px] border border-t-3 border-b-0 border-r-0 border-l-0 pt-6">
        <ng-container *ngFor="let answer of question?.answers">
            <div>
                <div>
                    <div class="whitespace-pre-wrap text-sm mr-32" [innerHTML]="answer?.answer"></div>
                </div>
                <div class="my-8">
                    <div class="flex justify-between">
                        <div class="flex items-center">
                            <img class="mr-6 rounded-full object-top object-cover w-[40px] h-[40px]" width="40" height="40"
                                [ngSrc]="answer?.image == 'default-avatar.jpg' || answer?.image == 'empty_avatar.png' ? './assets/images/default-profile.png' : getImage(answer?.image)"
                            />
                            <div>
                                <div class="font-semibold text-sm">{{getMemberName(answer)}}</div>
                                <div class="opacity-70 text-xs">{{convert(answer.totalminutes)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>