<div class="p-7 h-full max-h-full w-screen-xl max-w-screeen-xl rounded-[10px] dark:bg-gray-800 dark:border-gray-700 hover:cursor-pointer" 
    [ngStyle]="{'background-color': '#F8F4F4', 'box-shadow': '0px 40px 54px -45px #00000099'}"
>
    
    <div *ngIf="!finished">
        <div *ngFor="let item of assessment?.assessment_details; let i = index;">
            <div class="flex items-center justify-center mb-4 relative col-span-2 sm:col-span-2 md:col-span-1 lg:col-span-1">
                <div class="w-full max-w-full" *ngIf="currentIndex == i">
                    <div class="mb-6 pb-4 border border-b-2 border-t-0 border-l-0 border-r-0 border-gray-300">
                        <div class="text-sm opacity-80 tracking-tight dark:text-white">{{'survey-create.question' | translate}} {{currentIndex + 1}} {{'course-assessment.of' | translate}} {{assessment?.assessment_details?.length}}</div>
                        <div class="text-lg font-semibold">{{item?.title}}</div>
                    </div>
                    <div>
                        <div *ngFor="let choice of item?.multiple_choice_options; let n = index;">
                            <div class="flex mb-4 text-sm pb-4 border border-b-1 border-t-0 border-l-0 border-r-0 border-gray-300">
                                <input 
                                    id="{{'question' + choice.id }}" 
                                    type="radio" 
                                    name="{{'question' + item.id }}" 
                                    [value]="choice.id" 
                                    [(ngModel)]="item.answer" 
                                    [disabled]="currentItemSubmitted"
                                    class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
                                <label for="{{'question' + choice.id }}" class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                    {{ choice.choice }}
                                    <div *ngIf="currentItemSubmitted && item?.answer == choice?.id" class="flex items-center mt-1">
                                        <svg *ngIf="!choice?.correct" [ngStyle]="{'color': '#c24130'}" class="mr-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
                                        </svg>
                                        <svg *ngIf="choice?.correct" [ngStyle]="{'color': '#5cb85c'}" class="mr-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                                        </svg>
                                        <span class="uppercase text-xs" [ngStyle]="{'color': choice?.correct ? '#5cb85c' : '#c24130'}">
                                            {{choice?.correct ? ('quiz-details.correct' | translate) : ('quiz-details.incorrect' | translate)}}
                                        </span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="finished" class="flex flex-col justify-center items-center py-12">
        <div>
            <img src="./assets/images/complete-assessment.png" class="w-[200px]" />
        </div>
        <div class="mt-8 text-lg text-center">
            {{'course-assessment.youanswered' | translate}} {{correctAnswers}} {{'course-assessment.of' | translate}} {{assessment?.assessment_details?.length}} {{'your-admin-area.questions' | translate}} {{'course-assessment.correctly' | translate}}
        </div>
        <div class="mt-4 text-4xl font-bold text-center">
            {{rating}}%
        </div>
        <div *ngIf="superAdmin" class="mt-4">
            <div 
                [ngStyle]="{'background-color': buttonColor}"
                class="w-[175px] text-sm rounded-lg text-white py-3 uppercase px-4 hover:cursor-pointer h-[42px] ml-[10px] text-center"
                (click)="reset()">
                {{ 'crm.reset' | translate }}
            </div>
        </div>
    </div>
</div>
<div class="my-6">
    <div class="flex flex-row justify-end">
        <div class="flex flex-row">
            <button 
                *ngIf="!showFinishButton && showNextQuestionButton && currentIndex <= assessment?.assessment_details?.length && assessment?.assessment_details?.length > 1"
                class="rounded-[15px] h-[52px] py-[13px] px-8 hover:cursor-pointer border mr-4" 
                (click)="nextQuestion()"
                [ngStyle]="{'color': buttonColor, 'border-color': buttonColor}"
            >
                {{ 'course-assessment.nextquestion' | translate }}
            </button>
            <button 
                *ngIf="!showFinishButton && !finished"
                class="rounded-[15px] text-white h-[52px] py-[13px] px-8 hover:cursor-pointer" 
                (click)="submitAnswer()"
                [ngStyle]="{'background-color': showNextQuestionButton ? '#c7c7c7' : buttonColor}"
                [disabled]="showNextQuestionButton"
            >
                {{ 'plans.submit' | translate }}
            </button>
            <button 
                *ngIf="showFinishButton && !finished"
                class="rounded-[15px] h-[52px] py-[13px] px-8 hover:cursor-pointer border mr-4" 
                (click)="finishQuestion()"
                [ngStyle]="{'color': buttonColor, 'border-color': buttonColor}"
            >
                {{ 'course-assessment.finish' | translate }}
            </button>
        </div>
    </div>
</div>