<div class="hidden sm:hidden md:block lg:block">
    <app-breadcrumb 
        [level1Title]="level1Title"
        [level2Title]="level2Title"
        [level3Title]="level3Title"
        [level4Title]="level4Title"
        [buttonColor]="buttonColor"
        (goBack)="handleGoBack()"
    />
</div>
<app-page-title [title]="pageName" [subtitle]="pageDescription"></app-page-title>
<div class="pt-4">
    <div class="w-full max-w-full sm:w-full sm:max-w-full md:w-6/12 md:max-w-6/12 lg:w-6/12 lg:max-w-6/12">
        <div *ngIf="superAdmin || (canCreate && userId == offer?.created_by)" class="flex mt-3 sm:mt-3 md:mt-0 lg:mt-0">
            <button 
                class="h-[52px] flex items-center p-3.5 px-8 sm:px-8 md:px-12 lg:px-12 rounded-[15px] justify-evenly mt-4 mr-4"
                (click)="handleEditRoute()" 
                [ngStyle]="{
                    'background-color': buttonColor,
                    'opacity': editHover ? 1.5 : 1,
                    'filter': editHover ? 'brightness(0.8)' : 'brightness(1)'
                }"
                (mouseover)="toggleEditHover(true)"
                (mouseleave)="toggleEditHover(false)"
            >
                <svg class="w-3 h-3 text-white dark:text-white mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m13.835 7.578-.005.007-7.137 7.137 2.139 2.138 7.143-7.142-2.14-2.14Zm-10.696 3.59 2.139 2.14 7.138-7.137.007-.005-2.141-2.141-7.143 7.143Zm1.433 4.261L2 12.852.051 18.684a1 1 0 0 0 1.265 1.264L7.147 18l-2.575-2.571Zm14.249-14.25a4.03 4.03 0 0 0-5.693 0L11.7 2.611 17.389 8.3l1.432-1.432a4.029 4.029 0 0 0 0-5.689Z"/>
                </svg>
                <span class="text-white text-md font-semibold uppercase">{{ 'plan-details.edit' | translate }}</span>
            </button>
            <button 
                class="flex items-center border p-3.5 px-8 sm:px-8 md:px-12 lg:px-12 rounded-[15px] justify-evenly mt-4"
                (click)="handleDelete()" 
                [ngStyle]="{
                    'border-color': deleteHover ? 'transparent' : buttonColor,
                    'background-color': deleteHover ? buttonColor : '#fff',
                }"
                (mouseover)="toggleDeleteHover(true)"
                (mouseleave)="toggleDeleteHover(false)"
            >
                <svg [ngStyle]="{'color': deleteHover ? '#fff' : buttonColor}" class="w-2 h-2 font-semibold dark:text-white mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                    <path d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z"/>
                </svg>
                <span [ngStyle]="{'color': deleteHover ? '#fff' : buttonColor}" class="text-md font-semibold uppercase">{{ 'plan-details.delete' | translate }}</span>
            </button>
        </div>
    </div>
</div>
<div class="pt-10 flex flex-col sm:flex-col md:flex-row lg:flex-row pb-20">
    <div class="relative mr-0 sm:mr-0 md:mr-[58px] lg:mr-[58px]">
        <img 
            *ngIf="offer?.image" 
            width="540" 
            height="510" 
            [ngSrc]="offer?.image" 
            [alt]="offer?.name" 
            class="rounded-[30px] object-cover object-top w-full max-w-full sm:w-full sm:max-w-full md:w-[540px] md:max-w-[540px] lg:w-[540px] lg:max-w-[540px] sm:h-auto md:h-[510px] lg:h-[510px] max-h-auto md:max-h-[510px] lg:max-h-[510px]">
    </div>
    <div class="w-full mr-0 sm:mr-0 md:mr-32 lg:mr-32">
        <div class="text-xl font-bold">{{offer?.display_title}}</div>
        <div class="mt-4 w-full max-w-full">
            <div class="flex flex-col">
                <div [innerHtml]="offerTruncatedDescription"></div>
                <ng-container *ngIf="offer?.display_description?.length > truncate">
                    <div class="mt-2 uppercase text-xs underline cursor-pointer" *ngIf="offerExpandedDescription" [ngStyle]="{'color': buttonColor}" (click)="showLess()">{{ 'club-details.seeless' | translate }}</div>
                    <div class="mt-2 uppercase text-xs underline cursor-pointer" *ngIf="!offerExpandedDescription" [ngStyle]="{'color': buttonColor}" (click)="readMore()">{{ 'club-details.readmore' | translate }}</div>
                </ng-container>
            </div>
            <div class="flex flex-row flex-wrap justify-between my-12">
                <div class="flex mb-4" *ngIf="offer?.validUntil">
                    <svg class="w-6 h-6 mr-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1v3m5-3v3m5-3v3M1 7h18M5 11h10M2 3h16a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Z"/>
                    </svg>
                    <div><span class="font-semibold mr-2">{{'create-discount.validuntil' | translate}} </span>{{ offer?.validUntil }}</div>
                </div>
                <div class="flex mb-4" *ngIf="offer?.website">
                    <svg class="w-6 h-6 mr-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 0 19 9.5 9.5 0 0 0 0-19ZM8.374 17.4a7.6 7.6 0 0 1-5.9-7.4c0-.83.137-1.655.406-2.441l.239.019a3.887 3.887 0 0 1 2.082 2.5 4.1 4.1 0 0 0 2.441 2.8c1.148.522 1.389 2.007.732 4.522Zm3.6-8.829a.997.997 0 0 0-.027-.225 5.456 5.456 0 0 0-2.811-3.662c-.832-.527-1.347-.854-1.486-1.89a7.584 7.584 0 0 1 8.364 2.47c-1.387.208-2.14 2.237-2.14 3.307a1.187 1.187 0 0 1-1.9 0Zm1.626 8.053-.671-2.013a1.9 1.9 0 0 1 1.771-1.757l2.032.619a7.553 7.553 0 0 1-3.132 3.151Z"/>
                    </svg>
                    <div class="font-semibold mr-2"><a [href]="offer?.website">{{ offer?.website }}</a></div>
                </div>
                <div class="flex mb-4" *ngIf="offer?.phone">
                    <svg class="w-6 h-6 mr-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m16.344 12.168-1.4-1.4a1.98 1.98 0 0 0-2.8 0l-.7.7a1.98 1.98 0 0 1-2.8 0l-2.1-2.1a1.98 1.98 0 0 1 0-2.8l.7-.7a1.981 1.981 0 0 0 0-2.8l-1.4-1.4a1.828 1.828 0 0 0-2.8 0C-.638 5.323 1.1 9.542 4.78 13.22c3.68 3.678 7.9 5.418 11.564 1.752a1.828 1.828 0 0 0 0-2.804Z"/>
                    </svg>
                    <div class="font-semibold mr-2">{{ offer?.phone }}</div>
                </div>
            </div>
            <div class="flex justify-between flex-gap-row flex-col sm:flex-col md:flex-row lg:flex-row">
                <div class="ml-4 w-full max-w-full flex flex-col sm:flex-col md:flex-row lg:flex-row justify-between items-center">
                    <button
                        class="uppercase btn w-56 text-base text-white p-0 h-[52px] transition duration-700 ease-in-out"
                        (click)="handleShowCode()"
                        [ngStyle]="{
                            'background-color': buttonColor,
                            'opacity': codeHover ? 1.5 : 1,
                            'filter': codeHover ? 'brightness(0.8)' : 'brightness(1)'
                        }"
                        (mouseover)="toggleCodeHover(true)"
                        (mouseleave)="toggleCodeHover(false)"
                    >
                        {{'member-type-registration.view' | translate}} {{'discount-details.code' | translate}}
                    </button>
                </div>
            </div>
            <div class="my-12 flex items-center" *ngIf="userId">
                <div (click)="copyText()" class="flex flex-col items-center justify-center mr-16 hover:cursor-pointer">
                    <img width="36" height="36" class="object-contain ml-6" src="./assets/icons/copy-paste.png">
                    <div class="w-[36px] max-w-[36px] mt-6 text-center opacity-60">{{ 'plan-details.copylink' | translate }}</div>
                </div>
                <div (click)="goToLink(emailTo)" class="flex flex-col items-center justify-center mr-12 hover:cursor-pointer">
                    <img width="36" height="36" class="object-contain" src="./assets/icons/mail-send.png">
                    <div class="w-[80px] max-w-[80px] mt-4 text-center opacity-60">{{ 'plan-details.sharebyemail' | translate }}</div>
                </div>
            </div>
            <div class="my-12 flex items-center" *ngIf="offer?.creator">
                <img 
                    *ngIf="offer?.creator?.image" 
                    [ngSrc]="apiPath + offer?.creator?.image"
                    class="object-cover rounded-full w-16 h-16 mr-4"
                    width="30"
                    height="30"  />
                <div class="opacity-60 mr-4">{{ 'plan-details.createdby' | translate }}</div>
                <div class="font-semibold">{{ offer?.creator?.name || (offer?.creator?.first_name + ' ' + offer?.creator?.last_name) }}</div>
            </div>
            <div class="my-12 flex items-center">
                <div class="flex items-center justify-center mr-16 hover:cursor-pointer">
                    <img width="36" height="36" class="object-contain mr-4" src="./assets/icons/tag.png">
                    <span class="capitalize">{{offer?.discount_category || offer?.discount_type}}</span>
                </div>
                <div class="flex items-center justify-center mr-16 hover:cursor-pointer">
                    <img width="36" height="36" class="object-contain mr-4" src="./assets/icons/dollar.png">
                    {{offer?.price && offer?.price != '0.00' && offer?.price != '0' ? (offer?.price + '€') : (offer?.percent ? (offer?.percent + '%') : '')}}
                </div>
            </div>
        </div>
    </div>
</div>
<button #modalbutton data-modal-target="item-modal" data-modal-toggle="item-modal" class="hidden block text-white bg-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
    &nbsp;
</button>
<div id="item-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-h-full max-w-lg">
        <div class="relative bg-white rounded-lg shadow">
            <button #closemodalbutton type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="item-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <img 
                    *ngIf="offer?.image" 
                    width="478" 
                    height="527" 
                    [ngSrc]="offer?.image" 
                    [alt]="offer?.name" 
                    class="mt-8 mb-4 object-cover rounded-lg w-full max-w-full h-auto max-h-auto sm:h-auto sm:max-h-auto md:h-[527px] md:max-h-[527px] lg:h-[527px] lg:max-h-[527px]">
                <div class="text-center text-2xl font-semibold">{{offer?.discountCode}}</div>
            </div>
        </div>
    </div>
</div>
<app-toast 
    *ngIf="showConfirmationModal" 
    [company]="company" 
    [update]="false" 
    [confirm]="true"
    [title]="confirmDeleteItemTitle"
    [description]="confirmDeleteItemDescription"
    [acceptText]="acceptText"
    [cancelText]="cancelText"
    (onAccept)="confirm()"
></app-toast>