<div class="pt-24 sm:pt-24 md:pt-4 lg:pt-4">
  <h1 class="text-4xl font-bold mb-2">{{ 'landing.welcometitle1' | translate }}</h1>
  <h1 class="text-4xl font-bold mb-2">{{ 'landing.welcometitle2' | translate }} <span [ngStyle]="{'color': buttonColor}">{{ companyName }}</span></h1>
  <div class="text-sm mt-8">{{ 'landing.welcomedesc' | translate }}</div>
</div>
<div class="py-10">
  <app-video-section 
    [templateData]="predefinedTemplate" 
    [company]="company"
    *ngIf="predefinedTemplate?.has_video == 1 && predefinedTemplate?.video_file">
  </app-video-section>
  <app-masonry
    [userId]="userId"
    [superAdmin]="superAdmin"
    [company]="company"
    [section1Mode]="companyId == 32 ? 'plans' : (companyId == 52 ? 'courses' : '')"
    [section2Mode]="companyId == 32 ? 'cityguide-employmentchannel' : (companyId == 52 ? 'testimonials-tutors' : '')"
    [section3Mode]="companyId == 32 ? 'clubs' : ''"
  >
  </app-masonry>
</div>