<ng-container *ngIf="!isloading && !hasLandingTemplate && hasPredefinedTemplate && hasDefaultPredefinedTemplate">
  <ng-container *ngIf="hasAccess('plans') && !disableActivities">
    <app-plans-list [parentComponent]="'home'" [limit]="mobileLimitActivities"></app-plans-list>
  </ng-container>
  <ng-container *ngIf="hasAccess('clubs') && !disableClubs">
    <app-clubs-list [parentComponent]="'home'" [limit]="mobileLimitClubs"></app-clubs-list>
  </ng-container>
  <ng-container *ngIf="hasAccess('employmentchannel') && !disableJobOffers">
    <app-job-offers-list [parentComponent]="'home'" [limit]="mobileLimitJobOffers"></app-job-offers-list>
  </ng-container>
</ng-container>
<div *ngIf="!isloading && !hasLandingTemplate && hasPredefinedTemplate && predefinedTemplate">
  <div>
    <ng-container *ngIf="predefinedTemplate.has_title == 1">
      <div class="text-center text-2xl font-semibold pt-4">{{ predefinedTemplate?.video_title }}</div>
      <div class="text-center text-base mb-6">{{ predefinedTemplate?.video_description }}</div>
    </ng-container>
  </div>
  <ng-container *ngIf="predefinedTemplate.has_video == 1">
    <div class="video-container" class="max-w-full sm:max-w-full md:max-w-3xl lg:max-w-3xl mx-auto mb-10">
      <div *ngIf="predefinedTemplate?.video_file && predefinedTemplate?.video_file?.indexOf('http') < 0 && predefinedTemplate?.video_file && predefinedTemplate?.video_file?.indexOf('iframe') < 0 && predefinedTemplate?.video_file?.indexOf('youtube') < 0 && predefinedTemplate?.video_file?.indexOf('vimeo') < 0">
        <video controls controlsList="nodownload" width="100%" id="video">
          <source [src]="getSafeVideoUrl(predefinedTemplate?.video_file)" type="video/mp4" />
        </video>
      </div>
      <div *ngIf="predefinedTemplate?.video_file && predefinedTemplate?.video_file?.indexOf('iframe') < 0 && (predefinedTemplate?.video_file?.indexOf('youtube') >= 0 || predefinedTemplate?.video_file?.indexOf('vimeo') >= 0  || predefinedTemplate?.video_file?.indexOf('http') >= 0)">
        <iframe 
          class="iframe-ctrl"
          id="iframe"
          style="border:none;"
          [src]="getSafeVideoUrl(predefinedTemplate?.video_file)" 
          width="100%" 
          height="420px"
          allowfullscreen="allowfullscreen" 
          mozallowfullscreen="mozallowfullscreen" 
          msallowfullscreen="msallowfullscreen" 
          oallowfullscreen="oallowfullscreen" 
          webkitallowfullscreen="webkitallowfullscreen"
          allow=autoplay
        >
        </iframe>
      </div>
      <div class="iframe-container" *ngIf="predefinedTemplate?.video_file && predefinedTemplate?.video_file?.indexOf('iframe') >= 0" [innerHtml]="predefinedTemplate?.video_file | safeContentHtml: 'html'"></div>
    </div>
  </ng-container>
  <ng-container *ngIf="predefinedTemplate.has_courses == 1 && hasAccess('courses') && !disableCourses">
    <app-courses-list [parentComponent]="'home'" [limit]="mobileLimitCourses"></app-courses-list>
  </ng-container>
  <ng-container *ngIf="predefinedTemplate.has_events == 1 && hasAccess('plans') && !disableActivities">
    <app-plans-list [parentComponent]="'home'" [limit]="mobileLimitActivities"></app-plans-list>
  </ng-container>
</div>
