<footer
    class="container mx-auto w-full max-w-full flex-shrink-0 p-0"
    [ngStyle]="{
        'background-color': footerBackgroundColor,
        color: footerTextColor
    }"
>
    <!-- wrapper -->
    <div
        class="w-screen-3xl max-w-screen-3xl container flex flex-col justify-between gap-2 border-b border-gray-700 pb-4 pt-8 md:px-6"
    >
        <div class="flex w-full justify-between gap-6">
            <div class="ml-2 px-6 md:px-0 lg:px-0">
                <app-logo [logoSrc]="logoSrc"></app-logo>
                <p
                    class="mt-4 line-clamp-3 max-w-sm overflow-hidden text-ellipsis lg:max-w-md"
                    [ngStyle]="{
                        'background-color': footerBackgroundColor,
                        color: footerTextColor
                    }"
                >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
            <div>
                <div
                    class="flex flex-col gap-3 py-4"
                    [ngStyle]="{
                        'background-color': footerBackgroundColor,
                        color: footerTextColor
                    }"
                >
                    <div
                        *ngIf="contactUsDetails?.email_address"
                        class="flex flex-col"
                    >
                        <div
                            class="text-sm font-bold"
                            [ngStyle]="{ 'border-color': footerTextColor }"
                        >
                            {{ getContactUsText(contactUsDetails) }}
                        </div>
                        <p>Escríbenos</p>
                        <a
                            class="flex"
                            [ngStyle]="{ color: footerTextColor }"
                            target="_blank"
                            href="mailto:{{ contactUsDetails?.email_address }}"
                        >
                            <span class="text-base font-bold">{{
                                contactUsDetails?.email_address
                            }}</span>
                        </a>
                        <!-- TODO -->
                        <div>sign up</div>
                    </div>
                    <div class="flex gap-5 py-2">
                        <div>
                            <p class="font-bold">Usuariod</p>
                            <a href="/auth/signup">Link de inscription</a>
                        </div>
                        <div>
                            <p class="font-bold">Profesionales</p>
                            <a href="#">Link de inscription</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-6 md:px-0 lg:px-0" *ngIf="companyId == 32">
                <div class="py-1 pb-4 pr-10 font-semibold">
                    {{ 'footer.linkstitle' | translate }}
                </div>
                <ng-container *ngFor="let link of additionalLinks">
                    <div class="py-1">
                        <a
                            [ngStyle]="{ color: footerTextColor }"
                            target="_blank"
                            [href]="link.link"
                            >{{ getLinkText(link) }}</a
                        >
                    </div>
                </ng-container>
            </div>
            <div class="px-6 md:px-0 lg:px-0">
                <div class="pb-4 font-bold">Transparencia</div>
                <div
                    *ngIf="
                        (canShowTermsAndConditions && termsAndConditions) ||
                        !canShowTermsAndConditions ||
                        termsAndConditionsURL
                    "
                    class="py-1"
                    (click)="openTermsAndConditions()"
                >
                    <a
                        [ngStyle]="{ color: footerTextColor }"
                        href="javascript:;"
                        >{{ getTermsAndConditionsText() }}</a
                    >
                </div>
                <div
                    *ngIf="
                        (canShowPrivacyPolicy && privacyPolicy) ||
                        !canShowPrivacyPolicy ||
                        privacyPolicyURL
                    "
                    class="py-1"
                    (click)="openPrivacyPolicy()"
                >
                    <a
                        [ngStyle]="{ color: footerTextColor }"
                        href="javascript:;"
                        >{{ getPrivacyPolicyText() }}</a
                    >
                </div>
                <div
                    *ngIf="
                        (canShowCookiePolicy && cookiePolicy) ||
                        !canShowCookiePolicy ||
                        cookiePolicyURL
                    "
                    class="py-1"
                    (click)="openCookiePolicy()"
                >
                    <a
                        [ngStyle]="{ color: footerTextColor }"
                        href="javascript:;"
                        >{{ getCookiePolicyText() }}</a
                    >
                </div>
            </div>
            <div class="mb-10" *ngIf="hasSocials">
                <h4
                    class="text-dark mb-9 text-lg font-semibold dark:text-white"
                >
                    Follow Us On
                </h4>
                <div class="mb-6 flex items-center">
                    <!-- Facebook -->
                    <a
                        target="_blank"
                        *ngIf="facebook"
                        [href]="facebook"
                        class="text-dark hover:border-primary hover:bg-primary border-stroke dark:border-dark-3 dark:hover:border-primary mr-3 flex h-8 w-8 items-center justify-center rounded-full border hover:text-white dark:text-white sm:mr-4 lg:mr-3 xl:mr-4"
                    >
                        <svg
                            width="8"
                            height="16"
                            viewBox="0 0 8 16"
                            class="fill-current"
                        >
                            <path
                                d="M7.43902 6.4H6.19918H5.75639V5.88387V4.28387V3.76774H6.19918H7.12906C7.3726 3.76774 7.57186 3.56129 7.57186 3.25161V0.516129C7.57186 0.232258 7.39474 0 7.12906 0H5.51285C3.76379 0 2.54609 1.44516 2.54609 3.5871V5.83226V6.34839H2.10329H0.597778C0.287819 6.34839 0 6.63226 0 7.04516V8.90323C0 9.26452 0.243539 9.6 0.597778 9.6H2.05902H2.50181V10.1161V15.3032C2.50181 15.6645 2.74535 16 3.09959 16H5.18075C5.31359 16 5.42429 15.9226 5.51285 15.8194C5.60141 15.7161 5.66783 15.5355 5.66783 15.3806V10.1419V9.62581H6.13276H7.12906C7.41688 9.62581 7.63828 9.41935 7.68256 9.10968V9.08387V9.05806L7.99252 7.27742C8.01466 7.09677 7.99252 6.89032 7.85968 6.68387C7.8154 6.55484 7.61614 6.42581 7.43902 6.4Z"
                            />
                        </svg>
                    </a>
                    <!-- Twitter -->
                    <a
                        target="_blank"
                        *ngIf="twitter"
                        [href]="twitter"
                        class="text-dark hover:border-primary hover:bg-primary border-stroke dark:border-dark-3 dark:hover:border-primary mr-3 flex h-8 w-8 items-center justify-center rounded-full border hover:text-white dark:text-white sm:mr-4 lg:mr-3 xl:mr-4"
                    >
                        <svg
                            width="16"
                            height="12"
                            viewBox="0 0 16 12"
                            class="fill-current"
                        >
                            <path
                                d="M14.2194 2.06654L15.2 0.939335C15.4839 0.634051 15.5613 0.399217 15.5871 0.2818C14.8129 0.704501 14.0903 0.845401 13.6258 0.845401H13.4452L13.3419 0.751468C12.7226 0.258317 11.9484 0 11.1226 0C9.31613 0 7.89677 1.36204 7.89677 2.93542C7.89677 3.02935 7.89677 3.17025 7.92258 3.26419L8 3.73386L7.45806 3.71037C4.15484 3.61644 1.44516 1.03327 1.00645 0.587084C0.283871 1.76125 0.696774 2.88845 1.13548 3.59296L2.0129 4.90802L0.619355 4.20352C0.645161 5.18982 1.05806 5.96477 1.85806 6.52838L2.55484 6.99804L1.85806 7.25636C2.29677 8.45401 3.27742 8.94716 4 9.13503L4.95484 9.36986L4.05161 9.93346C2.60645 10.8728 0.8 10.8024 0 10.7319C1.62581 11.7652 3.56129 12 4.90323 12C5.90968 12 6.65806 11.9061 6.83871 11.8356C14.0645 10.2857 14.4 4.41487 14.4 3.2407V3.07632L14.5548 2.98239C15.4323 2.23092 15.7935 1.8317 16 1.59687C15.9226 1.62035 15.8194 1.66732 15.7161 1.6908L14.2194 2.06654Z"
                            />
                        </svg>
                    </a>
                    <!-- Youtube -->
                    <a
                        target="_blank"
                        *ngIf="youtube"
                        [href]="youtube"
                        class="text-dark hover:border-primary hover:bg-primary border-stroke dark:border-dark-3 dark:hover:border-primary mr-3 flex h-8 w-8 items-center justify-center rounded-full border hover:text-white dark:text-white sm:mr-4 lg:mr-3 xl:mr-4"
                    >
                        <svg
                            width="16"
                            height="12"
                            viewBox="0 0 16 12"
                            class="fill-current"
                        >
                            <path
                                d="M15.6645 1.88018C15.4839 1.13364 14.9419 0.552995 14.2452 0.359447C13.0065 6.59222e-08 8 0 8 0C8 0 2.99355 6.59222e-08 1.75484 0.359447C1.05806 0.552995 0.516129 1.13364 0.335484 1.88018C0 3.23502 0 6 0 6C0 6 0 8.79263 0.335484 10.1198C0.516129 10.8664 1.05806 11.447 1.75484 11.6406C2.99355 12 8 12 8 12C8 12 13.0065 12 14.2452 11.6406C14.9419 11.447 15.4839 10.8664 15.6645 10.1198C16 8.79263 16 6 16 6C16 6 16 3.23502 15.6645 1.88018ZM6.4 8.57143V3.42857L10.5548 6L6.4 8.57143Z"
                            />
                        </svg>
                    </a>
                    <!-- Linkedin -->
                    <a
                        target="_blank"
                        *ngIf="linkedin"
                        [href]="linkedin"
                        class="text-dark hover:border-primary hover:bg-primary border-stroke dark:border-dark-3 dark:hover:border-primary mr-3 flex h-8 w-8 items-center justify-center rounded-full border hover:text-white dark:text-white sm:mr-4 lg:mr-3 xl:mr-4"
                    >
                        <svg
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            class="fill-current"
                        >
                            <path
                                d="M13.0214 0H1.02084C0.453707 0 0 0.451613 0 1.01613V12.9839C0 13.5258 0.453707 14 1.02084 14H12.976C13.5432 14 13.9969 13.5484 13.9969 12.9839V0.993548C14.0422 0.451613 13.5885 0 13.0214 0ZM4.15142 11.9H2.08705V5.23871H4.15142V11.9ZM3.10789 4.3129C2.42733 4.3129 1.90557 3.77097 1.90557 3.11613C1.90557 2.46129 2.45002 1.91935 3.10789 1.91935C3.76577 1.91935 4.31022 2.46129 4.31022 3.11613C4.31022 3.77097 3.81114 4.3129 3.10789 4.3129ZM11.9779 11.9H9.9135V8.67097C9.9135 7.90323 9.89082 6.8871 8.82461 6.8871C7.73571 6.8871 7.57691 7.74516 7.57691 8.60323V11.9H5.51254V5.23871H7.53154V6.16452H7.55423C7.84914 5.62258 8.50701 5.08065 9.52785 5.08065C11.6376 5.08065 12.0232 6.43548 12.0232 8.2871V11.9H11.9779Z"
                            />
                        </svg>
                    </a>
                </div>
            </div>
            <a
                class="inline-block h-[40px] rounded-[10px] bg-white px-6 py-2 text-sm font-semibold hover:bg-black hover:text-white focus:outline-none focus:ring-4 focus:ring-offset-black"
                [ngStyle]="{
                    color: buttonColor,
                    'border-color':
                        primaryColor == '#ffffff' || primaryColor == '#fff'
                            ? buttonColor
                            : 'transparent',
                    'border-width':
                        primaryColor == '#ffffff' || primaryColor == '#fff'
                            ? '1px'
                            : '0',
                    'border-style':
                        primaryColor == '#ffffff' || primaryColor == '#fff'
                            ? 'solid'
                            : 'none'
                }"
                href="/support-tickets"
            >
                Ayuda
            </a>
            <div class="grid grid-flow-col grid-rows-3 px-6 md:px-0 lg:px-0">
                <div *ngFor="let menu of menus" class="hover:underline">
                    <a
                        [ngStyle]="{ color: footerTextColor }"
                        [routerLink]="['/', menu.path]"
                        *ngIf="menu?.path"
                    >
                        {{ getMenuTitle(menu) }}
                    </a>
                </div>
            </div>
        </div>
        <div class="flex w-full flex-wrap justify-between font-bold">
            <select
                [(ngModel)]="selectedLanguage"
                [ngModelOptions]="{ standalone: true }"
                (change)="onLanguageChange()"
                class="border-none hover:border-none active:outline-none"
                [ngStyle]="{
                    'background-color': footerBackgroundColor,
                    color: footerTextColor
                }"
            >
                <option
                    *ngFor="let lang of languages"
                    [value]="lang.code"
                    [ngStyle]="{
                        'background-color': footerBackgroundColor,
                        color: footerTextColor
                    }"
                    [selected]="language === lang.code"
                >
                    {{ getLanguage(lang) }}
                </option>
            </select>
            <a href="#">Acerca de nostros</a>
            <a href="#">Date de alta</a>
            <a href="#">Politica de precios</a>
            <a href="#">Pegos seguros</a>
            <a href="#">Astrologos verificados</a>
        </div>
    </div>

    <!-- copyright -->
    <span
        class="w-screen-3xl max-w-screen-3xl container block py-4 text-right text-sm"
        [ngStyle]="{
            'background-color': primaryColor,
            color:
                primaryColor == '#ffffff' || primaryColor == '#fff'
                    ? '#1e1e1e'
                    : '#fff'
        }"
    >
        {{ 'landing.allrightsreserved' | translate }}.
        {{ packageJson.version }} - {{ companyName }} © {{ currentYear }}
    </span>
</footer>
