<div class="container flex items-center justify-center h-full mt-12">
    <div
        class="grid max-w-lg p-6 text-center shadow-2xl bg-neutral-50 rounded-xl md:p-12 place-items-center bg-opacity-5 backdrop-filter backdrop-blur"
    >
        <div
            class="grid mb-8 rounded-full bg-gradient-to-br from-neutral-900 to-indigo-300 w-28 h-28 place-items-center"
        >
            <svg width="64" height="64" style="fill: #fff" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.1569 6.84315C21.281 9.96734 21.281 15.0327 18.1569 18.1569C15.0327 21.281 9.96734 21.281 6.84314 18.1569C3.71895 15.0327 3.71895 9.96734 6.84314 6.84315C9.96734 3.71895 15.0327 3.71895 18.1569 6.84315ZM18.1569 6.84315L6.84401 18.156" stroke="#121923" stroke-width="1.2"/>
            </svg>
        </div>
        <h1 class="mb-8 text-3xl">{{ 'plans.noaccess' | translate }}</h1>
        <a
            href="javascript:;" class="btn bg-sky-950 text-white"
            (click)="goHome()"
        >
            {{ 'landing.returntohome' | translate }}
        </a>
    </div>
</div>