<app-page-title title="Stripe Connect"></app-page-title>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg my-6">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            {{'stripe-account.setupaccount' | translate}}
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                {{'stripe-account.stripeconnectdesc' | translate}}
            </p>
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    {{'course-create.course' | translate}}
                </th>
                <th scope="col" class="px-6 py-3">
                    Account ID
                </th>
                <th scope="col" class="px-6 py-3">
                    <span>{{'member-type-registration.action' | translate}}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="stripeAccounts?.length > 0">
                <tr *ngFor="let item of stripeAccounts; let i = index;" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ item?.name }}
                    </th>
                    <td class="px-6 py-4">
                        {{ item?.account_id }}
                    </td>
                    <td class="px-6 py-4">
                       
                        <ng-container *ngIf="!item?.account_id">
                            <a href="javascript:;" 
                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-6"
                                (click)="configureStripeConnect(item)"
                            >
                                {{ 'stripe-account.setupaccount' | translate }}
                            </a>
                       </ng-container>
                       <ng-container *ngIf="item?.account_id">
                            <a href="javascript:;" 
                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-6"
                                (click)="getStripeLoginLink(item)"
                            >
                                {{ 'member-type-registration.access' | translate }} Stripe
                            </a>
                       </ng-container>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>