<div class="grid gap-6 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
    <div class="mb-6">
        <div class="flex items-center w-full max-w-full">
            <div class="flex-auto">
                <app-search
                    [searchText]="searchText"
                    [placeholderText]="placeholderText"
                    [buttonColor]="buttonColor"
                    (onEnterPressed)="handleSearch($event)"
                    (doSearch)="handleSearch($event)"
                >
                </app-search>
            </div>
        </div>
    </div>
    <div class="pt-1.5 mb-6">
        <button 
            class="float-right flex items-center py-1.5 p-2.5 rounded-[10px] justify-evenly hover:bg-black"
            *ngIf="canCreateService" 
            [ngStyle]="{'background-color': buttonColor}" 
            (click)="handleCreateRoute()"
        >
            <svg class="w-3 h-3 text-white dark:text-white mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
            <span class="text-white text-sm">{{ 'dashboard.new' | translate }} {{ servicesTitle }}</span>
        </button>
    </div>
</div>
<div class="w-full min-w-full py-8">
    <div class="mat-table-responsive">
        <mat-table [dataSource]="dataSource" matSort class="manage-list">
            <ng-container matColumnDef="short_description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'create-content.leadin' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="short_description">
                    <a  
                        [ngStyle]="{'color': buttonColor}" 
                        class="hover:cursor-pointer hover:underline" 
                        href="javascript:;" (click)="viewItem(row?.id)"
                        [innerHtml]="row?.short_description">
                    </a>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'plan-create.title' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="name">
                    <a [ngStyle]="{'color': buttonColor}" class="hover:cursor-pointer hover:underline" href="javascript:;" (click)="viewItem(row?.id)">
                        {{ row?.name }}
                    </a>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="discount_code">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'discount-details.code' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="discount_code">
                    {{ row?.discount_code }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'your-admin-area.action' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="action">
                    <svg (click)="editItem(row?.id)" [ngStyle]="{'color': buttonColor}" class="hover:cursor-pointer mr-4 w-6 h-6 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="m13.835 7.578-.005.007-7.137 7.137 2.139 2.138 7.143-7.142-2.14-2.14Zm-10.696 3.59 2.139 2.14 7.138-7.137.007-.005-2.141-2.141-7.143 7.143Zm1.433 4.261L2 12.852.051 18.684a1 1 0 0 0 1.265 1.264L7.147 18l-2.575-2.571Zm14.249-14.25a4.03 4.03 0 0 0-5.693 0L11.7 2.611 17.389 8.3l1.432-1.432a4.029 4.029 0 0 0 0-5.689Z"/>
                    </svg>
                    <svg (click)="confirmDeleteItem(row?.id)" [ngStyle]="{'color': buttonColor}" class="hover:cursor-pointer w-6 h-6 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                        <path d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z"/>
                    </svg>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
    </div>
    <mat-paginator
        #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
        (page)="getPageDetails($event)"
        [showFirstLastButtons]="true"
    ></mat-paginator>
</div>
<app-toast 
    *ngIf="showConfirmationModal" 
    [company]="company" 
    [update]="false" 
    [confirm]="true"
    [title]="confirmDeleteItemTitle"
    [description]="confirmDeleteItemDescription"
    [acceptText]="acceptText"
    [cancelText]="cancelText"
    (onAccept)="confirm()"
></app-toast>