<div *ngIf="page == 'home'" [routerLink]="[path]">
    <div class="hover:cursor-pointer my-8 sm:my-8 md:mb-0 lg:my-0 rounded-lg h-full max-h-full sm:h-full sm:max-h-full md:h-[300px] md:max-h-[300px] lg:h-[300px] lg:max-h-[300px] grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 justify-evenly"
        [ngStyle]="{'background-color': '#1C393D'}">
        <div class="rounded-l-lg flex justify-end items-center mr-32" 
            [ngStyle]="{'background-color': '#1C393D'}">
            <div class="py-16 sm:py-16 md:py-0 lg:py-0">
                <div class="text-white text-lg font-semibold">{{author}}</div>
                <div class="text-white text-sm capitalize">{{'plans.student' | translate}}</div>
            </div>
        </div>
        <div class="relative flex justify-between items-center rounded-l-[0px] sm:rounded-l-[0px] md:rounded-l-[135px] lg:rounded-l-[135px] px-12 h-auto max-h-auto rounded-r-lg"
            [ngStyle]="{'background-color': '#E6583D'}">
            <div class="hidden sm:hidden md:block lg:block -mt-[35px] absolute left-0 top-1/2 transform -translate-x-1/2 translate-y-1/2 rotate-45 w-8 h-8 bg-[#E6583D]"></div>
            <div class="flex flex-col justify-between text-white">
                <div class="py-8 sm:py-8 md:py-0 lg:py-0 leading-5 text-[0.9rem]" [innerHtml]="shortdescription"></div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="page == 'list' || page == 'detail'" 
    [routerLink]="[path]" 
    [attr.disabled]="page == 'detail' ? true : null"
    [ngClass]="{'w-full max-w-full': page == 'detail', 
        'pointer-events-auto hover:cursor-pointer': page != 'detail',
        'pointer-events-none': page == 'detail'  
    }"
>
    <div class="my-8 sm:my-8 md:mb-0 lg:my-0 rounded-lg h-full max-h-full sm:h-full sm:max-h-full md:h-[591px] md:max-h-[591px] lg:h-[591px] lg:max-h-[591px] flex flex-col justify-evenly"
        [ngStyle]="{'background-color': '#1C393D'}">
        <div class="w-full max-w-full h-full max-h-full sm:h-full sm:max-h-full md:h-[240px] md:max-h-[240px] lg:h-[240px] lg:max-h-[240px] flex justify-center items-center">
            <div class="w-full max-w-full flex flex-row items-center justify-center">
                <div class="w-6/12 py-12 sm:py-12 md:py-0 lg:py-0">
                    <img class="object-cover rounded-full" 
                    width="160" height="160" *ngIf="image" [ngSrc]="image" alt="">
                </div>
                <div>
                    <div class="text-white text-lg font-semibold">{{author}}</div>
                    <div class="text-white text-sm capitalize">{{'plans.student' | translate}}</div>
                </div>
            </div>
        </div>
        <div class="relative flex justify-between items-center rounded-t-[0px] sm:rounded-t-[0px] md:rounded-t-[200px] lg:rounded-t-[200px] px-16 h-full max-h-full sm:h-full sm:max-h-full md:h-[351px] md:max-h-[351px] lg:h-[351px] lg:max-h-[351px] rounded-b-lg"
        [ngStyle]="{'background-color': '#E6583D'}">
            <div class="hidden sm:hidden md:block lg:block -mt-[32px] absolute top-0 left-1/2 transform -translate-x-1/2 translate-y-1/2 rotate-45 w-8 h-8 bg-[#E6583D]"></div>
            <div class="w-full max-w-full flex flex-col justify-between text-white text-center">
                <div class="py-8 sm:py-8 md:py-0 lg:py-0 leading-5 text-[0.9rem]" [innerHtml]="shortdescription"></div>
                <div class="py-4 capitalize">{{date}}</div>
            </div>
        </div>
    </div>
</div>
