<div class="hidden sm:hidden md:block lg:block">
    <app-breadcrumb 
        [level1Title]="level1Title"
        [level2Title]="level2Title"
        [level3Title]="level3Title"
        [level4Title]="level4Title"
        [buttonColor]="buttonColor"
        (goBack)="handleGoBack()"
    />
</div>
<div class="py-10">
    <div class="w-full max-w-full">
        <div class="text-4xl font-semibold pt-24 sm:pt-24 md:pt-4 lg:pt-4">{{ 'tutors.tutor' | translate }}</div>
        <div *ngIf="superAdmin || canCreate" class="flex mt-3 sm:mt-3 md:mt-0 lg:mt-0">
            <button 
                class="h-[52px] flex items-center p-3.5 px-8 sm:px-8 md:px-12 lg:px-12 rounded-[15px] justify-evenly mt-4 mr-4"
                (click)="handleEditRoute()" 
                [ngStyle]="{
                    'background-color': buttonColor,
                    'opacity': editHover ? 1.5 : 1,
                    'filter': editHover ? 'brightness(0.8)' : 'brightness(1)'
                }"
                (mouseover)="toggleEditHover(true)"
                (mouseleave)="toggleEditHover(false)"
            >
                <svg class="w-3 h-3 text-white dark:text-white mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m13.835 7.578-.005.007-7.137 7.137 2.139 2.138 7.143-7.142-2.14-2.14Zm-10.696 3.59 2.139 2.14 7.138-7.137.007-.005-2.141-2.141-7.143 7.143Zm1.433 4.261L2 12.852.051 18.684a1 1 0 0 0 1.265 1.264L7.147 18l-2.575-2.571Zm14.249-14.25a4.03 4.03 0 0 0-5.693 0L11.7 2.611 17.389 8.3l1.432-1.432a4.029 4.029 0 0 0 0-5.689Z"/>
                </svg>
                <span class="text-white text-md font-semibold uppercase">{{ 'plan-details.edit' | translate }}</span>
            </button>
            <button 
                class="flex items-center border p-3.5 px-8 sm:px-8 md:px-12 lg:px-12 rounded-[15px] justify-evenly mt-4"
                (click)="handleDeactivate()" 
                [ngStyle]="{
                    'border-color': deactivateHover ? 'transparent' : buttonColor,
                    'background-color': deactivateHover ? buttonColor : '#fff',
                }"
                (mouseover)="toggleDeactivateHover(true)"
                (mouseleave)="toggleDeactivateHover(false)"
            >
                <svg [ngStyle]="{'color': deactivateHover ? '#fff' : buttonColor}" class="w-2 h-2 font-semibold dark:text-white mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                    <path d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z"/>
                </svg>
                <span [ngStyle]="{'color': deactivateHover ? '#fff' : buttonColor}" class="text-md font-semibold uppercase">{{ 'plan-details.delete' | translate }}</span>
            </button>
        </div>
    </div>
</div>
<div>
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 mb-20 rounded-[30px] rounded-tr-[10px]" [ngStyle]="{'background-color': showCalendarSection ? buttonColor : 'transparent'}">
        <div class="rounded-[30px] w-full max-w-full row-span-1 cursor-pointer relative">
            <app-tutor-card
                [id]="tutor?.id"
                [path]=""
                [image]="tutorImage"
                [name]="tutor?.name"
                [first_name]="tutor?.first_name"
                [last_name]="tutor?.last_name"
                [rating]="tutorRating"
                [city]="tutor?.city"
                [languages]="tutor?.languages"
                [types]="types"
                [page]="'detail'"
                [buttonColor]="buttonColor"
                [showSettings]="superAdmin || canCreate || tutor?.user_id == userId"
                (onSettingsClick)="handleSettingsClick()"
                (onQuestionClick)="handleQuestionClick()"
            >
            </app-tutor-card>
        </div>
        <div 
            class="flex flex-col justify-between pl-[58px]"
            [ngStyle]="{'background-color': showCalendarSection ? buttonColor : 'transparent',
            'color': showCalendarSection ? '#fff' : '#1e1e1e'}"
        >
            <div class="pt-3 text-3xl font-semibold">{{tutor?.name}}</div>
            <div class="py-3 sm:py-3 md:py-0 lg:py-0">
                <div class="flex">
                    <ng-container *ngIf="tutorRating > 0">
                        <svg *ngIf="!(tutorRating > 0 && tutorRating < 1)" [ngStyle]="{'color': '#fbbf24'}" class="w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg *ngIf="tutorRating > 0 && tutorRating < 1" [ngStyle]="{'color': '#fbbf24'}" class="w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 12 20">
                            <path d="M11.707.707A1 1 0 0 0 11 .414a1.6 1.6 0 0 0-1.409.816l-2.525 4.6-5.687.744A1.576 1.576 0 0 0 .065 7.667a1.485 1.485 0 0 0 .456 1.566l4.05 3.552-.95 4.988a1.5 1.5 0 0 0 .567 1.473 1.624 1.624 0 0 0 1.703.18l5.194-2.457a1 1 0 0 0 .915-1V1.414a1 1 0 0 0-.293-.707Z"/>
                        </svg>
                    </ng-container>
                    <ng-container *ngIf="tutorRating > 1">
                        <svg *ngIf="!(tutorRating > 1 && tutorRating < 2)" [ngStyle]="{'color': '#fbbf24'}" class="ml-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg *ngIf="tutorRating > 1 && tutorRating < 2" [ngStyle]="{'color': '#fbbf24'}" class="ml-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 12 20">
                            <path d="M11.707.707A1 1 0 0 0 11 .414a1.6 1.6 0 0 0-1.409.816l-2.525 4.6-5.687.744A1.576 1.576 0 0 0 .065 7.667a1.485 1.485 0 0 0 .456 1.566l4.05 3.552-.95 4.988a1.5 1.5 0 0 0 .567 1.473 1.624 1.624 0 0 0 1.703.18l5.194-2.457a1 1 0 0 0 .915-1V1.414a1 1 0 0 0-.293-.707Z"/>
                        </svg>
                    </ng-container>
                    <ng-container *ngIf="tutorRating > 2">
                        <svg *ngIf="!(tutorRating > 2 && tutorRating < 3)" [ngStyle]="{'color': '#fbbf24'}" class="ml-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg *ngIf="tutorRating > 2 && tutorRating < 3" [ngStyle]="{'color': '#fbbf24'}" class="ml-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 12 20">
                            <path d="M11.707.707A1 1 0 0 0 11 .414a1.6 1.6 0 0 0-1.409.816l-2.525 4.6-5.687.744A1.576 1.576 0 0 0 .065 7.667a1.485 1.485 0 0 0 .456 1.566l4.05 3.552-.95 4.988a1.5 1.5 0 0 0 .567 1.473 1.624 1.624 0 0 0 1.703.18l5.194-2.457a1 1 0 0 0 .915-1V1.414a1 1 0 0 0-.293-.707Z"/>
                        </svg>
                    </ng-container>
                    <ng-container *ngIf="tutorRating > 3">
                        <svg *ngIf="!(tutorRating > 3 && tutorRating < 4)" [ngStyle]="{'color': '#fbbf24'}" class="ml-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg *ngIf="tutorRating > 3 && tutorRating < 4" [ngStyle]="{'color': '#fbbf24'}" class="ml-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 12 20">
                            <path d="M11.707.707A1 1 0 0 0 11 .414a1.6 1.6 0 0 0-1.409.816l-2.525 4.6-5.687.744A1.576 1.576 0 0 0 .065 7.667a1.485 1.485 0 0 0 .456 1.566l4.05 3.552-.95 4.988a1.5 1.5 0 0 0 .567 1.473 1.624 1.624 0 0 0 1.703.18l5.194-2.457a1 1 0 0 0 .915-1V1.414a1 1 0 0 0-.293-.707Z"/>
                        </svg>
                    </ng-container>
                    <ng-container *ngIf="tutorRating > 4">
                        <svg *ngIf="!(tutorRating > 4 && tutorRating < 5)" [ngStyle]="{'color': '#fbbf24'}" class="ml-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                        <svg *ngIf="tutorRating > 4 && tutorRating < 5" [ngStyle]="{'color': '#fbbf24'}" class="ml-2 w-4 h-4 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 12 20">
                            <path d="M11.707.707A1 1 0 0 0 11 .414a1.6 1.6 0 0 0-1.409.816l-2.525 4.6-5.687.744A1.576 1.576 0 0 0 .065 7.667a1.485 1.485 0 0 0 .456 1.566l4.05 3.552-.95 4.988a1.5 1.5 0 0 0 .567 1.473 1.624 1.624 0 0 0 1.703.18l5.194-2.457a1 1 0 0 0 .915-1V1.414a1 1 0 0 0-.293-.707Z"/>
                        </svg>
                    </ng-container>
                </div>
            </div>
            <div class="py-3 text-sm" [innerHtml]="tutor?.description"></div>
            <div class="py-3">
                <div class="flex text-base font-medium flex-wrap">
                    <span>{{tutor?.city}}</span>
                    <span class="px-2">{{ (tutor?.languages || ('tutors.spanish' | translate)) ? '•' : '' }}</span>
                    <span>{{tutor?.languages || ('tutors.spanish' | translate)}}</span>
                </div>
            </div>
            <div class="py-3">
                <div class="flex flex-wrap">
                    <ng-container *ngFor="let type of types; let i = index;">
                        <div class="types border rounded-xl px-4 py-[4px] mr-2"
                         [ngClass]="{'border-black': !showCalendarSection, 'border-white': showCalendarSection}">
                            <div class="text-xs" title="{{type}}">{{ type }}</div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="py-3">
                <div class="inline-block h-[52px] mb-12 text-base uppercase px-16 pt-[14px] hover:cursor-pointer font-semibold rounded-[15px]"
                    [ngStyle]="{'background-color': showCalendarSection ? '#fff' : buttonColor,
                        'color': showCalendarSection ? '#1e1e1e' : '#fff'}"
                    (click)="learnMore()">
                    <div class="flex items-center align-center">
                        {{ 'tutors.learnmore' | translate }}
                    </div>
                </div>
            </div>
            <div class="pb-3">
                <div>{{ 'tutors.tutorsince' | translate }} <span class="font-bold">{{ tutor?.created | date:'d MMM, yyyy' }}</span></div>
            </div>
        </div>
        <div class="bg-white" *ngIf="showCalendarSection">
            <ng-container *ngIf="userCourses?.length > 1 && workingCourses?.length > 1">
                <div>
                    <div class="w-full max-w-full relative" [ngStyle]="{'background-color': buttonColor}">
                        <div class="text-white uppercase text-center py-2" [ngStyle]="{'background-color': buttonColor}">{{'tutors.selecttype' | translate}}</div>
                    </div>
                    <div class="flex pt-[20px] border justify-center" [ngStyle]="{'border-color': buttonColor}">
                        <div class="flex justify-evenly mb-5" *ngFor="let item of userCourses">
                            <div 
                                (click)="selectCourse(item)"
                                class="w-auto text-base uppercase p-3 px-6 rounded-[15px] hover:cursor-pointer" 
                                [ngClass]="{'border': selectedWorkingCourse?.id != item?.id}"
                                [ngStyle]="{'background-color': selectedWorkingCourse?.id == item?.id ? buttonColor : '#fff', 
                                    'border-color': selectedWorkingCourse?.id == item?.id ? buttonColor : 'transparent',
                                    'color': selectedWorkingCourse?.id == item?.id ? '#fff' : buttonColor
                                }"
                            >
                                {{getCourseTitle(item)}}
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <app-calendly 
                *ngIf="canBook() && tutorCalendlyUrl"
                [buttonColor]="buttonColor"
                [link]="tutorCalendlyUrl"
                [tutorUserId]="tutor?.user_id"
                [companyId]="companyId"
                [company]="company"
                [tutorId]="tutor?.id"
                [hasFreeBooking]="hasFreeBooking"
                [courseCreditSetting]="courseCreditSetting"
                [remainingCredits]="remainingCourseCredits"
                [name]="me?.name"
                [first_name]="me?.first_name"
                [last_name]="me?.last_name"
                [email]="me?.email"
                [canBook]="canBook()"
                (closeCalendar)="close()"
            >
            </app-calendly>
            <ng-container *ngIf="!canBook() || !tutorCalendlyUrl">
                <div class="h-full max-h-full flex align-center items-center justify-center">
                    <div class="flex-col">
                        <div class="text-center flex justify-center mb-4">
                            <svg class="w-16 h-16 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"/>
                            </svg>
                        </div>
                        <div class="capitalize font-bold px-8 text-center">
                            {{ !canBook() ? 
                                ('course-create.insufficientcredits' | translate) : 
                                (!tutorCalendlyUrl ? 
                                    (
                                        ('company-settings.incomplete' | translate) + ' ' + ('landing.calendar' | translate) + ' ' + ('customer.setup' | translate) + '. ' + ('club-details.pleasecontactadministrator' | translate)
                                    ) : ''
                                )
                            }}
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<button #modalbutton data-modal-target="item-modal" data-modal-toggle="item-modal" class="hidden block text-white bg-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
    &nbsp;
</button>
<div id="item-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-h-full max-w-lg">
        <div class="relative bg-white rounded-lg shadow">
            <button #closemodalbutton type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="item-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">
                    {{ dialogTitle }}
                </h3>
                <ng-container *ngIf="dialogMode == 'settings'">
                    <form class="space-y-6"
                        [formGroup]="setupCalendlyForm" 
                        (ngSubmit)="saveCalendlySettings()" 
                        [ngClass]="{'submitted': setupCalendlyFormSubmitted}"
                    >
                        <div class="flex items-center justify-center mb-4">
                            <input 
                                [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700': setupCalendlyFormSubmitted && setupCalendlyForm.controls['link'] && !setupCalendlyForm.get('link')?.value }"
                                type="text" 
                                class="text-base shadow appearance-none border border-gray-200 rounded-[10px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-none" 
                                placeholder="{{ 'members.link' | translate }}*"
                                formControlName="link"
                                required>
                        </div>
                        <div class="flex items-center justify-center mb-4">
                            <input 
                                [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700': setupCalendlyFormSubmitted && setupCalendlyForm.controls['personal_access_token'] && !setupCalendlyForm.get('personal_access_token')?.value }"
                                type="text" 
                                class="text-base shadow appearance-none border border-gray-200 rounded-[10px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-none" 
                                placeholder="{{ 'members.personalaccesstoken' | translate }}*"
                                formControlName="personal_access_token"
                                required>
                        </div>
                        <div class="text-sm mb-4">
                            {{ "calendly-course.personalaccesstokentext" | translate }} <u><b><i><a href="https://calendly.com/integrations/api_webhooks" target="_blank">{{ "calendly-course.personalaccesstokentext1" | translate }}</a></i></b></u>{{ "calendly-course.personalaccesstokentext2" | translate }}
                        </div>
                        <div class="text-sm mb-4">
                            <div class="mb-2">{{ 'members.foreword' | translate }}</div>
                            <ol>
                                <li>
                                   1. {{ 'members.calendlystep1' | translate }} {{ 'members.signup' | translate }} <a href="https://calendly.com/signup">{{ 'members.here' | translate }}</a>.
                                </li>
                                <li>
                                    2. {{ 'members.calendlystep2' | translate }}
                                </li>
                                <li>
                                    3. {{ 'members.calendlystep3' | translate }} {{ 'members.setup' | translate }} <a href="https://calendly.com/app/calendar_connections">{{ 'members.here' | translate }}</a>.
                                </li>
                                <li>
                                    4. {{ 'members.calendlystep4' | translate }} {{ 'members.organize' | translate }} <a href="https://calendly.com/event_types/user/me">{{ 'members.here' | translate }}</a>.
                                </li>
                                <li>
                                    5. {{ 'members.copy' | translate }} <a href="https://calendly.com/event_types/user/me">{{ 'members.here' | translate }}</a>.
                                </li>
                            </ol>
                        </div>
                        <div class="mt-8 w-full sm:w-full md:w-4/12 lg:w-4/12 mx-auto">
                            <button 
                                type="submit" 
                                class="w-full text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                data-modal-hide="item-modal"
                                [ngStyle]="{
                                    'background-color': buttonColor
                                }"
                            >
                                {{ 'company-settings.save' | translate }}
                            </button>
                        </div>
                    </form>
                </ng-container>
                <ng-container *ngIf="dialogMode == 'question'">
                    <div class="flex justify-between">
                        <div class="flex items-center">
                            <div>
                                <img 
                                    class="mr-4 bg-slate-300 object-cover rounded-full w-[32px] h-[32px] max-w-[32px] max-h-[32px] rounded-full" 
                                    width="32" 
                                    height="32" 
                                    [ngSrc]="me?.image ? (apiPath + me?.image) : './assets/images/empty_avatar.png'">
                            </div>
                            <span class="font-semibold mr-2">{{ 'buddy.from' | translate }}</span> {{ me?.name ? me?.name : ((me?.first_name ? me?.first_name : '') + ' ' + (me?.last_name ? me?.last_name : '')) }}
                        </div>
                        <div class="flex items-center">
                            <span class="font-semibold mr-2">{{ 'buddy.to' | translate }}</span> {{ tutor?.name ? tutor?.name : ((tutor?.first_name ? tutor?.first_name : '') + ' ' + (tutor?.last_name ? tutor?.last_name : '')) }}
                            <div>
                                <img 
                                    class="ml-4 bg-slate-300 object-cover rounded-full w-[32px] h-[32px] max-w-[32px] max-h-[32px] rounded-full" 
                                    width="32" 
                                    height="32" 
                                    [ngSrc]="tutor?.image ? (apiPath + tutor?.image) : './assets/images/empty_avatar.png'">
                            </div>
                        </div>
                    </div>
                    <form class="space-y-6"
                        [ngClass]="{'submitted': questionFormSubmitted}"
                    >
                        <div class="flex items-center justify-center my-4">
                            <textarea name="" id="" cols="30" rows="3"
                                class="w-full rounded-lg p-4 border border-gray-300"
                                placeholder="{{ 'members.askaquestion' | translate }}"
                                [(ngModel)]="message"
                                [ngModelOptions]="{standalone: true}">
                            </textarea>
                        </div>
                        <div class="mt-8 w-full sm:w-full md:w-4/12 lg:w-4/12 mx-auto">
                            <button 
                                class="w-full text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                data-modal-hide="item-modal"
                                [ngStyle]="{
                                    'background-color': buttonColor
                                }"
                                (click)="sendNewQuestion()"
                            >
                                {{ 'buddy.send' | translate }}
                            </button>
                        </div>
                    </form>
                </ng-container>
            </div>
        </div>
    </div>
</div>