<app-page-title title="{{ 'company-settings.statistics' | translate }}"></app-page-title>
<div class="container w-full max-w-full px-4 md:px-0 lg:px-0 mx-auto py-3">
    <app-breadcrumb 
        [level1Title]="level1Title"
        [level2Title]="level2Title"
        [level3Title]="level3Title"
        [level4Title]="level4Title"
        [buttonColor]="buttonColor"
        (goBack)="handleGoBack()"
    />
</div>
<div class="pt-6">
    <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
            <li class="me-2" role="presentation" *ngIf="plansFeatureId > 0">
                <button class="inline-block p-4 border-b-2 rounded-t-lg" id="activities-tab" data-tabs-target="#activities" type="button" role="tab" aria-controls="activities" aria-selected="false">{{plansTitle}}</button>
            </li>
            <li class="me-2" role="presentation" *ngIf="coursesFeatureId > 0">
                <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="courses-tab" data-tabs-target="#courses" type="button" role="tab" aria-controls="courses" aria-selected="false">{{ coursesTitle }}</button>
            </li>
        </ul>
    </div>
    <div id="default-tab-content">
        <div class="hidden p-4 rounded-lg" id="activities" role="tabpanel" aria-labelledby="activities-tab">
            <app-plans-statistics-list
                [company]="company"
                [language]="language"
                [buttonColor]="buttonColor"
                [primaryColor]="primaryColor"
                [userId]="userId"
                [superAdmin]="superAdmin"
                [isUESchoolOfLife]="isUESchoolOfLife"
            ></app-plans-statistics-list>
        </div>
        <div class="hidden p-4 rounded-lg" id="courses" role="tabpanel" aria-labelledby="courses-tab">
            <app-courses-statistics-list
                [company]="company"
                [language]="language"
                [buttonColor]="buttonColor"
                [primaryColor]="primaryColor"
                [userId]="userId"
                [superAdmin]="superAdmin"
                [isUESchoolOfLife]="isUESchoolOfLife"
            ></app-courses-statistics-list>
        </div>
    </div>
</div>