
<div>
    <div class="w-full max-w-full relative">
        <div class="text-white uppercase text-center py-2" [ngStyle]="{'background-color': buttonColor}">
            <div class="grid grid-cols-3 md:grid-cols-3 lg:grid-cols-3">
                <div class="text-sm flex items-center" *ngIf="separateCourseCredits">
                    <span class="px-2">{{bookingCourseTitle}}: </span>
                    <span class="pr-2">1</span>
                    <svg class="w-4 h-4 text-white dark:text-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                          <path d="M7 15.5c0 .049.006.096.007.145a7.3 7.3 0 1 1 8.638-8.638c-.049 0-.096-.007-.145-.007a8.557 8.557 0 0 0-.877.045 6.296 6.296 0 1 0-7.578 7.578A8.557 8.557 0 0 0 7 15.5zm.983-11.27l-.119-.992A5.3 5.3 0 0 0 3.2 8.558c.002.153.01.303.024.45l.995-.093a4.508 4.508 0 0 1-.019-.367A4.3 4.3 0 0 1 7.983 4.23zM22.8 15.5a7.3 7.3 0 1 1-7.3-7.3 7.308 7.308 0 0 1 7.3 7.3zm-1 0a6.3 6.3 0 1 0-6.3 6.3 6.307 6.307 0 0 0 6.3-6.3zm-10.58.415a4.508 4.508 0 0 1-.02-.367 4.3 4.3 0 0 1 3.783-4.318l-.119-.992a5.3 5.3 0 0 0-4.664 5.32c.002.153.01.303.024.45zm8.028-4.163l-.707.707a4.3 4.3 0 1 1-6.082 6.082l-.707.707a5.3 5.3 0 0 0 7.496-7.496z"></path>
                          <path fill="none" d="M0 0h24v24H0z"></path>
                        </g>
                    </svg>
                </div>
                <div>Calendly</div>
                <div class="flex justify-end pr-3 pt-1">
                   <img width="14" height="14" 
                    class="hover:cursor-pointer w-[14px] h-[14px] object-cover object-cover"
                    [ngSrc]="'./src/assets/icons/close.png'" alt="" 
                    (click)="close()" /> 
                </div>
            </div>
        </div>
        
    </div>
    <div #container 
        class="calendly-inline-widget" 
        style="min-width:320px;height:559px;min-height:559px;" 
        data-auto-load="false">
    </div>
</div>
<button #modalbutton data-modal-target="static-modal" data-modal-toggle="static-modal" class="hidden block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
    Toggle modal
</button>
<div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-lg max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="hidden flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Static modal
                </h3>
                <button #closemodalbutton type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="static-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="p-4 md:p-5">
                <ng-container *ngIf="!hasSyncError">
                    <svg class="w-10 h-10 text-gray-400 dark:text-gray-500 mb-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
                        <path d="M8 5.625c4.418 0 8-1.063 8-2.375S12.418.875 8 .875 0 1.938 0 3.25s3.582 2.375 8 2.375Zm0 13.5c4.963 0 8-1.538 8-2.375v-4.019c-.052.029-.112.054-.165.082a8.08 8.08 0 0 1-.745.353c-.193.081-.394.158-.6.231l-.189.067c-2.04.628-4.165.936-6.3.911a20.601 20.601 0 0 1-6.3-.911l-.189-.067a10.719 10.719 0 0 1-.852-.34 8.08 8.08 0 0 1-.493-.244c-.053-.028-.113-.053-.165-.082v4.019C0 17.587 3.037 19.125 8 19.125Zm7.09-12.709c-.193.081-.394.158-.6.231l-.189.067a20.6 20.6 0 0 1-6.3.911 20.6 20.6 0 0 1-6.3-.911l-.189-.067a10.719 10.719 0 0 1-.852-.34 8.08 8.08 0 0 1-.493-.244C.112 6.035.052 6.01 0 5.981V10c0 .837 3.037 2.375 8 2.375s8-1.538 8-2.375V5.981c-.052.029-.112.054-.165.082a8.08 8.08 0 0 1-.745.353Z"/>
                    </svg>
                    <h3 class="mb-1 text-xl font-bold text-gray-900 dark:text-white">{{'calendly-course.syncingyourbooking' | translate}}</h3>
                    <p class="text-gray-500 dark:text-gray-400 mb-6">{{'calendly-course.pleasedonotclose' | translate}}<p>
                    <div class="flex justify-between mb-1 text-gray-500 dark:text-gray-400">
                        <span class="text-base font-normal">% {{'tutors.completed' | translate}}</span>
                        <span class="text-sm font-semibold text-gray-900 dark:text-white">{{processingProgress}}%</span>
                    </div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-600">
                        <div class="bg-orange-500 h-2.5 rounded-full" [ngStyle]="{'width': processingProgress + '%'}"></div>
                    </div>
                    <div class="flex items-center mt-6 space-x-4 rtl:space-x-reverse">
                        <button *ngIf="processingProgress == 100"  data-modal-hide="static-modal" type="button" 
                            class="hidden text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            [ngStyle]="{'background-color': buttonColor}">
                            OK
                        </button>
                    </div>
                </ng-container>
                <ng-container *ngIf="hasSyncError">
                    <svg class="w-10 h-10 text-red-600 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>    
                    <h3 class="my-4 text-xl font-bold text-gray-900 dark:text-white">{{'dialog.error' | translate}}</h3>                  
                    <div class="flex items-center mt-6 space-x-4 rtl:space-x-reverse">
                        <button (click)="closeProcessingModal()" data-modal-hide="static-modal" type="button" 
                            class="text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            [ngStyle]="{'background-color': buttonColor}">
                            OK
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showConfirmationModal">
    <app-toast 
        [company]="company" 
        [update]="false" 
        [confirm]="true"
        [title]="confirmItemTitle"
        [description]="confirmItemDescription"
        [acceptText]="acceptText"
        (onAccept)="confirm()"
    ></app-toast>
</div>