Calendly {{link}}
<div>
    <div class="w-full max-w-full relative">
        <div class="text-white uppercase text-center py-2" [ngStyle]="{'background-color': buttonColor}">Calendly</div>
        <img width="14" height="14" 
            class="hover:cursor-pointer w-[14px] h-[14px] object-cover object-cover absolute right-[10px] top-[12px]"
            [ngSrc]="'./src/assets/icons/close.png'" alt="" 
            (click)="close()" />
    </div>
    <div #container 
        class="calendly-inline-widget" 
        style="min-width:320px;height:559px;min-height:559px;" 
        data-auto-load="false">
    </div>
</div>
<app-toast 
    *ngIf="showConfirmationModal" 
    [company]="company" 
    [update]="false" 
    [confirm]="true"
    [title]="confirmItemTitle"
    [description]="confirmItemDescription"
    [acceptText]="acceptText"
    (onAccept)="confirm()"
></app-toast>